
#menu-top-costumizer *{
	margin: 0;
	padding: 0;
}

#menu-top-costumizer, #menu-left-costumizer, #menu-right-costumizer, #menu-right-sub-costumizer{
	background-color: #333;
	position: fixed;
	z-index: 9999999;
}

#menu-top-costumizer{
	top: 0px;
	left: 0px;
	right: 0px;
	/* background-color: #404040; */
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.save-costumizer.disabled{
    background-color: #f4aba9;
    border-color: #ff8682;
}

#menu-top-costumizer div{
	display: flex;
}

#menu-top-costumizer li{
    display: inline-block;
}

#menu-top-costumizer li a {
    color: #ababab;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 40px;
    min-width: 40px;
	text-decoration:none;
	line-height: 40px;
    padding: 0px 15px;
    font-size: 16px;
}

#menu-top-costumizer .menu-help-and-feedback {
    color: #ababab;
    border-left: 1px solid #212121;
}

#menu-top-costumizer .menu-help-and-feedback .menu-item-help-and-feedback, 
#menu-top-costumizer .menu-version-and-info .menu-item-version-and-info a{
    color: white;
}

#menu-top-costumizer li a span:last-child{
    padding-left: 8px;
}

#menu-top-costumizer .costum-title{
    display: flex;
    align-items: center;
}

#menu-top-costumizer .costum-title li{
    margin-right:10px;
    font-weight: bold;
    text-transform: capitalize;
}

#menu-top-costumizer .costum-title li:first-child a{
	display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    background-color: #93C020;
    color: white;
}

#menu-top-costumizer .costum-title li:last-child a{
	padding-left: 15px;
	font-size: 16px;
}
#menu-top-costumizer .costum-title li:last-child a span{
	color: white;
	font-weight: bold;
	padding-left: 5px;
}

#menu-top-costumizer .screen-size-nav li a{
    font-size: 24px;
    border-right: 1px solid #212121;
}
#menu-top-costumizer .screen-size-nav li:first-child a{
    border-left: 1px solid #212121;
}

#menu-top-costumizer .menu-right-costumizer-nav{
	width: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#menu-top-costumizer .menu-right-costumizer-nav li{
	width: 100%;
}
#menu-top-costumizer .menu-right-costumizer-nav li a{
	display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-right: 1px solid #212121;
    font-size: 22px;
    background-color: #2b2b2b;
    color: #ababab;
}
#menu-top-costumizer .menu-right-costumizer-nav li:first-child a{
    border-left: 1px solid #212121;
}
#menu-top-costumizer .menu-right-costumizer-nav li a.active{
    background-color: #404040;
    color: white;
}

#menu-top-costumizer .action-nav li a i{
    font-size: 22px;
}
#menu-top-costumizer .action-nav li:last-child a{
    padding: 0px 15px;
}

#menu-top-costumizer .action-nav li a{
    border-left: 1px solid #212121;
}
#menu-top-costumizer .btn-costumizer-viewMode.active{
    background-color: orange;
    color: #2b2b2b;
}

#menu-left-costumizer{
	left: 0px;
	bottom: 0px;
	width: 40px;
	background-color: #2b2b2b;
	height: calc(100vh - 40px);
}
#menu-left-costumizer ul{
    padding: 0;
    list-style: none;
}
#menu-left-costumizer > ul > li > a{
    vertical-align: middle;
    line-height: 50px;
    text-align: center;
    position: relative;
}
#menu-left-costumizer > ul > li > a .tooltips-menu-btn{
    font-weight:bold;
    left: 47px;
    width: max-content;
}

#menu-left-costumizer > ul > li > a .tooltips-menu-btn{
    font-weight:bold;
    left: 47px;
    width: max-content;
}
#menu-left-costumizer > ul > li > a, #menu-left-costumizer > ul > li > div > i{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 22px;
    color: #ababab;
    border-bottom: 1px solid #212121;
    text-decoration: none;
}
#menu-left-costumizer ul li a:hover{
    color: white;
}
#menu-right-costumizer, #menu-right-costumizer-hover{
	right: 0px;
	z-index: 1000000;
    bottom: 0px;
	height: calc(100vh - 40px);
   	background-color: #434343;
}
/* #menu-right-costumizer-hover, #menu-sub-right-costumizer{
    display: none;
    z-index:1000001;
    bottom: 0px;
    top: 40px;
    position: fixed;
    background-color: #434343;
} */
.modal-tools-costumizer .subMenuTools{
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    border-top: 1px solid #666666;
}

.modal-tools-costumizer .subMenuTools a{
    color: white;
    border-radius:0px;
}
.modal-tools-costumizer .subMenuTools a:not(:first-child) {
     border-left: 1px solid #666666;
}


.modal-tools-costumizer .subMenuTools a:hover{
    background-color: rgba(250,250,250,0.2);
    color: white;
}
.modal-tools-costumizer .subMenuTools a.active{
    background-color: rgba(250,250,250);
    color: #434343;
}
.nav-costumizer.btn-sub-menu-vertical{
    position:relative;
}
.nav-costumizer.btn-sub-menu-vertical .tooltips-sub-menu-btn {
    display: none;
    position: absolute;
    background-color: #2C3E48;
    color: white;
    padding: 0px;
    font-size: 14px;
    font-variant-caps: initial;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 22px;
    width: 150px;
}
.nav-costumizer.btn-sub-menu-vertical .tooltips-sub-menu-btn{
    left: 40px;
    top: 0px;
}
.nav-costumizer.btn-sub-menu-vertical .tooltips-sub-menu-btn .title{
        font-variant: small-caps;
    font-weight: 900;
    background-color: #434343;
    display: flex;
    padding: 5px 20px;
    line-height: 40px;
    height: 50px;
    border-bottom: 1px solid #212121;
    font-size: 16px;
}
.nav-costumizer.btn-sub-menu-vertical .tooltips-sub-menu-btn a.nav-costumizer.btn-menu-vertical {
    display: flex;
    background-color: #2b2b2b;
    border-bottom: 1px solid #212121;
    padding: 5px 0px 5px 20px;
    font-size: 16px;
    color: #ababab;
}

.nav-costumizer.btn-sub-menu-vertical .tooltips-sub-menu-btn a{
    display: flex;
    background-color: #2b2b2b;
    border-bottom: 1px solid #212121;
    padding: 5px 0px 5px 20px;
    font-size: 16px;
    color:#ababab;
}

.nav-costumizer.btn-sub-menu-vertical .tooltips-sub-menu-btn a:hover {
    background-color: #343434;
    color:white;
}

#menu-left-costumizer .active{
    background-color: #ffffff;
    color:#2b2b2b;
}

#menu-left-costumizer .active i{
    color:#2b2b2b;
}

#modal-content-costumizer-administration{ 
    position: fixed;
    left: 0px;
    top: 40px;
    right: 0px;
    z-index: 200000;
    background-color: white;
    bottom: 0px;
    display:none;
    overflow-y: auto;
}
#menu-right-costumizer{ 
    position: fixed;
    right: 0px;
    top: 40px;
    width: 300px;
    z-index: 100002;
    background-color: #2b2b2b;
    color:white;
    bottom: 0px;
    box-shadow: -1px 0px 3px 0px #666;
    display:none;
    overflow-y: auto;
}
.modal-tools-costumizer, .modal-tools-costumizer-footer{
    right: 0px;
    left: 40px;
}
.modal-tools-costumizer-footer{
    left: inherit;
    bottom: 0px;
    padding-top: 15px;
    height: 70px;
    padding-bottom: 15px;
    background-color: #2b2b2b;    
    border-top: 1px solid #656565;
}
.modal-tools-costumizer{ 
    left: inherit;
    border-bottom: 1px solid #666;    
    border-top: 1px solid #656565;
    /*padding: 10px;*/
    height: 60px;
}
.modal-tools-costumizer .container-close{
    position: absolute;
    right: 0px;
    line-height: 40px;
}
.modal-tools-costumizer .container-close > button, 
/* #menu-sub-right-costumizer .modal-tools-costumizer .container-close > button{
    padding: 3px 7px;
    border-radius: 20px;
    background: #2b2b2b;
} */

/* .modal-tools-costumizer .container-close > button:hover,
#menu-sub-right-costumizer .modal-tools-costumizer .container-close > button{
    color: lightgray;
} */
#menu-right-costumizer-hover .modal-tools-costumizer .costumizer-title{
    color: lightgray;
}
.modal-tools-costumizer .costumizer-title{
    position:relative;
    float:left;
    max-width: 80%;
    line-height: 40px;
    padding-right: 5px;
}

.contains-view-admin{
    padding:5px;
}
#menu-right-costumizer .contains-view-admin{
    padding:5px; 
    margin-top: 20px;
    margin-bottom: 40px;
}
.configOptions{
    display: inline-grid;
    /* margin: 5px; */
    box-shadow: 1px 1px 3px 0px #666;
    padding: 0px;
    cursor: pointer;
}
/*.configOptions.active{
    box-shadow: 0px 0px 3px 2px #45b2ff;
}
.config-name.active{
    font-weight: bolder;
    color:#45b2ff;
}*/


.editMenuCostumizer .titleSection span{
    padding-right: 20px;
}
.editMenuCostumizer .editMenuCostumizer, .manageMenusCostum, .column-menu-costumizer, .button-menu-costumizer{
    border:  2px solid #eee;
    margin-bottom: 1px;
    text-align: center;
    position: relative;
    padding: 10px;
}
.button-menu-costumizer{
    padding:10px;
    padding: 10px;
    width: 100%;
    margin-bottom: 4px;
    cursor: move;
}
.button-menu-costumizer span.keyButton {
    width: calc(100% - 60px);
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.button-menu-costumizer .labelStatusMenuButton, .button-menu-costumizer .labelMenuButton {
    width: 85%;
    float: left;
    padding-left: 5px;
    text-align: left;
    position: relative;
    display: inline-block;
    font-size: 16px;
}
.button-menu-costumizer .labelStatusMenuButton, .button-menu-costumizer .labelMenuButton {
    width: 85%;
    float: left;
    padding-left: 5px;
    text-align: left;
    position: relative;
    display: inline-block;
    font-size: 16px;
}
#modal-content-costumizer-administration .button-menu-costumizer .labelStatusMenuButton, #modal-content-costumizer-administration .button-menu-costumizer .labelMenuButton{
    width: calc(100% - 50px);
    float: left;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 5px;
}
#modal-content-costumizer-administration .button-menu-costumizer .labelStatusMenuButton::before,
#modal-content-costumizer-administration .button-menu-costumizer .labelMenuButton::before {
    content: '';
    position: absolute;
    display: block;
    width: 140px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 80px);
}

#modal-content-costumizer-administration .button-menu-costumizer .labelStatusMenuButton::after,
#modal-content-costumizer-administration .button-menu-costumizer .labelMenuButton::after {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    background: #086784;
    bottom: 0;
    left: calc(50% - 42px);
}
.button-menu-costumizer .labelMenuButton{
    line-height: 25px;
}
.button-menu-costumizer .iconMenuContains {
    display: inline-block;
    line-height: 25px;
    float: left;
    width: 15%;
}
#modal-content-costumizer-administration .button-menu-costumizer .iconMenuContains{
    margin-left: -10px;
    margin-top: -10px;
    text-align: center;
}
.button-menu-costumizer .iconMenuContains i {
    font-size: 25px;
    display: inline-flex;
    height: 25px;
    position: relative;
}
#modal-content-costumizer-administration .button-menu-costumizer .iconMenuContains i{
    font-size: 22px;
    display: block;
    width: 45px;
    height: 45px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px 0 21px 0;
    border: 2px solid #eee;
    background-color: #eee;
    border-top-left-radius: 0px;
    /*box-shadow: 2px 2px 5px 1px #ccc;*/
}
.button-menu-costumizer .labelMenuButton span{
    vertical-align: middle;
    font-weight: 800;
    
}
#modal-content-costumizer-administration .button-menu-costumizer .labelStatusMenuButton .titleButtonMenu{
    font-weight: 800;
    width: 100%;
    font-size: 16px;
}

#modal-content-costumizer-administration .button-menu-costumizer .labelStatusMenuButton .statusButtonMenu{
    font-weight: 100;
    font-size: 10px;
    width: 100%;
    font-style: italic;
}
.button-menu-costumizer .labelStatusMenuButton{
    line-height: 15px;
}
#modal-content-costumizer-administration .button-menu-costumizer.hover .iconMenuContains i {
    border: 2px solid #086784;
    background-color: #086784;
    color: #ffffff;
}

.button-menu-costumizer:hover{
    border-color: #086784;
}
.button-menu-costumizer.button-show-list{    
    border: 1px solid #086784;
    display: inline-block;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #086784;
    border-radius: 5px;
}
.button-menu-costumizer.button-show-list:hover{   
    opacity: 0.8;
}
.button-menu-costumizer.button-show-list i{
    text-align: center;
    margin-right: 10px;
}
.editMenuCostumizer .titleSection{
    float:left;
    display: block;
    text-align: left;
    width: 100%;
    padding-bottom: 5px;
}
.editMenuCostumizer .titleSection span{
    font-weight: 800;
}
.toolsButtonEdit{
    font-size: 12px;
    padding: 5px 10px ;
}
.button-menu-costumizer.dragNewBtn{
    text-align: center;
    cursor:copy;
    width: 100%;
}
.button-menu-costumizer.dragNewBtn .iconMenuContains{
    float: inherit;
    text-align: center;
    width: 100%;
}
.button-menu-costumizer.dragNewBtn .titleButtonMenu{
    font-weight: 800;
    font-size: 14px;
    overflow: initial;
    text-overflow: initial; 
    white-space: nowrap; overflow: hidden; 
    max-width: 98%;
    width: 100%;
}
/*.button-menu-costumizer.dragNewBtn:hover{
     border: 2px dashed #93C020;
}*/

/*  **************** style by nicoss  ******************* */

.explain-admin-costumizer h3 {
    padding-bottom: 20px;
    border-bottom: 2px dashed rgba(50, 50, 51);
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}
.explain-admin-costumizer h5 {
    text-transform: none;
}
.explain-admin-costumizer span {
    font-size: 14px;
    font-weight: 700;
}
.explain-admin-costumizer h3 {
    padding-bottom: 20px;
    border-bottom: 2px dashed rgba(50, 50, 51);
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}
.explain-admin-costumizer {
    margin-top: 20px;
    height: auto;
    border-bottom: 5px #323233 solid;
    background: #e3e1e1;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 28px;
    padding: 20px 20px 20px 40px;
}
.explain-admin-costumizer span.icon-info {
    position: absolute;
    left: -50px;
    top: 50%;
    background: #e3e1e1;
    color: #323233;
    padding: 15px;
    width: 90px;
    font-size: 34px;
    height: 90px;
    margin-top: -50px;
    border: 5px solid #ffffff;
    border-radius: 50%;
    transition: all ease-in-out 500ms;
}
.explain-admin-costumizer:hover span.icon-info {
    color: #555555;
    transform: rotate(360deg);
}


.box-mockup,.loader_section{overflow:hidden;margin-top:20px;margin-bottom:20px}
.box-mockup,.loader_section{background:#3c3c3c;position:relative;-webkit-transition:all .35s ease;transition:all .35s ease}
.box-mockup:after,.box-mockup:before,.loader_section:after,.loader_section:before{content:"";width:100%;height:100%;position:absolute;top:0;left:0;background:#3c3c3c;border-left:3px solid #fff;border-right:3px solid #fff;opacity:.9;z-index:1;-webkit-transition:all .35s ease;transition:all .35s ease}
.box-mockup img{height:auto;width:100%}
.box-mockup:before,.loader_section:before{-webkit-transform:skew(45deg) translateX(-155%);transform:skew(45deg) translateX(-155%)}
.box-mockup:hover:before,.loader_section:hover:before{-webkit-transform:skew(45deg) translateX(-55%);transform:skew(45deg) translateX(-55%)}
.box-mockup:after,.loader_section:after{-webkit-transform:skew(45deg) translateX(155%);transform:skew(45deg) translateX(155%)}
.box-mockup:hover:after,.loader_section:hover:after{-webkit-transform:skew(45deg) translateX(55%);transform:skew(45deg) translateX(55%)}
.box-mockup img{-webkit-transition:all .35s ease;transition:all .35s ease}
.box-mockup:hover img{opacity:.5}
.box-mockup .box-content,.loader_section .box-content{position:absolute;top:50%;left:50%;-webkit-box-shadow:0 0 10px #3c3c3c;box-shadow:0 0 10px #3c3c3c;opacity:0;z-index:2;-webkit-transform:translate(-50%,-50%) scale(.5);transform:translate(-50%,-50%) scale(.5);-webkit-transition:all .35s ease;transition:all .35s ease}
.box-mockup:hover .box-content,.loader_section:hover .box-content{-webkit-transform:translate(-50%,-50%) scale(1);transform:translate(-50%,-50%) scale(1);opacity:1}
.box-mockup .post,.box-mockup .title,.loader_section .post,.loader_section .title{font-size:18px;font-weight:600;letter-spacing:1px;text-transform:uppercase;background:#3c3c3c;border:2px solid #fff;color:#fff;padding:15px 20px;margin:0}
.box-mockup .post {text-transform:capitalize}
.box-mockup .post,.loader_section .post{display:block;font-size:14px;font-weight:400;padding:5px 10px;margin-top:15px}
.box-mockup,.loader_section{box-shadow:0 0 5px #7e7d7d;text-align:center;border-bottom: 5px #323233 solid;border-radius: 10px;border-right: 2px dotted #323233;border-left: 2px #323233 dotted;border-top: 2px #323233 dotted;}
@media only screen and (max-width:990px){.box-mockup{margin-bottom:30px}  }
.parentSitemapOptions.active .box-mockup:after, .parentSitemapOptions.active .box-mockup:before, .card_loader.active .loader_section:after, .card_loader.active .loader_section:before { border-left: 3px solid #086784;border-right: 3px solid #086784;}
.parentSitemapOptions.active .box-mockup, .card_loader.active .loader_section {box-shadow: 0 0 5px #086784;border-bottom: 5px #086784 solid;border-radius: 10px;border-right: 2px dotted #086784;border-left: 2px #086784 dotted;border-top: 2px #086784 dotted;background-color: #086784;}
.parentSitemapOptions.active .box-mockup .post, .parentSitemapOptions.active .box-mockup .title, .card_loader.active .loader_section .post, .card_loader.active .loader_section .title {border: 2px solid #086784;color: #086784;background-color: #fff;}
.loader_section a:hover .post,.loader_section a:focus .post,.loader_section a:active .post {border-color:#086784;background-color: #fff;color:#086784;}
.loader_section a:hover,.loader_section a:focus, .loader_section a:active {text-decoration: none;}

.editMenuCostumizer:not(.editMenuCostumizer .editMenuCostumizer) {
    border-radius: 5px;
    border: 3px solid #323233;
    background-color: #fff;
    margin: 35px 0px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
}
.editMenuCostumizer h5.labelEditMenu {
    background-color: #323233;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    margin-top: -40px;
    color: #fff;
    margin-bottom: 20px;
    text-transform: none;
}

.titleSection .bootstrap-switch {
    float: right;
}

.costumizer-title:not(.modal-tools-costumizer .costumizer-title) {
    text-align: center;
    color: #3f4e58;
    border-bottom: 3px solid #9fbd38;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}
.modal-tools-costumizer .costumizer-title {
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
}

/*  **************** end style by nicoss  ******************* */

/*  **************** style web design  ******************* */

.contains-view-admin #accordion .panel-title a:hover, #accordion .panel-title a:focus,
.cmsbuilder-right-content .panel-title a:hover, .cmsbuilder-right-content .panel-title a:focus, #right-sub-panel-container #accordion .panel-title a:hover  {
    text-decoration: none;
    outline: none;
}
.contains-view-admin #accordion .panel, .cmsbuilder-right-content .panel, #right-sub-panel-container #accordion .panel {
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 15px;
}
.contains-view-admin #accordion .panel-heading, .cmsbuilder-right-content #accordion .panel-heading, #right-sub-panel-container #accordion .panel-heading {
    padding: 0;
    border-radius:0;
    border: none;
}
.contains-view-admin #accordion .panel-title a, .cmsbuilder-right-content .panel-title a, #right-sub-panel-container #accordion .panel-title a {
    display: block;
    padding: 14px 15px 14px 70px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #565a5b;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease 0s;
}
.contains-view-admin #accordion .panel-title a.collapsed, .cmsbuilder-right-content .panel-title a.collapsed, #right-sub-panel-container #accordion .panel-title a.collapsed {
    background: #fff;
    color: #565a5b;
}
.contains-view-admin #accordion .panel-title a.collapsed:hover, .cmsbuilder-right-content .panel-title a.collapsed:hover, #right-sub-panel-container #accordion .panel-title a.collapsed:hover {
    color: #565a5b;
}
.cmsbuilder-right-content .sp-cms-options {
    padding-left: 5px;
    padding-right: 5px;
}
.contains-view-admin #accordion .panel-title a:before, .cmsbuilder-right-content .panel-title a:before, #right-sub-panel-container #accordion .panel-title a:before {
    content: "";
    width: 65px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: -13px;
    transform: skewX(-25deg);
    transition: all 0.5s ease 0s;
}
.contains-view-admin #accordion .panel-title a.collapsed:hover:before, .cmsbuilder-right-content .panel-title a.collapsed:hover:before, #right-sub-panel-container #accordion .panel-title a.collapsed:hover:before {
    background: #565a5b;
}
.contains-view-admin #accordion .panel-title a span, .cmsbuilder-right-content .panel-title a span, #right-sub-panel-container #accordion .panel-title a span {
    position: absolute;
    left: 10px;
    top: 48%;
    color: #fff;
    font-size: 30px;
    transform: translateY(-50%);
}
.contains-view-admin #accordion .panel-title a.collapsed:after, .cmsbuilder-right-content .panel-title a.collapsed:after, #right-sub-panel-container #accordion .panel-title a.collapsed:after {
    color: #9f9f9f;
}
.contains-view-admin #accordion .panel-title a.collapsed:hover:after, .cmsbuilder-right-content .panel-title a.collapsed:hover:after, #right-sub-panel-container #accordion .panel-title a.collapsed:hover:after {
    color: #fff;
}
.contains-view-admin #accordion .panel-body, .cmsbuilder-right-content .panel-body, #right-sub-panel-container #accordion .panel-body {
    font-size: 14px;
    color: #000000;
    line-height: 25px;
    position: relative;
    border: none;
    transition: all 0.5s ease 0s;
    padding: 5px 5px;
}
.contains-view-admin #accordion .panel-body li {
    border-bottom: 1px solid rgba(255, 183, 72, .4);
}
.contains-view-admin #accordion .panel-body li .form-group label,
.contains-view-admin #accordion .panel-body li .form-group input[type=file] {
    font-size: 14px;
}
.contains-view-admin #accordion .panel-body li:hover {
    background-color: #F7F7F9;
}

/*  **************** end style web design  ******************* */
.manageMenusCostum > .sortable-list{
    min-height:40px;
    transition: all .5s ease;
}
    

.sortable-list .ph-class{
    width: 100%;
    height: 40px;
    background-color:#ffdea1;
    position: relative;
    display: inline-block;
    float: left;
}
.editMenuStandalone{
    position: absolute;
    border: 0px;
    background-color: #1890FF;
   
}
#mainNav .editMenuStandalone, #subMenu .editMenuStandalone {
    right: 46%;
    bottom: 0px;
    width: 45px;
    height: 25px;
    border-radius: 5px 5px 0px 0px;
}
#menuLeft .editMenuStandalone{
    top: 20%;
    bottom:inherit;
    right: -25px;
    height: 45px;
    width: 25px;
    border-radius: 0px 5px 5px 0px;
}
.comming-soon-badge{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    text-transform: capitalize;
    background: white;
    box-shadow: -1px 1px 3px 0px #ccc;
    color: #3f4e58;
}
.editMenuStandalone > i{
    font-size: 15px;
}
.configuration-menus-costumizer.blur, 
.configuration-menus-costumizer.focused {
    backdrop-filter: inherit;
    box-shadow: 0px 0px 5px 1px #1890FF !important;
}

.configuration-menus-costumizer.focused {
    background-color: rgb(24, 144, 255, .15);
}

/* ***************** table pages styles *************** */

#modal-content-costumizer-administration .contains-view-admin {
    padding: 20px 15px !important;
    background-color: #ecf0f3;
    height: calc(100vh - 100px);
    overflow: auto;
}
#modal-content-costumizer-administration .modal-tools-costumizer{
    padding: 9px; 
}
#modal-content-costumizer-administration .modal-tools-costumizer .costumizer-title{
    color: #404040;
}
#modal-content-costumizer-administration #list-pages-tools {
    padding: 0 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#modal-content-costumizer-administration .tabling-pages {
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#modal-content-costumizer-administration .tabling-pages thead {
    padding: 20px 0;
}

#modal-content-costumizer-administration .tabling-pages thead tr {
    background-color: #086784;
    color: #ffffff;
    text-align: left;
}

#modal-content-costumizer-administration .tabling-pages thead tr th {
    border-bottom: none !important;
    padding: 20px 0 !important;
}

#modal-content-costumizer-administration .tabling-pages thead tr th {
    border-top: none !important;
}

#modal-content-costumizer-administration .tabling-pages th,
#modal-content-costumizer-administration .tabling-pages td {
    padding: 12px 15px !important;
}

#modal-content-costumizer-administration .tabling-pages tbody tr {
    border-bottom: 1px solid #dddddd;
}

#modal-content-costumizer-administration .tabling-pages tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#modal-content-costumizer-administration .tabling-pages tbody tr:last-of-type {
    border-bottom: 2px solid #2b2b2b;
}

#modal-content-costumizer-administration .tabling-pages tbody tr.active-row {
    font-weight: bold;
    color: #2b2b2b;
}
#modal-content-costumizer-administration .tabling-pages .editPage{
    cursor: pointer;
}


/*  **************** style menu-right-costumizer ******************* */

#costum-pages input[type^="text"],#costum-pages input[type^="number"], #costum-pages textarea, #costum-pages select,#costum-pages .select2-container-multi{
    border: 0;
    width: 100%;
    color: black;
    border-radius: 6px;
    min-height: 32px;
}
#costum-pages #typeFilter{
    height: 157px !important;
}
#costum-pages .select2-container{
    padding: 0px !important;
}
#costum-pages label {
    margin-bottom: 8px;
}
/* ******************** End style menu-right-costumizer page ************* */
.fontuploadform.font:before {
    content: 'Font';
}
/* ********************* style font input web design *************** */
.contains-view-admin .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: none;
    font-weight: 700;
}
.contains-view-admin .file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}
.contains-view-admin .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}
.contains-view-admin .file-upload-content {
    display: none;
    text-align: center;
}
.contains-view-admin .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}
.contains-view-admin .font-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #1FB264;
    position: relative;
}
.contains-view-admin .font-dropping,
.contains-view-admin .font-upload-wrap:hover {
    background-color: #1FB264;
    border: 4px dashed #ffffff;
}
.contains-view-admin .font-title-wrap {
    padding: 15px;
    color: #222;
}
.contains-view-admin .drag-text {
    text-align: center;
}

.contains-view-admin .drag-text h3 {
    font-weight: 100;
    text-transform: none;
    color: #15824B;
    padding: 60px 0;
}
.contains-view-admin .remove-font {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: none;
    font-weight: 700;
    font-size: 14px;
}
.contains-view-admin .remove-font:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}
.contains-view-admin .remove-font:active {
    border: 0;
    transition: all .2s ease;
}

/* ********************* End style font input web design *************** */


/* ********************* View mode *************** */
#view-mode-sm{
    width: 100%;
    position: absolute;
    display: block;
    visibility: hidden;
    background-color: white;
    left : 0px;
}

#view-mode-xs{
    width: 100%;
    display: block;
    position: absolute;
    visibility: hidden;
    background-color: white;
    left : 0px;
}

#iframe-sm{
    display: block;
    margin: auto;
}

#iframe{
    display: block;
    margin: auto;
}


.smartphone {
    position: relative;
    width: 360px;
    height: 640px;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
  }
  
  .smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
  }

  .smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
  }

  .smartphone .content {
    top : 5%;
    width: 330px;
    height: 520px;
    background: white;
  }

  /*** Tablette ***/

  .tablette {
    position: relative;
    width: 944px;
    height: 100vh;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
  }
  
  /* The horizontal line on the top of the device */
  .tablette:before {
    content: '';
    display: block;
    width: 100px;
    height: 10px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(92, 91, 91);
    border-radius: 10px;
  }
  
  .tablette:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
  }
  
  .tablette .content {
    top : 5%;
    width:  800px;
    height: 100%;
    background: white;
  }



/*************style edit costum info*****************/
#costum-info{
    padding-top: 50px;
    transition: 1.25s;
    background-color: #fff;
    /* box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9; */
    box-shadow: 1px 0 3px 2px rgb(0 0 0 / 20%);
}
/* #costum-info div[class^="uploader"]{
    margin-top: 500px;
} */
#costum-info label, #costum-other-info label{
    font-size: 14px;
    color: #086784;
}
 #costum-other-info label i{
    font-size: 18px;
}

#costum-info .qq-uploader-selector ,#costum-info .qq-uploader,#costum-info .qq-gallery{
    text-align:center;
    margin-bottom: 15px;
}

#costum-use-open-ai {
    margin-bottom: 20px;
}

#costum-use-open-ai .well {
    background-color: #ffffff;
    margin-bottom: 0;
    padding-bottom: 0;
}

#costum-use-open-ai .footer {
    background: #0091c6;
    padding: 5px;
    text-align: center;
}

#costum-use-open-ai .footer a {
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
}

#costum-use-open-ai .title-header {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    border-bottom: 1px solid #ccc;
}

#costum-use-open-ai #costum-use-open-ai-input {
    margin-top: 15px;
}

#costum-use-open-ai .title-header h4, #costum-use-open-ai .title-header a {
    text-transform: none;
    font-weight: 500;
    color: #086784;
    font-size: 1.3em !important;
}

#costum-use-open-ai .isUseOpenAI .btn-group-content {
    justify-content: flex-start;
}       

#costum-use-open-ai .isUseOpenAI .btn-group-content .btn-active {
    background-color: #086784;
}

/************* end style edit costum info*****************/

/*
#costum-info .select2-container{
    padding: 0px !important;
}
#costum-info textarea {
    height: 50px;
}
#costum-info input[type^="text"],#costum-info input[type^="number"], #costum-info select{
    height: 36px;
}
#costum-info .select2-container-multi{
    height: auto !important;
} */
/* Tools for edit super cms*****/
/* by Ifaliana Arimanana 
/* *********************************/
.super-element-list {
    background-color: #ababab;
}

.card_icon i{
    font-size: 45px;
    color: #404040;
    top: 30px;
    position: relative;
}

.toolsBar {
    top: 40px;
    min-width: 300px;
    z-index: 100000;
    position: fixed;
    display: none;
    min-height: 100%;
    box-shadow: 0px 0px 4px 0px #777;
    resize: vertical;
    height: 100%;
    overflow: scroll;
}
.toolsBar .nav-tabs li{    
    color: #e5e5e5 !important;
  }

  .toolsBar .nav>li>a{
    padding: 0px 10px;
    font-family: 'Circular-Loom' !important ;
    color: #e5e5e5 !important;
  }

  .toolsBar .nav{
    background-color: #333333;
    color: #e5e5e5 !important;
  }

  .toolsBar .tool-scms-title{
    background-color: #ffffff42;
    color: white;
  }

  .toolsBar .input-group {
    width: 100%;
    /* position: relative; */
    display: table;
    /* border-collapse: separate; */
  }

  .toolsBar a {
      cursor: pointer;
  }

  .cursor-move {
      cursor: move;
  }

  @supports (backdrop-filter: none) {
      .toolsBar {
          background-color: #404040;
          backdrop-filter: blur(20px);
      }
  }

  @supports not (backdrop-filter: none) {
      .toolsBar {
          background-color: #404040;
      }
  }

  @supports (backdrop-filter: none) {
      .edit-inside-sp-block {
          background-color: #ffffff;
          backdrop-filter: blur(20px);
      }
  }

  @supports not (backdrop-filter: none) {
      .edit-inside-sp-block {
          background-color: white;
      }
  }

  .edit-inside-sp-block{
      width: 50px;
      height: 25px;
      border-radius: 4px;
      box-shadow: rgb(0 0 0 / 50%) 0px 0px 3px 0px;
      z-index: 20000;
      border-color: rgb(172, 172, 170);
      position: relative;
      left: 48%;
      bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      cursor: pointer;
  }

  .toolsBar .nav-tabs>li.active>a,
  .nav-tabs>li.active>a:hover,
  .nav-tabs>li.active>a:focus {
      color: #555;
      cursor: default;
      background-color: rgb(206 206 206 / 35%);
      border: 1px solid rgb(159 189 56 / 10%);
      border-bottom-color: transparent;
  }

  .toolsBar .form-control {
      background-color: #ffffff78;
  }

  .toolsBar .tooltips {
      height: 34px;
  }
/*end tools bar for edit cms******************/

.sp-cms-tree,
.sp-cms-tree ul {
  margin:0 0 0 1em;
  padding:0;
  list-style:none;
  overflow: hidden;
  color:#ababab;
  position:relative;
}

.sp-cms-tree ul {margin-left:.5em}

.sp-cms-tree:before,
.sp-cms-tree ul:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  border-left:1px solid;
}

.sp-cms-tree li {
  margin:0;
  padding-left: 2em;
  padding-right: 2px;
  line-height:2em;
  position:relative;
  overflow: hidden;
  text-transform: capitalize;
}
.sp-cms-tree li:before {
  content:"";
  display:block;
  width:10px;
  height:0;
  border-top:1px solid;
  margin-top:-1px;
  position:absolute;
  top:1em;
  left:0;
}

.sp-cms-tree li:last-child:before {
  background:#404040;
  height:auto;
  top:1em;
  bottom:0;
}

.form-group .form-control.spectrum.sp-colorize {
    cursor: pointer;
}

#panel-navigation-content {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

#btn-navigation-heading h4 a {
    font-size: 15px;
}

#btn-navigation-heading h4 a span {
    margin-right: 15px;
}

#inputs-navigation-btn {
    color: #333333;
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    flex-wrap: wrap;
}

#inputs-navigation-btn .menu-item {
    display: flex; 
    align-items: center; 
    width: 100%; 
    justify-content: space-between; 
    border-bottom: 0.5px solid #BABABA; 
    border-top: 0.5px solid #BABABA; 
    padding: 5px 0px;
}

#select-menu-page-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#select-menu-page-form .form-group {
    flex: 0.89;
}

#select-menu-page-form button {
    margin-top: 10px;
}
#costum-form-pages #btn-submit-form {
    width: 100%;
    margin-left: inherit;
    position: relative;
}
/* Style alert box delete page  */
.alert_box{
    padding: 20px 5px 5px 5px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.alert_box .icon{
    height: 100px;
    width: 100px;
    color: #f23b26;
    border: 3px solid #f23b26;
    border-radius: 50%;
    font-size: 50px;
}
.alert_box header{
    font-size: 35px;
    font-weight: 500;
    margin: 10px 0;
}
.alert_box p{
    font-size: 20px;
}

/* Design costum Info */
#modal-content-costumizer-administration .contains-view-admin #costum-info .form-group .form-control,
#modal-content-costumizer-administration .contains-view-admin  #costum-other-info .form-group .form-control,
#modal-content-costumizer-administration .contains-view-admin  #costum-use-open-ai .form-group .form-control {
    border: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#009688)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#009688, #009688), linear-gradient(#D2D2D2, #D2D2D2);
    -webkit-background-size: 0 2px, 100% 1px;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center -webkit-calc(100% - 1px);
    background-position: center bottom, center calc(100% - 1px);
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
    float: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    font-size: 14px;
}
#modal-content-costumizer-administration .contains-view-admin #costum-info .form-group .select2-container .select2-search-field .select2-input {
    box-shadow: none;
    border-radius: 0px;
    background-repeat: no-repeat !important;
    background-image: linear-gradient(rgb(0, 150, 136), rgb(0, 150, 136)), linear-gradient(rgb(210, 210, 210), rgb(210, 210, 210)) !important;
    background-size: 0px 2px, 100% 1px !important;
    background-position: center bottom, center calc(100% - 1px) !important;
    background-color: rgba(236, 240, 243, 0) !important;
    transition: background 0s ease-out 0s !important;
}
#modal-content-costumizer-administration .contains-view-admin #costum-info .form-group .form-control:focus,
#modal-content-costumizer-administration .contains-view-admin  #costum-other-info .form-group .form-control:focus,
#modal-content-costumizer-administration .contains-view-admin  #costum-use-open-ai .form-group .form-control:focus,
#modal-content-costumizer-administration .contains-view-admin #costum-info .form-group .select2-container .select2-search-field .select2-input:focus {
    outline: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#086784), to(#086784)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#086784, #086784), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#086784, #086784), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#086784, #086784), linear-gradient(#D2D2D2, #D2D2D2);
    -webkit-background-size: 100% 2px, 100% 1px;
    background-size: 100% 2px, 100% 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s
}
#modal-content-costumizer-administration .contains-view-admin #costum-info .form-group .select2-container,
#modal-content-costumizer-administration .contains-view-admin #costum-info .form-group .select2-container-multi .select2-choices{
    border: transparent!important;
}
#modal-content-costumizer-administration .contains-view-admin #costum-info .form-group .select2-container-multi .select2-choices {
    background-color: transparent;
}
/*.position-sticky {
    position: sticky;
    top: 0px;
}*/
#modal-content-costumizer-administration .contains-view-admin #costum-info .form-group {
    width: 70%;
    min-width: 300px;
    margin-left: 15%;
}
@media (max-width: 767px) {
    #modal-content-costumizer-administration .contains-view-admin #costum-info .form-group  {
        min-width: unset !important;
        width: 100% !important;
        margin-left: unset !important;
    }
}
@media (max-width: 991px) {
    .position-sticky {
        position: inherit;
        top: 0px;
        padding: 15px;
    }
}

#modal-content-costumizer-administration .contain-info {
    width: 100%;
    height: 265px;
    position: relative;
    overflow: hidden;
    background: #fff;
    margin: 0px auto 15px auto;
    box-shadow: 1px 0 3px 2px rgb(0 0 0 / 20%);

}

#modal-content-costumizer-administration .contain-info #cover{
    width: 150%;
    height: 100%;
    position: absolute;
    transform: rotate(-10deg);
    top: -78%;
    left: -11%;
    background: #086784;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a5d7', endColorstr='#007da3', GradientType=1 );

}
#modal-content-costumizer-administration .contain-info #shadow{
    clear: both;
    height: 10px;
    bottom: 200px;
    overflow: hidden;
    margin: 356px 0 0 0
}
#modal-content-costumizer-administration .contain-info #shadow img{
    width: 80%;
    height: 10px;
    padding: 0 0px 0 20px;
    opacity: 0.5;
}
#modal-content-costumizer-administration .contain-info #info{
    margin: 0px auto;
    width: 100%;
    border-top: 1px solid #ccc;
    padding: 10px 10px 0 10px;
    z-index: 100;
    position: absolute;
    bottom: 0;
}

#modal-content-costumizer-administration .contain-info #info p {
    padding: 2px 0 2px 10px;
    margin: 3px auto;
    font-size: 10pt;
}
#modal-content-costumizer-administration .contain-info h4, #modal-content-costumizer-administration .contain-version-info .version-title h4 {
    text-align: center;
    font-size: 1.5em!important;
    line-height: 1;
    font-weight: 500;
    text-transform: none;
    color: #086784;
}
#modal-content-costumizer-administration .contain-info #avatar{
    width: 120px;
    height: 120px;
    position: absolute;
    z-index: 1;
    border: solid 5px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    overflow: hidden;
    margin: 20px;
    transition: .3s;
}
#modal-content-costumizer-administration .contain-info #info i{
    font-size: 25px;
    margin: 0 5px;
    color: #086784
}
#modal-content-costumizer-administration .contain-info #avatar img{
    width: 100%;
    object-fit: contain;
    height: 100%;
    background-color: #ffffff;

}
/* Design mockup et Menu */
.costumizer-button-delete.disabled{
    cursor: not-allowed;
    pointer-events: initial;
}
.button-menu-costumizer .toolsButtonEdit .editMenuBtn,
.button-menu-costumizer .toolsButtonEdit .removeMenuBtn,
.costumizer-button-add,
.costumizer-button-delete,
.costumizer-button-edit {
    padding: 2px 12px 2px 2px;
    border-radius: 50px;
    text-decoration: none;
}
.button-menu-costumizer .toolsButtonEdit .editMenuBtn.noLabel,
.button-menu-costumizer .toolsButtonEdit .removeMenuBtn.noLabel{
    padding-right: 2px;
}

.costumizer-button-add,
.costumizer-button-delete,
.costumizer-button-edit{
    display: inline-block;
    min-width: 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}
.costumizer-button-add,
.costumizer-button-edit{
    background-color: #0091c6;
}
.costumizer-button-delete{
    background-color: #ea4335;
}
.button-menu-costumizer .toolsButtonEdit .editMenuBtn i,
.button-menu-costumizer .toolsButtonEdit .removeMenuBtn i, 
.costumizer-button-add i,
.costumizer-button-delete i,
.costumizer-button-edit i{
    padding: 4px;
    background: #ffffff;
    margin-right: 4px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.button-menu-costumizer .toolsButtonEdit .editMenuBtn.noLabel i,
.button-menu-costumizer .toolsButtonEdit .removeMenuBtn.noLabel i{
    margin-right: 0px;
}

.button-menu-costumizer .toolsButtonEdit .removeMenuBtn i,
.costumizer-button-delete i {
    color: #ea4335;
}
.button-menu-costumizer .toolsButtonEdit .editMenuBtn i,
.costumizer-button-edit i,
.costumizer-button-add i {
    color: #7bc3d1;
}
.button-menu-costumizer .button-menu-costumizer .toolsButtonEdit .removeMenuBtn[data-key-button="editcms"] {
    padding: 2px 2px 2px 2px;
    background-color: #ea4335 !important;
}
.button-menu-costumizer .button-menu-costumizer .toolsButtonEdit .removeMenuBtn[data-key-button="editcms"] i{
   margin-right: 0px;
}
.button-menu-costumizer.hover .labelStatusMenuButton::after, .button-menu-costumizer.hover .labelMenuButton::after {
    background: #a89211;
}

.button-menu-costumizer .select-menu-page-form .navigation-menu-select-form {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right: 0px;
}
.button-menu-costumizer .add-navigation-menu-btn {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-left: 0px;
    height: 34px;
}
.level-tree-2 .manageMenusCostum {
    background-color: #f3f4fb;
}
.level-tree-2 .button-menu-costumizer {
    background-color: #ffffff;
}
.level-tree-2 .button-menu-costumizer.button-show-list {
    color: #086784;
}
@media (max-width: 991px) {
    #modal-content-costumizer-administration .button-menu-costumizer .labelStatusMenuButton, .button-menu-costumizer .labelMenuButton {
        width: 100%;
    }
    #modal-content-costumizer-administration .button-menu-costumizer .iconMenuContains {
        float: none;
        width: 100%;
    }
    #modal-content-costumizer-administration .button-menu-costumizer .iconMenuContains i {
        text-align: center;
        border-left: 2px solid #eee;
        border-radius: 5px 0px 10px 10px;
    }
}

.level-tree-0 {
    border-radius: 10px;
    border-top: 5px solid #086784 !important;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 25px 20px -20px;
    border-left: 1px solid #f5f5f5 !important;
    border-right: 1px solid #f5f5f5 !important;
    border-bottom: none !important;
    position: relative;
    padding: 20px !important;
}

.level-tree-0.main-section {
    padding: 0 !important;
}

.level-tree-0.main-section .labelEditMenu {
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px !important;
    background-color: #086784;
    color: #ffffff !important;
}
.level-tree-0 .titleSection {
    color: #2b2b2b;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.level-tree-1 {
    padding: 20px !important;
}

#modal-content-costumizer-administration #costum-other-info, #modal-content-costumizer-administration .contain-version-info, #modal-content-costumizer-administration #costum-use-open-ai {
    background-color: #ffffff;
    border-radius: 0px;
    box-shadow: 1px 0 3px 2px rgb(0 0 0 / 20%);
}

#modal-content-costumizer-administration #costum-use-open-ai #open-modal-to-add-or-replace-key {
    width: 100%;
    padding: 10px 0 20px 0;
} 

.content-loader-on-generateImage.isLoaderShow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
}

#modal-content-costumizer-administration #costum-use-open-ai .accessKeyOpenAI.input-required {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dc3545), to(#dc3545)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2)) !important;
    background-image: -webkit-linear-gradient(#dc3545, #dc3545), -webkit-linear-gradient(#D2D2D2, #D2D2D2) !important;
    background-image: -o-linear-gradient(#dc3545, #dc3545), -o-linear-gradient(#D2D2D2, #D2D2D2) !important;
    background-image: linear-gradient(#dc3545, #dc3545), linear-gradient(#D2D2D2, #D2D2D2) !important;
    -webkit-background-size: 100% 2px, 100% 1px;
    background-size: 100% 2px, 100% 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s
}

#modal-content-costumizer-administration .contain-version-info .version-title {
    border-bottom: 1px solid #ccc;
}
.button-menu-costumizer.dragNewBtn:hover {
    border: 2px dashed #086784;
    background-color: #ffffff;
    color: #086784;
}
.button-menu-costumizer.dragNewBtn .labelStatusMenuButton .statusButtonMenu {
    display: none;
}
.button-menu-costumizer.dragNewBtn  {
    padding: 10px 2px;
    text-align: center;
}
.button-menu-costumizer.dragNewBtn .labelStatusMenuButton, .button-menu-costumizer.dragNewBtn .labelMenuButton {
    width: 100%;
    float: none;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    display: inline-block;
}
.button-menu-costumizer.dragNewBtn .titleButtonMenu {
    font-size: 12px;
}

.subMenuSortableContainer {
    border: 1px dashed #086784;
    min-height: 50px;
    transition: min-height 0.5s ease;
    transition: all .4s ease;
    margin-top: 10px;
}
.xsMenuButtonCollapse {
    position: absolute;
    right: 5px;
    top: 5px;
}
.xsMenuButtonCollapse button {
    background: #086784;    
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}
#container #fontSize{
    width: 50px;
    height: 25px;
}

/* begin:menu-sub-right-costumizer */
#right-sub-panel-container{
    width: 0;
    height: calc(100vh - 40px);
    position: absolute;
    top: 40px;
    background-color: #313131;
    z-index: 1000000;
    color: white;
    transition: width .2s;
    overflow: hidden;
}

#right-sub-panel-container.active{
    overflow: visible;
}

#right-sub-panel-container .right-sub-panel-header{
    display: flex;
    background-color: #2C2C2C;
    font-size: 16px;
}

#right-sub-panel-container .right-sub-panel-header button{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: none;
    background-color: #313131;
}

#right-sub-panel-container .right-sub-panel-header-top{
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 10px 0px 10px 10px;
}
#right-sub-panel-container .right-sub-panel-header-left{
    position: absolute;
    top: 150px;
    left: -40px;
    white-space: nowrap;
    width: 40px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 0px 10px;
}

#right-sub-panel-container .right-sub-panel-header-left span{
    writing-mode: vertical-rl;
    padding-bottom: 5px;
}

#right-sub-panel-container .right-sub-panel-body{
    width: 100%;
    height:100%;
    overflow: auto;
    padding: 15px 0px;
}

#right-sub-panel-container .right-sub-panel-body::-webkit-scrollbar{
    width: 5px;
}

#right-sub-panel-container .right-sub-panel-body::-webkit-scrollbar-track {
    background: transparent;
}

#right-sub-panel-container .right-sub-panel-body::-webkit-scrollbar-thumb {
    background: #585858;
}

.contains-view-admin .input-section.section-buttonList .panel .panel-heading {
    display: none;
}
.contains-view-admin .input-section.section-buttonList .input-section .panel .panel-heading {
    display: block;
}
/* end:menu-sub-right-costumizer */
#standard-element {
    position: relative;
    margin: 0 1px;
}

#standard-element .standard-element-item {
    padding: 0 !important;
}

#standard-element .standard-element-content {
    background-color: white;
    position: relative;
    border: none ;
    padding: 30px 30px 15px 30px; 
    border-radius: 10px; 
    margin: 10px;
}

#standard-element .standard-element-content.element-disabled::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    background-color: #f2f2f2;
}

#standard-element .icon-standard-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#standard-element .icon-standard-element .icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#standard-element .icon-standard-element .icon i {
    color: #ffffff;
    font-size: 18px;
}

#standard-element .label-content {
    color: #404040;
    margin-top: 10px;
    text-align: center;
    font-weight: 550;
}

#standard-element .editElement {
    padding: 2px 12px 2px 2px;
    border-radius: 50px;
    text-decoration: none;
    background-color: #086784;
    margin-top: 10px;
}

#standard-element .editElement i {
    padding: 4px;
    background: #ffffff;
    color: #086784;
    margin-right: 4px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

#standard-element .mid { 
    float: right;
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
}

/**************************toogle interrupteur css*****************/
.rocker {
    display: inline-block;
    position: relative;
    color: #888;
    width: 7em;
    height: 4em;
    overflow: hidden;
    border-bottom: 0.6em solid #f9f9fb;
    font-size: 8px;
    z-index: 1999;
}

.rocker::before {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bfbfbf;
    border: 0.5em solid #eee;
    border-bottom: 0;
}

.rocker input {
    opacity: 0;
    width: 0;
    height: 0;  
}


.switch-left,
.switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
}

.switch-left {
    height: 2.4em;
    width: 2.75em;
    left: 0.85em;
    bottom: 0.4em;
    background-color: #ecf0f3;
    transform: rotate(15deg) skewX(15deg);
}
  
.switch-right {
    right: 0.5em;
    bottom: 0;
    background-color: #ea4335;
    color: #fff;
}

.switch-left::before,
.switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;    
  background-color: #ecf0f3;
  transform: skewY(-65deg);
}

.switch-left::before {
    left: -0.4em;
}
  
.switch-right::before {
    right: -0.375em;
    background-color: transparent;
    transform: skewY(65deg);
}

.rocker input:checked + .switch-left {
    background-color: #93C020;
    color: #fff;
    bottom: 0px;
    left: 0.5em;
    height: 2.5em;
    width: 3em;
    transform: rotate(0deg) skewX(0deg);
}
#costum-design .input-wrapper .input-group-sm .btn-group {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;

}

.rocker input:checked + .switch-left::before {
    background-color: transparent;
    width: 3.0833em;
}

.rocker input:checked + .switch-left + .switch-right {
    background-color: #ecf0f3;
    color: #888;
    bottom: 0.4em;
    right: 0.8em;
    height: 2.4em;
    width: 2.75em;
    transform: rotate(-15deg) skewX(-15deg);
}

.rocker input:checked + .switch-left + .switch-right::before {
    background-color: #ecf0f3;
}

.rocker input:focus + .switch-left {
    color: #333;
}

.rocker input:checked:focus + .switch-left {
    color: #fff;
}
  
.rocker input:focus + .switch-left + .switch-right {
    color: #fff;
}
  
.rocker input:checked:focus + .switch-left + .switch-right {
    color: #333;
}
/**************************toogle interrupteur css*****************/
.loader-contain {
    min-height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.card_loader .box-loader {
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    height: 200px;
    /*background-color: #fff;*/
}
.card_loader .loader-position {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.card_loader .loader_section .post, .card_loader .loader_section .title {
    text-transform: none;
}

/* loading modal */

.card_loader .processingLoader .lds-doubl-ring div:nth-child(2) {
    width: 90px;
    height: 90px;
}
.card_loader .processingLoader .lds-doubl-ring div {
    width: 100px;
    height: 100px;
}
.card_loader .processingLoader .lds-doubl-ring img {
    margin-top: 34px;
    width: 62px;
}
.card_loader .processingLoader .lds-doubl-ring {
    width: 100px !important;
    height: 100px !important;
}
.loader-contain  .processingLoader .lds-doubl-ring img {
    margin-top: 28px;
    width: 50px;
}

/*LOADER 1 STYLE*/
.loader_1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%) rotate(0deg) translate3d(0, 0, 0);
    animation: loader_1 1.4s infinite ease-in-out;
}
.loader_1 span {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    animation: loaderBlock 1.4s infinite ease-in-out both;
}
.loader_1 span:nth-child(1) {
    top: 0;
    left: 0;
}
.loader_1 span:nth-child(2) {
    top: 0;
    right: 0;
    animation: loaderBlockInverse 1.4s infinite ease-in-out both;
}
.loader_1 span:nth-child(3) {
    bottom: 0;
    left: 0;
    animation: loaderBlockInverse 1.4s infinite ease-in-out both;
}
.loader_1 span:nth-child(4) {
    bottom: 0;
    right: 0;
}
@keyframes loader_1 {
    0%, 10%, 100% {
        width: 40px;
        height: 40px;
    }
    65% {
        width: 80px;
        height: 80px;
    }
}
/*@keyframes loaderBlock {
    0%, 30% {transform: rotate(0);}
    !*55% {
        background-color: #f37272;
    }*!
    100% {transform: rotate(360deg);}
}
@keyframes loaderBlockInverse {
    0%, 20% {transform: rotate(0);}
    !*55% {
        background-color: #f37272;
    }*!
    100% {transform: rotate(-360deg);}
}*/


/*END LOADER 1 STYLE*/

/*LOADER 2 STYLE*/
@-webkit-keyframes dyinglight {
    15% {
        transform: scale(1.6);
    }
    50% {
        transform: rotate(-89deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}

@keyframes dyinglight {
    15% {
        transform: scale(1.6);
    }
    50% {
        transform: rotate(-89deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}
@keyframes zoomImg {
    15% {
        transform: scale(1.6);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.loader-contain .dl, .card_loader .dl {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}
.dl_square  {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader-contain .dl_square  {
    width: 40px;
    height: 40px;
}
.card_loader .dl_square  {
    width: 70px;
    height: 70px;
}
.dl_square .dl_img {
    width: 80%;
    height: auto;
    animation: zoomImg 1s linear infinite;
}

.dl_container  {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transform-origin: 50% 50% 0;
    -webkit-animation: dyinglight 1s ease infinite;
    animation: dyinglight 1s ease infinite;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.dl_corner--top:before,
.dl_corner--top:after,
.dl_corner--bottom:before,
.dl_corner--bottom:after {
    position: absolute;
    width: 17px;
    height: 17px;
   /* color: #4285F4;*/
    content: "";
}
.card_loader .dl_corner--top:before, .card_loader .dl_corner--top:after, .card_loader .dl_corner--bottom:before, .card_loader .dl_corner--bottom:after {
    position: absolute;
    width: 30px;
    height: 30px;
    /* color: #4285F4; */
    content: "";
}

.dl_corner--top:before {
    border-left: 2px solid;
    border-top: 2px solid;
    top: -6px;
    left: -6px;
}
.dl_corner--top:after {
    border-right: 2px solid;
    border-top: 2px solid;
    top: -6px;
    right: -6px;
}

.dl_corner--bottom:before {
    border-left: 2px solid;
    border-bottom: 2px solid;
    bottom: -6px;
    left: -6px;
}
.dl_corner--bottom:after {
    border-right: 2px solid;
    border-bottom: 2px solid;
    bottom: -6px;
    right: -6px;
}
/*END LOADER 2 STYLE*/

/*LOADER 3 STYLE*/
.horizontal_bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.horizontal_bar .horizontal_bar_logo {
    display:flex;
    flex-direction:row;
}
.horizontal_bar .horizontal_bar_logo img {
    width: 140px;
    height: auto;
}
.loader-contain .horizontal_bar .horizontal_bar_logo img {
    width: 70px;
}
.horizontal_bar_logo i {
    font-size: 50px;
}
.horizontal_bar .horizontal_bar_loader{
    position: absolute;
    left:50%;
    margin-top:10px;
    transform: translate(-50%, -50%);
    /*height:5px;*/
    width:140px;
}
.card_loader .horizontal_bar .horizontal_bar_loader{
    margin-top:20px;
}
.horizontal_bar_loader .horizontal_bar_loading{
    width:50px;
    /*height:5px;*/
    animation: animation_loader3 1.8s infinite;
}

@keyframes animation_loader3  {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(90px);
    }
    100% {
        transform: translateX(0px);
    }
}
/*END LOADER 3 STYLE*/

/*------ LOADER 4 STYLE (Ball Loader) -----*/
.card_loader .newtons-cradle-img {
    width: 140px;
    height: auto;
}
.loader-contain .newtons-cradle-img {
    width: 90px;
    height: auto;
}
.newtons-cradle {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.card_loader .newtons-cradle {
    width: 160px;
    margin-top: 20px;
}
.loader-contain .newtons-cradle {
    width: 90px;
    margin-top: 10px;
}
.card_loader .newtons-cradle div {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    /*background-color: #fc2f70;*/
}
.loader-contain .newtons-cradle div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.newtons-cradle div:nth-of-type(1) {
    transform: translateX(-100%);
    animation: left-swing 0.5s ease-in alternate infinite;
}
.newtons-cradle div:nth-of-type(4) {
    transform: translateX(-90%);
    animation: right-swing 0.5s ease-out alternate infinite;
}
@keyframes left-swing {
    50%, 100% { transform: translateX(95%); }
}
@keyframes right-swing {
    50% {transform: translateX(-95%); }
    100% {transform: translateX(100%); }
}
/*------ End LOADER 4 STYLE (Ball Loader) -----*/
/* LOADER 5 */

.loader-square {
    display: inline-block;
    position: relative;
}
.card_loader .loader-square {
    width: 90px;
    height: 90px;
}
.loader-contain  .loader-square {
    width: 70px;
    height: 70px;
}
.loader-square img {
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.card_loader .loader-square img {
    width: 65px;
}
.loader-contain .loader-square img {
    width: 50px;
}
.loader-square:before,
.loader-square::after {
    content: "";
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 10px;
}
.loader-square:before {
    animation: loader-sq 1s infinite;
}
.loader-square::after {
    position: absolute;
    display: inline-block;
    animation: loader--backwards 1s infinite;
    top: 0;
    left: 0;
}

@keyframes loader-sq {
    50% {
        transform: rotate(45deg);
        opacity: .8;
    }
}
@keyframes loader--backwards {
    50% {
        transform: rotate(-45deg);
        opacity: .4;
    }
}
/* END LOADER 5 */

/* LOADER 6 */
.center-body-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loader-circle-2 {
    border-radius: 100px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.card_loader .loader-circle-2 {
    width: 120px;
    height: 120px;
}
.loader-contain .loader-circle-2 {
    width: 80px;
    height: 80px;
}
.loader-circle-2 img{
    width: 80%;
    position: absolute;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.loader-circle-2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    /*background-color: #e9851e;*/
    animation: anm-CL-fill 2s ease 0s alternate infinite;
    display: inline-block;
}
.card_loader .loader-circle-2::before {
    top: 120px;
}
.loader-contain .loader-circle-2::before {
    top: 80px;
}
.loader-circle-2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
@keyframes anm-CL-fill {
    100% {
        top: 0;
    }
}

/* END LOADER 6 */
/* LOADER 7 */
.loader-spanne {
    position: relative;
    animation: anm-LL-move1 1s linear infinite;
}
.card_loader .loader-spanne {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.loader-contain .loader-spanne {
    width: 80px;
    height: 80px;
}
.loader-spanne .loader-spanne-img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.loader-spanne .loader-spanne-img img {
    width: 80%;
    height: auto;
    animation:no-spin 1s linear infinite;
}
.card_loader .loader-spanne > span, .loader-contain .loader-spanne > span {
    position: absolute;
    animation: spanMoveAnimation 1s linear infinite;
}
.loader-spanne > span:nth-of-type(1) {
    width: 100%;
    left: 0;
    top: 0;
}
.loader-spanne > span:nth-of-type(2) {
    height: 100%;
    left: 0;
    bottom: 0;
}
.loader-spanne > span:nth-of-type(3) {
    width: 100%;
    right: 0;
    bottom: 0;
}
.loader-spanne > span:nth-of-type(4) {
    height: 100%;
    right: 0;
    top: 0;
}
@keyframes anm-LL-move1 {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

@keyframes no-spin {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(0deg);
        transform: scale(.6, .6);
    }
    100% {
        transform: rotate(-90deg);
    }
}
/* END LOADER 7 */
/* LOADER 8 */
.loader-ball {
    animation: anm-BL-rotate 3.33334s infinite linear;
    font-size: 200%;
    line-height: 0;
    top: 50%;
    left: 50%;
    position: absolute;
}
.card_loader .loader-ball {
    height: 110px;
    width: 110px;
}
.loader-contain .loader-ball {
    height: 90px;
    width: 90px;
}
.loader-contain img.loader-ball-img {
    width:60px;
    height:auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.card_loader img.loader-ball-img {
    width:72px;
    height:auto;
}
.loader-ball > div {
    /*background-color: #fff;*/
    border-radius: 50%;
    display: inline-block;
    height: 15px;
    position: absolute;
    width: 15px;
    vertical-align: top;
}
.loader-ball > div::after {
    content: "";
    display: inline-block;
    /*background-color: orange;*/
    position: absolute;
}

.loader-ball .dot1 {
    left: 0;
    top: 0;
}
.card_loader .loader-ball .dot1::after, .loader-contain .loader-ball .dot1::after {
    animation: anm-BL-moveH 1.66667s -1.2500025s infinite both linear;
    width: 80px;
    height: 4px;
    top: 5px;
    left: 12px;
}
.loader-ball .dot2 {
    bottom: 0;
    left: 0;
}
.card_loader .loader-ball .dot2::after, .loader-contain .loader-ball .dot2::after {
    animation: anm-BL-moveV 1.66667s -1.2500025s infinite reverse both linear;
    width: 4px;
    height: 80px;
    bottom: 12px;
    left: 5px;
}
.loader-ball .dot3 {
    bottom: 0;
    right: 0;
}
.card_loader .loader-ball .dot3::after, .loader-contain .loader-ball .dot3::after {
    animation: anm-BL-moveH 1.66667s -1.66667s infinite reverse both linear;
    width: 80px;
    height: 4px;
    bottom: 5px;
    right: 12px;
}
.loader-ball .dot4 {
    top: 0;
    right: 0;
}
.card_loader .loader-ball .dot4::after, .loader-contain .loader-ball .dot4::after {
    animation: anm-BL-moveV 1.66667s -0.833335s infinite both linear;
    height: 80px;
    width: 4px;
    top: 12px;
    right: 5px;
}
@keyframes anm-BL-rotate {
    from {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}
@keyframes anm-BL-moveV {
    from {
        transform: scale(1, 0);
        transform-origin: 0 0;
    }
    12% {
        transform: scale(1, 1);
        transform-origin: 0 0;
    }
    13% {
        transform: scale(1, 1);
        transform-origin: 0 100%;
    }
    25% {
        transform: scale(1, 0);
        transform-origin: 0 100%;
    }
    100% {
        transform: scale(1, 0);
        transform-origin: 0 100%;
    }
}
@keyframes anm-BL-moveH {
    from {
        transform: scale(0, 1);
        transform-origin: 0 0;
    }
    12% {
        transform: scale(1, 1);
        transform-origin: 0 0;
    }
    13% {
        transform: scale(1, 1);
        transform-origin: 100% 0;
    }
    25% {
        transform: scale(0, 1);
        transform-origin: 100% 0;
    }
    100% {
        transform: scale(0, 1);
        transform-origin: 100% 0;
    }
}
/* END LOADER 8 */
/*LOADER 9 STYLE*/

    .loader-contain #ct-loadding {
        min-height: 110px;
        height: auto;
        position: absolute;
        z-index: 999999;
        top: 0;
        left: 0;
        -webkit-transition: all 300ms linear 0ms;
        -khtml-transition: all 300ms linear 0ms;
        -moz-transition: all 300ms linear 0ms;
        -ms-transition: all 300ms linear 0ms;
        -o-transition: all 300ms linear 0ms;
        transition: all 300ms linear 0ms;
        background-color: transparent;
        -webkit-transform: scale(1);
        -khtml-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    .loader-contain #ct-loadding .loading-infinity {
        width: 120px;
        height: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -khtml-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .loader-contain #ct-loadding .loading-infinity div {
        top: 0;
        left: 50%;
        width: 70px;
        height: 70px;
        animation: ctLoadingrotate 6.9s linear infinite;
    }
    .loader-contain #ct-loadding .loading-infinity div, .loading-infinity span {
        position: absolute;
    }
    .loader-contain #ct-loadding .loading-infinity div:nth-child(2) {
        animation-delay: -2.3s;
    }
    .loader-contain #ct-loadding .loading-infinity div:nth-child(3) {
        animation-delay: -4.6s;
    }
    .loader-contain #ct-loadding .loading-infinity div span {
        left: -10px;
        top: 50%;
        margin: -10px 0 0 0;
        width: 20px;
        height: 20px;
        display: block;
        box-shadow: 2px 2px 8px rgba(0, 124, 251, .09);
        border-radius: 50%;
        transform: rotate(90deg);
        animation: ctLoadingmove 6.9s linear infinite;
    }
    .loader-contain #ct-loadding .loading-infinity div span:before {
        animation: ctLoadingdrop1 0.8s linear infinite;
    }
    .loader-contain #ct-loadding .loading-infinity div span:before, .loading-infinity div span:after {
        content: '';
        position: absolute;
        display: block;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background: inherit;
        top: 50%;
        left: 50%;
        margin: -10px 0 0 -10px;
        box-shadow: inherit;
    }
    .loader-contain #ct-loadding .loading-infinity div span:after {
        animation: ctLoadingdrop2 0.8s linear infinite 0.4s;
    }
    @keyframes spanMoveAnimation {
        100% {
            transform: translate(32px, 10px) scale(0);
        }
    }
    @keyframes ctLoadingdrop2 { 
        0% {
            transform: translate(0, 0) scale(0.9);
        }
        100% {
            transform: translate(32px, -10px) scale(0);
        }
    }
    @keyframes ctLoadingrotate {
        50% {
            transform: rotate(360deg);
            margin-left: 0;
        }
        50.0001%, 100% {
            margin-left: -70px;
        }
    }
    @keyframes ctLoadingdrop1 {
        100% {
            transform: translate(32px, 10px) scale(0);
        }
    }

/* END LOADER 9 */

/* CSS for js catch error */

#sp-error-box {
  width: 220px;
  height: 100px;
  left: 30%;
  border-radius: 20px;
}

#sp-error-box .face2 {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #FCFCFC;
  border-radius: 50%;
  border: 1px solid #777777;
  top: 21%;
  left: 37.5%;
  z-index: 2;
  animation: roll 3s ease-in-out infinite;
}

#sp-error-box .eye {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #777777;
  border-radius: 50%;
  top: 40%;
  left: 20%;
}

#sp-error-box .right {
  left: 68%;
}

#sp-error-box .mouth {
  position:absolute;
  top: 43%;
  left: 41%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

#sp-error-box .sad {
  top: 49%;
  border: 2px solid;
  border-color: #777777 transparent transparent #777777;
  transform: rotate(45deg);
}

#sp-error-box .shadow {
  position: absolute;
  width: 28%;
  height: 3%;
  opacity: .5;
  background: #777777;
  left: 40%;
  top: 80px;
  border-radius: 50%;
  z-index: 1;
}

#sp-error-box .move {
  animation: move 3s ease-in-out infinite;
}

.js-modal-error {
   background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}


@keyframes roll {
  0% {
    transform: rotate(0deg);
    left: 25%;
  }
  50% {
    left: 60%;
    transform: rotate(168deg);
  }
  100% {
    transform: rotate(0deg);
    left: 25%;
  }
}

@keyframes move {
  0% {
    left: 25%;
  }
  50% {
    left: 60%;
  }
  100% {
    left: 25%;
  }
}

/**** timeline version costum info *****/
ul.timeline.version-costum {
    list-style-type: none;
    position: relative;
    padding: 0px;
}
ul.timeline.version-costum:before {
    content: ' ';
    background: #086784;
    display: inline-block;
    position: absolute;
    left: 10px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline.version-costum > li {
    margin: 20px 0;
    padding-left: 30px;
    float: none;
}
ul.timeline.version-costum > li:before {
    content: ' ';
    background: #086784;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 1px;
    width: 18px;
    height: 18px;
    z-index: 400;
}
#lastChange-content h2 {
    color: #086784;
    text-transform: none;
}
.contain-version-info *, .contain-version-info ::after, .contain-version-info ::before {
    box-sizing: border-box;
}
.version-costum .float-right {
    float: right!important;
}
.timeline.version-costum > li .detail-version {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 16px;
    color: #086784;
}
.timeline.version-costum > li > p {
    font-size: 14px;
}
.timeline.version-costum > li > hr {
    width: 100%;
    margin-bottom: 0px;
}

.design-style-for-editBtn {
    border-top: 1px dashed #ccc;
    padding: 18px 0px;
}
.design-style-for-editBtn .panel {
    background-color: transparent;
}
.design-style-for-editBtn .panel-body {
    border: 1px solid #ccc;
}

.tabling-pages tbody span .language-flag {
    margin-right: 15px;
}

.tabling-pages .dropdown-menu-action-page .dropdown-menu {
    padding: 0px;
}

.tabling-pages .dropdown-menu-action-page .dropdown-menu li,
    .tabling-pages .dropdown-menu-action-page .dropdown-menu .btn {
    font-size: 16px;
}

.tabling-pages .btn-collapse-translate-content .btn-collapse-translate {
    border: none;
    border-radius: 0px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabling-pages .btn-collapse-translate-content .btn-collapse-translate i.fa-language {
    margin-right: 5px;
}

.tabling-pages .btn-collapse-translate-content .btn-collapse-translate i.fa-chevron-down {
    font-size: 10px;
}

.tabling-pages .btn-collapse-translate-content .dropdown-item.btnLang {
    width: 100%;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


/* modal help-and-feedback-cms */
.modal-boostrap-help-and-feedback {
    background-color: #423e3ebe;
    margin-top: 30px;
}

.modal-boostrap-help-and-feedback {
    background-color: #423e3ebe;
}

.modal-boostrap-help-and-feedback .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 0;
    background-color: #e5e5e5;
    position: relative;
}

.modal-boostrap-help-and-feedback .modal-header button.close {
    position: absolute;
    right: 15px;
    top: 18px;
    opacity: .75;
}

.modal-boostrap-help-and-feedback .modal-header::before,
.modal-boostrap-help-and-feedback .modal-header::after {
    content: none;
}

.modal-boostrap-help-and-feedback .modal-header .tab-item {
    margin: 2px 5px 0px 5px;
    padding-bottom: 10px;
    cursor: pointer;
    text-transform: none;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
}

.modal-boostrap-help-and-feedback .modal-body .link-to-doc-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.modal-boostrap-help-and-feedback .modal-body a.link-to-doc {
    background-color: #1890FF;
    padding: 8px 15px;
    font-weight: bold;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 1.38rem;
}

.modal-boostrap-help-and-feedback .modal-body a.link-to-doc i {
    margin-right: 5px;
}

.modal-boostrap-help-and-feedback .modal-header a:hover,
.modal-boostrap-help-and-feedback .modal-header a.active {
    border-bottom: 1px solid #f3aa31;
}

.modal-boostrap-help-and-feedback .btn-submit {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.modal-boostrap-help-and-feedback .btn-submit p {
    font-size: 13px;
    text-align: justify;
    font-weight: 400;
    flex: 0.70;
}

.modal-boostrap-help-and-feedback .btn-submit p a,
.modal-boostrap-help-and-feedback .btn-submit p b {
    font-weight: bold;
}

.modal-boostrap-help-and-feedback .btn-submit p a {
    color: #1890FF;
}

.modal-boostrap-help-and-feedback #tabQuestion h5 {
    text-align: center;
    font-size: 14px;
    text-transform: none;
    font-weight: 500;
}

.modal-boostrap-help-and-feedback #tabQuestion h5 a {
    font-weight: bold;
}

.modal-boostrap-help-and-feedback .btn-submit button {
    min-width: 100px;
}

.modal-boostrap-help-and-feedback .form-group textarea {
    height: 150px;
}

.modal-boostrap-help-and-feedback .form-group .check-value {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.modal-boostrap-help-and-feedback .form-group .check-value .form-check:not(:first-child) {
    margin-left: 10px;
}
/* modal help-and-feedback-cms */
/* Liste des historique */


.history-content-list ul li.from {
    width: 49.9%;
    white-space: nowrap;
    overflow: hidden!important;
    text-overflow: ellipsis;
}

.history-content-list ul li .col-md-12 {
    font-size: 11px;
    color: #555;
    background: #efefef;
}
.history-content-list ul li .col-md-12 {
    padding-top: 7px;
    padding-bottom: 7px;
}

/* SUPPORT TICKET */
.history-content-list h2 {
    margin-top: 5px;
}

.history-content-list .list-group li {
    padding: 10px 5px 10px 5px;
    cursor: pointer;
}

.history-content-list .list-group li:hover {
    background: #eee;
}

.history-content-list .fa-padding .fa {
    padding-top: 5px;
    width: 1.5em;
}

.history-content-list .info {
    color: #d5d3d3;
    margin: 0px;
}

.history-content-list a {
    color: #111;
}

.history-content-list .info a:hover {
    text-decoration: underline;
}

.history-content-list .info .fa {
    width: 1.5em;
    text-align: center;
}

.history-content-list .number {
    color: #777;
}

.history-content-list img {
    margin: 0 auto;
    display: block;
}

.history-content-list .modal-body {
    padding-bottom: 0px;
}

.history-content-list-comment {
    padding: 10px 10px 10px 30px;
    background: #eee;
    border-top: 1px solid #ccc;
}

.history-content-list .list-group-item {
    padding: 20px 5px 5px 5px;
    background-color: transparent;
}
.history-content-list .label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}
.history-content-list .media-body .name {
    font-size: 14px;
    font-weight: bold;
    overflow-wrap: anywhere;
}
.history-content-list .media-body, .history-content-list .media-left, .history-content-list .media-right {
    font-size: 12px;
}
.history-content-list .media-body p {
    font-size: 14px;
    overflow-wrap: anywhere;
}
.history-content-list .panel {
    margin-bottom: 0px;
    border-radius: 4px;
}
.history-content-list .panel .panel-heading {
    padding: 4px 5px;
}
.history-content-list .panel .panel-heading .panel-title {
    font-size: 14px;
    text-transform: none;
    text-align: center;
}
.history-content-list .panel .panel-body {
    padding: 5px;
}
.history-content-list .panel .panel-body p {
    font-size: 14px;
    overflow-wrap: anywhere;
    color: #6c757d;
}
.history-content-list .panel .panel-body p span{
    color: #31708f;
    text-decoration: underline;
}
.history-content-list .panel .panel-body ul{
    font-size: 14px;
    overflow-x: auto;
}
.history-content-list .panel .panel-body ul li, .history-content-list .panel .panel-body ol li {
    font-size: 14px;
}
.history-content-list #listAction .btn-filters-select .label-text {
    margin-right: 0px;
}
.history-content-list .horizontalList.actionFiltersClass {
    padding: 0px !important;
}
.history-content-list .btn-recovery{
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 5px;
}
.history-content-list .textRecovery{
    font-size: 12px;
}
.blink-bg {
    background-color: #87c7db!important;
}
.section-action-count {
    width: 100%;
    position:absolute;
    left:-1000px;
    z-index: 999999 !important;
    top: 0px;
    text-align: left;
    overflow-y: auto;
}
.section-action-count ul {
    min-height: 120px;
}
.section-action-count ul li {
    margin-left: -25px;
    margin-bottom: 2px;
    width: 100%;
    color: #007fC2 !important;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    list-style: none;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    border-radius: 0px;
}
.section-action-count .panel {
    margin-bottom: 0px;
}

.section-action-count li .badge {
    background-color: #428bca;
    color: #ffffff;
}
.user-connected-information {
    min-height: 120px;
}
.popover .popover-content .btn-contribution {
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 5px;
}

/*******************modal help create open-ai*********************/
.modal-help-create-key-open-ai {
    position: relative;
}

.modal-help-create-key-open-ai h2, h3 {
    color: #333;
    text-transform: none;
}

.modal-help-create-key-open-ai a, 
.modal-help-create-key-open-ai b {
    font-weight: 900;
}

.modal-help-create-key-open-ai a, 
.modal-help-create-key-open-ai .help-item b.blue-text {
    color: #337ab7;
}

.modal-help-create-key-open-ai .title-modal {
    font-size: 16px;
    margin-top: 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.modal-help-create-key-open-ai .help-list {
    list-style: none;
    padding: 0;
}

.modal-help-create-key-open-ai .help-item {
    list-style: none;
    padding: 0;
    position: relative;
}

.modal-help-create-key-open-ai .help-item h3 {
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 5px;
    margin-top: 0;
}

.modal-help-create-key-open-ai .help-item p,
.modal-help-create-key-open-ai .help-item li {
    font-weight: lighter;
    font-size: 15px;
    text-align: justify;
}

.modal-help-create-key-open-ai .help-item p {
    padding-left: 35px;
}

.modal-help-create-key-open-ai .help-item ol {
    padding-left: 70px;
    margin-bottom: 10px;
}

.modal-help-create-key-open-ai .help-item li {
    padding-left: 10px;
}

.modal-help-create-key-open-ai .help-item h3 strong {
    font-weight: bolder;
    padding: 0 10px;
}

.modal-help-create-key-open-ai .help-item h3 i {
    padding: 5px;
    background: #93C020;
    color: #ffffff;
    border-radius: 50%;
    font-size: 15px;
}

.modal-help-create-key-open-ai .more-info-open-ai {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.info-for-use-open-ai {
    font-weight: 900;
    font-size: 12px;    
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 10px;
}

.info-for-use-open-ai a {
    color: #fff;
    cursor: pointer;
}


.info-for-use-open-ai a:hover {
    color: #337ab7;
}

.info-for-use-open-ai a:hover i {
    color: #fff;
}

.info-for-use-open-ai a i {
    margin-right: 10px;
    padding: 5px 9px;
    background: #337ab7;
    border-radius: 50%;
}

.toast-open-ai-cms {
    position: relative;
    min-width: 450px;
    padding-left: 60px;
}

.toast-open-ai-cms .toast-title {
    padding: 10px 0;
    text-align: justify;
}

.toast-open-ai-cms .toast-message .btn-show-how-togetKey {
    margin-top: 5px;
    background-color: #9fbd38;
    color: #fff;
    border: none;
}
/*******************end modal help create open-ai*********************/

#accordion .usesTpl-panel .panel{
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 5px;
}

#accordion .usesTpl-panel .panel-heading{
    padding: 0;
    border-radius: 0;
    text-align: center;
    border: none;
}

#accordion .usesTpl-panel .panel-title a{
    display: block;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #0C0119;
    transition: all 0.5s ease 0s;
}

#accordion .usesTpl-panel .panel-title a:hover{
    background: rgba(12, 1, 25, 0.8);
}

#accordion .usesTpl-panel .panel-body{
    font-size: 14px;
    color: #fff;
    background: #29b0a0;
    padding: 15px 20px;
    line-height: 25px;
    border: none;
    position: relative;
}

#accordion .usesTpl-panel .panel-body:after{
    content: "";
    position: absolute;
    top: -30px;
    left: 40px;
    border: 15px solid transparent;
    border-bottom: 15px solid #29b0a0;
}


/********************************Font manager modal**********************************/
#modal-content-costumizer-administration .contains-views-for-font-manager {
    padding: 0 !important;
    position: relative;
    overflow: hidden !important;
}

.font-manager-content .typing-text-to-review {
    background-color: #fff;
}

.font-manager-content .font-review-selected {
    padding: 20px 15px;
    background: #086784;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.font-manager-content .font-review-selected .btn-check-font {
    font-size: 16px;
}

.font-manager-content .font-review-selected .btn-check-font.btn-select-font {
    background-color: #9fbd38;
}

.font-manager-content .font-review-selected .btn-check-font.btn-remove-font {
    background-color: #d43f3a;
}

.font-manager-content {
    height: 100%;
    position: relative;
    overflow: auto;
}

.font-manager-content .font-manager-row {
    height: inherit;
    position: relative;
    margin: 0;
}

.font-manager-content .column-font-manager {
    padding: 0;
}

.font-manager-content .column-font-manager,
.font-manager-content .column-font-manager .font-review-content {
    height: 100%;
}

.font-manager-content .column-font-manager .font-review-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #fff;
    border-right: 1px solid hsl(212, 33%, 89%);
    position: relative;
}

.font-manager-content .column-font-manager .text-selectionned {
    margin: 5px 0 0 0;
    font-size: 25px;
    text-transform: none;
}


.font-manager-content .column-font-manager .see-more-about-text-preview {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    padding: 0 15px;
}

.font-manager-content .column-font-manager .title-see-more {
    text-transform: uppercase;
    margin: 0;
    font-size: 25px;
    font-weight: 900;
    padding: 15px;
    background: #f3f4fb;
    text-align: center;
    color: #333333;
}

.font-manager-content .allcharacter-content {
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 15px;
    border: 1px solid hsl(212, 33%, 89%);
}

.font-manager-content .all-font-with-weight {
    margin-top: 30px;
}

.font-manager-content .all-font-with-weight .font-weight-item:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.font-manager-content .font-weight-item .title-font-weight-item {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1px;
}

.font-manager-content .allcharacter-content ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 1rem;
    justify-content: space-between;
    padding: 0;
}

.font-manager-content .allcharacter-content ul li { 
    border: 1px solid #ddd;
    padding: 5px;
    min-width: 50px;
    min-height: 50px;
}

.font-manager-content .allcharacter-content li p {
    font-size: 14px;
    color: #d3d1d1;
    margin-bottom: 0;
}

.font-manager-content .allcharacter-content li span {
    display: block;
    text-align: center;
    color: hsl(0, 0%, 33%);
    font-size: 2rem;
}

.font-manager-content #input-config-for-text-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 15px;  
}

 
#input-config-for-text-preview .form-group {
    margin: 0;
}

#input-config-for-text-preview .form-group:first-child {
    margin-right: 10px;
}

#input-config-for-text-preview .form-group input[name="preview"] {
    padding: 25px;
    font-size: 15px;
    border-radius: 30px;
}
 
#input-config-for-text-preview .co-input-number-range-body {
    position: relative;
}

#input-config-for-text-preview .co-input-number-range-body input[type="number"] {
    border: none;
    box-shadow: none;
    position: relative;
    padding: 0;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
}

#input-config-for-text-preview .co-input-number-range-body::after {
    content: "px";
    position: absolute;
    right: 0px;
    font-size: 18px;
    font-weight: 900;
}

.font-manager-content .typing-text-to-review .wrapper-content {
    padding: 0 15px;
    position: relative;
    margin-top: 25px;
}

.font-manager-content .typing-text-to-review .title-wrapper-content {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -19px;
}

.font-manager-content .typing-text-to-review .title-wrapper {
    text-transform: none;
    text-align: center;
    margin: 0;
    font-size: 20px;
    letter-spacing: 5px;
    background-color: #fff;
    font-weight: 900;
    padding: 0 15px;
}

.font-manager-content .typing-text-to-review .wrapper {
    height: 110px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid hsl(212, 33%, 89%);
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    text-align: justify;
    margin-bottom: 10px;
    display: flex;
    align-items: center;

}

.font-manager-content .typing-text-to-review .wrapper .text-style {
    margin-bottom: 0;
    text-wrap: wrap;
}

.font-manager-content #input-config-for-text-preview .form-group:first-child {
    flex: 0.9;
    margin-right: 10px;
}

.font-manager-content #input-config-for-text-preview .form-group:last-child {
    flex: 0.3;
}

.font-manager-content .all-font-avalaible-content {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    height: 100%
}

.font-manager-content .all-font-avalaible-content .font-active {
    height: 30%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    padding: 15px;
    background: #fff;
}

.font-manager-content .font-active .list-font-active {
    list-style: none;
    padding: 0;
}

.font-manager-content .font-active .font-active-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.font-manager-content .font-active .font-active-item label {
    margin: 0;
    font-size: 17px;
}

.font-manager-content .font-active .font-active-item label i {
    margin: 0;
    background: #9fbd38;
    color: #fff;
    padding: 2px;
    font-size: 14px;
    margin-right: 5px;
    border-radius: 5px;
}

.font-manager-content .font-active .font-active-item .btn-deselect-font-active  {
    font-size: 12px;
    background: #d43f3a;
    color: #fff;
    display: none;
}

.font-manager-content .font-active .font-active-item:hover {
    cursor: pointer;
    background-color: #f3f4fb;
}

.font-manager-content .font-active .font-active-item:hover .btn-deselect-font-active {
    display: initial;
}

.font-manager-content .all-font-avalaible-content .title-font-active {
    margin: 0;
    padding: 15px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    background: #086784;
}

.font-manager-content .title-list-font-avalaible {
    margin: 0;
    padding: 20px 15px 0 15px;
    font-size: 17px;
    text-transform: none;
    background: #f3f4fb;
}

.font-manager-content .search-font-and-add-new {
    display: flex;
    flex-direction: row;
    background: #f3f4fb;
    padding: 15px;
    position: relative;
}

.font-manager-content .font-active-empty {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px dashed #ccc;
    border-radius: 5px;
}

.font-manager-content .font-active-empty p {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 1px;
}

.font-manager-content .font-active-empty small {    
    font-size: 13px;
    font-weight: lighter;
}

.font-manager-content .search-font-and-add-new .btn-upload-font {
    position: absolute;
    right: 16px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: #9fbd38;
    color: #fff;
}

.font-manager-content .search-font-and-add-new .input-filter-font {
    border-radius: 30px;
}

.font-manager-content .all-font-avalaible-content .list-font-avalaible {
    height: 70%;    
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.font-manager-content .all-font-avalaible-content .list-font-avalaible ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px 0;
}

.font-manager-content .all-font-avalaible-content .list-font-avalaible ul li {
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
}

.font-manager-content .all-font-avalaible-content .list-font-avalaible ul li:hover .font-text,
.font-manager-content .all-font-avalaible-content .list-font-avalaible ul li.font-item-selected .font-text {
    background-color: #086784;
    color: #fff;
}

.font-manager-content .all-font-avalaible-content .list-font-avalaible ul li i.font-selected {
    position: absolute;
    right: -8px;
    top: -13px;
    font-size: 15px;
    color: white;
    background: #9fbd38;
    padding: 8px;
    border-radius: 50%;
}

.font-manager-content .all-font-avalaible-content .list-font-avalaible ul li span {
    position: absolute;
    top: -10px;
    font-size: 14px;
    left: 25px;
    padding: 0 10px;
    background-color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
}   

.font-manager-content .all-font-avalaible-content .list-font-avalaible ul li .text-style {
    border: 1px solid hsl(212, 33%, 89%);
    background-color: #fff;
    border-radius: 5px;
    padding: 15px 15px 10px 15px;
    font-size: 18px;
}

.upload-font-manager-modal {
    margin-top: 50px;
}

@media screen and (max-width: 1200px) {
    .font-manager-content .font-review-selected {
        position: fixed;
        width: 100%;
        z-index: 9999;
    }

    .font-manager-content #input-config-for-text-preview {
        margin-top: 100px;
    }
}

.btn-upload-font-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/********************************End Font manager modal**********************************/

#modalKanbanAction {
    top: 40px !important;
}

#corner-action-preview .modal {
    top: 15px !important;
}


.cornerdev-card{
    z-index: 9999999999 !important;
}