.cmsbuilder-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.cmsbuilder-header {
    width: 100%;
    height: 40px;
}
#menu-top-costumizer{
    z-index:99999999999;
}
.cmsbuilder-body {
    width: 100%;
    height: calc(100vh - 40px);
    overflow: hidden;
    display: flex;
    background-color: #E6E6E6;
}

.cmsbuilder-left-content {
    width: 0px;
    height: 100%;
    background-color: #3A3A3A;
    position: relative;
    transition: .2s;
}

.cmsbuilder-left-content.active {
    width: 250px;
    z-index: 99998;
}

.cmsbuilder-tabs {
    height: 100%;
    width: 100%;
}

.cmsbuilder-left-content-header,
.cmsbuilder-tabs-header {
    width: 100%;
    height: 40px;
    color: white;
    background-color: #3A3A3A;
}

.cmsbuilder-tabs-header ul,
.cmsbuilder-side-nav {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.cmsbuilder-tabs-header ul li,
.cmsbuilder-side-nav li {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    overflow: hidden;
    padding: 0;
    max-width: 40px;
    cursor: pointer;
    transition: .3s;
    background-color: #2C2C2C;
}

.cmsbuilder-tabs-header ul li.active,
.cmsbuilder-side-nav li.active {
    max-width: 300px;
    flex: 1;
    background-color: #3A3A3A;
    font-weight: bold;
}

.cmsbuilder-tabs-header ul li span,
.cmsbuilder-side-nav li span {
    display: block;
    flex: none;
}

.cmsbuilder-tabs-header ul li span:first-child,
.cmsbuilder-side-nav li span:first-child {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
}

.cmsbuilder-tabs-body {
    height: calc(94% - 40px);
    width: 100%;
    overflow: auto;
}

.cmsbuilder-tabs-footer{
    width: 100%;
    height: 50px;
    border-top: 1px solid #212121;
    padding: 10px;
}

.cmsbuilder-tab-section {
    width: 100%;
    height: 100%;
    display: none;
}

.cmsbuilder-tab-section.active {
    display: block;
}

.cmsbuilder-right-content {
    width: 0px;
    height: 100%;
    background-color: #3A3A3A;
    position: relative;
    transition: .2s;
    color: white;
}

.cmsbuilder-right-content.active {
    width: 300px;
}

.btn-toggle-cmsbuilder-sidepanel, .btn-toggle-cmsbuilder-sidepanel-page {
    position: absolute;
    top: 100px;
    border: none;
    width: 25px;
    z-index: 999;
    background-color: #3A3A3A;
    color: white;
    line-height: 20px;
    font-size: 14px;
}

.btn-import-export-cmsbuilder-sidepanel {
    position: absolute;
    top: 250px;
    border: none;
    width: 25px;
    z-index: 999;
    background-color: #3A3A3A;
    color: white;
    line-height: 20px;
    font-size: 14px;
}

.btn-toggle-cmsbuilder-sidepanel[data-target="left"] {
    text-align: left;
    right: -25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0px;
}

.btn-toggle-cmsbuilder-sidepanel[data-target="right"] {
    border-radius: 25px 0px 0px 25px;
    text-align: right;
    padding: 5px 5px 5px 0px;
    left: -25px;
}

.btn-toggle-cmsbuilder-sidepanel span , .btn-toggle-cmsbuilder-sidepanel-page span{
    writing-mode: vertical-rl;
    padding-top: 10px;
}

.cmsbuilder-side-content.active .btn-toggle-cmsbuilder-sidepanel i {
    transform: rotate(180deg);
}

.title-collapsed.collapsed i {
    transform: rotate(-90deg);
}


.cmsbuilder-side-content.active .btn-toggle-cmsbuilder-sidepanel[data-target="left"]{
    border-radius: 0px 25px 25px 0px;
    padding: 5px 0px 5px 5px;
    align-items: flex-start;
}
.cmsbuilder-side-content.active .btn-import-export-cmsbuilder-sidepanel[data-target="left"]{
    border-radius: 0px 25px 25px 0px;
    padding: 5px 0px 5px 5px;
    left: 250px;
    display: flex;
    align-items: flex-start;
}

.cmsbuilder-side-content.active .btn-toggle-cmsbuilder-sidepanel[data-target="left"] span{
    display: none;
}


.cmsbuilder-center-content {
    flex: 1;
    height: calc(100% - 20px);
    overflow: auto;
    position: relative;
    padding: 40px;
    background-color: #E6E6E6;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cmsbuilder-content-md {
    background-color: white;
    position: relative;
    overflow: visible;
    overflow-x: clip;
    width: 100%;
    height: 100%;
}

/*#mainNav {
    position: absolute !important;
}*/

.cmsbuilder-block-section-label {
    padding: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.cmsbuilder-block-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.cmsbuilder-block-list-item {
    height: 100px;
    background-color: #313131;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
    cursor: grabbing;
    white-space: nowrap;
    min-width: 100px;
}

.cmsbuilder-block-list-item img {
    width: 40px;
    height: 40px;
}

/* begin:cmsbuilder-block-action */

.cmsbuilder-block-action {
    align-items: center;
    background-color: #93C020;
    height: 30px;
    width: fit-content;
    z-index: 9999;
    pointer-events: all !important;
}

.cmsbuilder-block-action.outScreen {
    transform: translate(-50%, 0%);
}

/* .cmsbuilder-block-action-label {
    font-size: 16px;
    font-weight: bold;
    padding: 0px 10px;
    height: 100%;
    line-height: 30px;
    border-right: 1px solid #B1B1B1;
    color: white;
    z-index: 9999999;
} */

.cmsbuilder-block-action-list {
    height: 100%;
    line-height: 30px;
    display: flex;
}

.cmsbuilder-block-action-list ul {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #93C020;
}

.cmsbuilder-block-action-list ul:nth-child(odd) {
    background-color: #85A72E;
}

.cmsbuilder-block-action-list ul li {
    list-style: none;
    display: flex;
    border-right: 1px solid #B1B1B1;
    cursor: pointer;
    overflow: hidden;
    max-width: 35px;
    transition: .4s;
    color: white;
}

.block-actions-wrapper .cmsbuilder-block-action-list li[data-action="deselect"], .block-actions-wrapper .cmsbuilder-block-action-list li[data-action="questionIA"] {
    display: none !important;
}

.block-actions-wrapper.selected .cmsbuilder-block-action-list li[data-action="deselect"], .block-actions-wrapper.selected .cmsbuilder-block-action-list li[data-action="questionIA"] {
    display: flex !important;
}

.cmsbuilder-block-action-list ul li span {
    flex: none;
}

.cmsbuilder-block-action-list ul li span:first-child {
    width: 35px;
    text-align: center;
}

/* .cmsbuilder-block-action-list ul li span:last-child {
    font-size: 14px;
    white-space: nowrap;
    padding-right: 10px;
} */

/* .cmsbuilder-block-action-list ul li:hover {
    max-width: 250px;
} */

.specific-text-save{
    display: flex;
}

.specific-text-save span  {
    width: 35px;
    text-align: center;
}

.cmsbuilder-block-action-list .save-text {
    max-width: 150px !important;
}

.cmsbuilder-block-action-list .save-text span {
    width: auto !important;
}

.cmsbuilder-block-action-list .save-text label {
    cursor: pointer;
    margin-right:5px;
}

.cmsbuilder-block-action-list .save-text i {
    margin-left: 5px;
    margin-right: 5px;
}

.cmsbuilder-block-action-label {
    top: -20px;
    position: absolute;
    color : rgb(255, 255, 255);
    z-index: 9999999;
    line-height: 18px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding : 0px 10px;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 10px;
    background-color: #1890FF ;
}

.custom-block-cms .cmsbuilder-block-action {
    position: absolute;
    bottom: -30px;
    left: 0;
    z-index: 9999999;
    background-color: #1890FF;
    display: flex;
}

.custom-block-cms .cmsbuilder-block-action-list ul {
    background-color: #1890FF;
}

.custom-block-cms .cmsbuilder-block-action-list ul:nth-child(odd) {
    background-color: #3C96E9;
}

.cmsbuilder-block-action-pin {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999999;
    cursor: pointer;
    display: none;
}

.cmsbuilder-block-action-pin::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 0 0 35px;
    border-color: transparent transparent transparent #1890FF;
}

.cmsbuilder-block-action-pin.active {
    display: block;
}

.cmsbuilder-block-action-pin i {
    position: absolute;
    left: 5px;
    bottom: 5px;
    color: white;
}

/* end:cmsbuilder-block-action */

.cmsbuilder-header .screen-size-nav {
    transform: translateX(-75px);
}

.cmsbuilder-header-left {
    min-width: 400px;
}

.cmsbuilder-toolbar {
    color: white;
}

.cmsbuilder-toolbar .cmsbuilder-toolbar-item {
    display: inline-block;
    width: 50px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    position: relative;
}

.cmsbuilder-toolbar .cmsbuilder-toolbar-item span:first-child {
    font-size: 20px;
    padding-right: 2px;
}

.cmsbuilder-toolbar .cmsbuilder-toolbar-item span:nth-child(2):not(.tooltips-menu-btn) {
    display: inline-block;
    font-size: 14px;
    padding-left: 4px !important;
    transition: .2s;
}

.cmsbuilder-toolbar .cmsbuilder-toolbar-item:hover>span:nth-child(2):not(.tooltips-menu-btn) {
    transform: translateY(4px);
}

.cmsbuilder-toolbar-dropdown {
    position: absolute;
    background-color: #333;
    top: 48px;
    left: 0;
    z-index: 999999;
    display: none;
    box-shadow: 1px 1px 25px -5px rgba(0, 0, 0, 0.5);
}
.cmsbuilder-toolbar-dropdown.rightAlign{
    right: -5px;
    left: inherit;
}
.cmsbuilder-toolbar-dropdown.rightAlign::before{
    right: 11px;
    left: inherit;
}

.lbh-costumizer.edition-desabled {
    margin-top: 15px;
    background: white;
    color: #333;
}

.lbh-costumizer.edition-desabled .block-busy-wrapper .block-busy-label {
    font-size: 10px;
    padding: 0 10px 0 5px !important;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lbh-costumizer.edition-desabled .cmsbuilder-block-action-label .block-busy-label .name {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 95px;
}


.lbh-menu-no-dropdown.edition-desabled {
    margin-top: 0 !important;
}

.lbh-menu-no-dropdown.edition-desabled .cmsbuilder-block-action-label {
    bottom: -20px;
    left: -1px;
    top: initial !important;
}

.lbh-menu-no-dropdown.edition-desabled .block-busy-label {
    border-radius: 0px 0px 15px 0px;
    padding: 0 5px 0 5px !important;
    text-wrap: nowrap;
    font-size: 12px !important;
}

/*{
  animation: color-transition 0.5s forwards;
}*/
/*@keyframes color-transition { 
  from {
    background: #000;  /* shade of the background, you can read about linear-gradient */
  /*}
  to {
    background: #ccc; /* desired shade*/
  /*}
}*/
.shared-undefined {
    filter: sepia(90%);
}

.modal-filter-template{
    width: 100%;
}
#modal-template-results{
    padding-top: 20px;
}
#modal-template-results .searchEntityContainer .gallery-caption-content{
    font-size: 20px;
    font-weight: 800;
    font-variant: all-small-caps;
}
#modal-template-results .searchEntityContainer .gallery-caption-content i{
    line-height: 30px;
}
#modal-template-results .smartgrid-slide-element .tools-kit {
     position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba(0, 0, 0, .8);
    display: none;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-border-radius: 5px;

    cursor: pointer;
}
#modal-template-results .smartgrid-slide-element .tools-kit .btnContent .btn i{
    padding-right: 10px;
    font-size:  18px;
}
#modal-template-results .smartgrid-slide-element .tools-kit .btnContent{
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
        /* align-self: center; */
    justify-items: center;

}
#modal-template-results .gallery-masonry-item-wrapper{
    position: relative;
}
#modal-template-results .smartgrid-slide-element .tools-kit .btn{
    border-radius: 4px;
    width: fit-content;
    border: 1px solid #b1b0b0;
    height: fit-content;
    padding: 10px 25px;
    color: #b1b0b0;
}

#modal-template-results .smartgrid-slide-element .tools-kit .btn:hover{
    border-radius: 4px;
    width: fit-content;
    border: 1px solid white;
    height: fit-content;
    padding: 10px 25px;
    color: white;
}
.cmsbuilder-toolbar-dropdown.dropdown-active {
    display: block;
}
/*.save-version .cmsbuilder-toolbar-dropdown {
    left: -120px;
}
.save-version .cmsbuilder-toolbar-dropdown::before {
    left: 140px;
}*/
.cmsbuilder-toolbar-dropdown::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 6px 5px;
    border-color: transparent transparent #333 transparent;
    position: absolute;
    top: -6px;
    left: 34px;
}

.cmsbuilder-toolbar-dropdown li {
    list-style: none;
    white-space: nowrap;
    text-align: left;
    font-size: 16px;
    width: 100%;
    padding: 5px 15px !important;
    position: relative;
}

.cmsbuilder-toolbar-dropdown li:hover {
    background-color: #3A3A3A;
}

.cmsbuilder-toolbar.editModeUserSwitcher{
    height: 40px;
    transform: translateX(-75px);
}
.cmsbuilder-toolbar.editModeUserSwitcher .cmsbuilder-toolbar-item{
    width: 55px;
    background-color: #f4a502;
    color: white;
}
.cmsbuilder-toolbar.editModeUserSwitcher .cmsbuilder-toolbar-item .activeModeConnected{
    text-align: right;
    line-height: 40px;
    width: 65%;
    float: left;
}
.cmsbuilder-toolbar.editModeUserSwitcher .cmsbuilder-toolbar-item .activeModeConnected i:first-child {
    color: #2b2b2b;
    font-size: 30px;
}
.cmsbuilder-toolbar.editModeUserSwitcher .cmsbuilder-toolbar-item .activeModeConnected i:last-child {
    color: #e4d9d9;
    position: absolute;
    bottom: 2px;
    font-size: 20px;
    left: 10px;
    transition: 0.2s;
}
.cmsbuilder-toolbar.editModeUserSwitcher .cmsbuilder-toolbar-item .arrow-down{
    left: 0px;
    float: right;
    padding-left: 0px !important;
    width: 30%;
    color: #2b2b2b;
}
.cmsbuilder-toolbar.editModeUserSwitcher .cmsbuilder-toolbar-item .arrow-down > i{   
    vertical-align: sub;
}
.block-droppable-highlight {
    height: 20px;
    background-color: #F5F5F5;
    transition: .2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.block-droppable-highlight span {
    display: none;
}

.block-droppable-highlight span:first-child,
.block-cms-wrapper-highlight span:first-child {
    font-size: 25px;
}

.block-droppable-highlight.draghover {
    height: 100px;
    background-color: rgb(24, 144, 255, .7);
}

.block-droppable-highlight.draghover span {
    display: block;
}

.block-cms-section-highlight {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(24, 144, 255, .7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#ajax-modal.portfolio-modal.modal {
    top: 40px;
    z-index: 99999999;
}

.block-cms-dropzone {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 144, 255, .8);
    opacity: 0;
    transition: .2s;
 }

.block-cms-dropzone img {
    height: 80%;
    max-height: 90px;
    opacity: 0;
}

.block-cms-dropzone.dragover {
    opacity: 1;
}

.block-cms-dropzone.dragover img {
    opacity: 1;
}

.block-cms-dropzone-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 88888;
}

.block-cms-dropzone-page {
    width: 100%;
    height: 60px;
    position: relative;
    opacity: .2;
}

.block-cms-dropzone-page.dragover {
    height: 60px;
}

.cmsbuilder-block-droppable.dragstart {
    padding: 20px !important;
    border: 1px dotted #1890FF !important;
}

.page-layer-item-children {
    margin: 0;
    padding: 0;
}

.page-layer-item-children ul:not(:first-child) {
    padding-left: 10px;
}

.page-layer-item-children li {
    list-style: none;
}

.page-layer-item {
    background-color: rgba(255, 255, 255, .1);
}

.page-layer-item-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    border-bottom: 1px solid #9e9e9e;
}

.page-layer-item-btn.selected {
    background-color: #1890FF;
    font-weight: bold;
}

.page-layer-item-btn div span {
    margin-right: 10px;
}

.page-layer-item-children:not(:first-child) {
    display: none;
}

.page-layer-item.active>.page-layer-item-children {
    display: block;
}

.page-layer-item.active>.page-layer-item-btn .fa-caret-down {
    transform: rotate(180deg);
}

/* BEGIN: device */
.device-mockup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
}

.device-status-bar {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 0px 20px;
}
.device-search-bar {
    width: calc(100% - 20px);
    height: 35px;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
    border-radius: 25px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    margin: 0px 15px;
}
.devise-search-bar-url span:last-child{
    text-transform: capitalize;
    margin-left: 5px;
}
/* END: device */

/* BEGIN: device xs */
#cmsbuilder-content-xs {
    width: 423px;
    height: 858px;
    position: relative;
    transform: scale(0.8158508158508159);
}
#cmsbuilder-content-xs .device-screen {
    width: 380px;
    height: 822px;
    position: relative;
    left: 22px;
    top: 18px;
    border-radius: 45px;
}
#cmsbuilder-content-xs .device-page {
    width: 100%;
    height: 747px;
    position: relative;
}
#cmsbuilder-content-xs iframe {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    border-radius: 0px 0px 45px 45px;
}
/* END: device xs */

/* BEGIN: device sm */
#cmsbuilder-content-sm {
    width: 875px;
    height: 1050px;
    position: relative;
    transform: scale(0.7);
}
#cmsbuilder-content-sm .device-screen {
    width: 782px;
    height: 827px;
    position: relative;
    left: 40px;
    top: 36px;
    border-radius: 10px;
}
#cmsbuilder-content-sm .device-page {
    width: 100%;
    height: 880px;
    position: relative;
}
#cmsbuilder-content-sm iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 12px;
}
/* END: device sm */

.overflow-hidden {
    overflow: hidden !important;
}

.modal-blockcms-header{
    background-color:#333333;
}
.modal-blockcms-header .searchBar-filters{
    width: 100%;
}   
.modal-blockcms-header .searchBar-filters .search-bar, .modal-blockcms-header .searchBar-filters .main-search-bar-addon{
    margin-top: 0px;
} 
.modal-blockcms-header .searchBar-filters .search-bar, .modal-blockcms-header .searchBar-filters .main-search-bar-addon{
    width: 100px;
    text-align: center;
}
 
.modal-blockcms-header .searchBar-filters .search-bar, .modal-blockcms-header .searchBar-filters .main-search-bar{
    width: 500px;
    text-align: left;
}

.modal-blockcms-header .searchBar-filters .main-search-bar-addon{
    background-color: #333333!important;
}
#category-template-filter{
    padding: 0px;
    height: calc(100vh - 240px);
    background-color: #333333;
    overflow: auto;
}

#category-template-filter .verticalList{
    padding: 0px;
    text-align:center;
}
#category-template-filter .verticalList .removeAllActiveFilters{
    background: #f4a502;
    border: 0px solid;
    margin: auto;
    padding: 4px 11px;
    border-radius: 5px;
}
#category-template-filter .verticalList .btn-filters-select{
    border: 0px;
    width: 100%;
    background-color: #333333;
    text-align: left;
}
#category-template-filter .verticalList .btn-filters-select:hover{
    background-color: #4e4e4e;
    padding-left: 20px;
}
#category-template-filter .verticalList .btn-filters-select.active{
    background-color: #f4a502;
    color: #333333;
    font-weight: bolder;
}


#modal-preview-template img {
    object-fit: contain !important;
}

#subMenu, #filters-nav, #mapContent,#menuBottom,#mapContentMap, .progressTop, #menuLeft {
    position: absolute !important;
}
.progressTop{
    z-index: 140000;
}
#menuLeft {
    position: absolute !important;
    /* padding-top: 300px !important;
    top: 50px !important; */
}

#menuLeft.toggleAll {
    height: inherit;
    padding-top: 20px !important; 
}
.menu-xs-container {
    /* position:absolute; */
    z-index: 100000;
    top: 100%;
    height: calc(70vh);
}


#inputHeight{
    width: 150px;
    background: #40404000 ;
    color: white;
}


.custom-number-input{
    background: #40404000 ;
    color: white;
}

#border-width{
    background: #40404000 ;
    color: white;
}


.border-width{
    background: #40404000 ;
    color: white;
}

.border-control{
    background: #40404000 ;
    color: white;
}

.margin-control{
    background: #40404000 ;
    color: white;
}


.padding-control{
    background: #40404000 ;
    color: white;
}

#hoverBorderType{
    width: 150px;
    background: #40404000 ;
    color: white;
}

.hover-border-width{
    background: #40404000 ;
    color: white;
}

.hover-border-control{
    background: #40404000 ;
    color: white;
}

.hover-margin-control{
    background: #40404000 ;
    color: white;
}


.hover-padding-control{
    background: #40404000 ;
    color: white;
}

#bgSize{
    width: 150px;
    background: #40404000;
    color: white;
}

#bgPosition{
    width: 150px;
    background: #40404000;
    color: white;
}

#bgRepeat{
    width: 150px;
    background: #40404000 ;
    color: white;
}

.option-custom{
    background: #4d4e4e;
}

#modal-preview-coop,.menuRight {
    position: absolute !important;
}
#modal-preview-coop{
    height: 100vh;
}
.xdsoft_datetimepicker,.select2-drop-multi,.sp-palette-buttons-disabled,body .bootbox.modal{
    z-index: 30000000000 !important;
}

.units-button{
    border: none;
    background-color: #3a3a3a00;
    font-family: Arial;
}

.dark input {
    background: #3a3a3a00  ;
    color : white ;
}

.dark textarea {
    background: #3a3a3a00  ;
    color : white ;
}


.dark .dark-shadow {
    background: #3a3a3a00 !important  ;
    color : white !important ;
}

.dark select {
    background: #3a3a3a00 !important  ;
    color : white !important ;
}

.dark option {
    background: #4d4e4e;
}
.dark .panel-collapse .panel-body {
    background: #3a3a3a00 !important  ;
    color : white !important ;
}

.dark .panel-collapse .panel-body .wrapper-shadow .slider-form input{
    background: #3a3a3a00 !important  ;
    color : white !important ;
}

.dark .sp-input {
    color : black !important ;
}


textarea[name="otherCss"] {
    color: #00ff75
}

textarea[name="otherClass"] {
    color: #ffa200
}

.section-icon .panel {
    background-color: #3a3a3a00 !important  ;
} 


.dark input[name="size"]{
    background: #3a3a3a00 !important  ;
    color : white !important ;
}

.dark button:not(".btn-font-manager"){
    color: white ;
    background: #3a3a3a00;
}

.sp-cancel {
    color: white ;
    background: red !important ;
}
.empty-section-block{
    width: 100%;
    top: 50%;
    margin: 2px 0 0;
    font-size: 25px;
    color: slategrey;
    text-align: center;
}

#input-lang{
    width: 100% !important;
}

.not-allowed {
    cursor: not-allowed;
    .modal-blockcms-list;
}


/* scroll bar */

#modal-preview-template .content-shadow::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
#modal-preview-template .content-shadow::-webkit-scrollbar{
    box-shadow: inset 0 0 5px grey; 
    border-radius: 8px;
  }
   
  /* Handle */
#modal-preview-template .content-shadow::-webkit-scrollbar-track{
    /*background: #1941fd; 
    border-radius: 10px;*/
  }

#modal-preview-template .categoryList {
        padding: 20px;
  }
#modal-preview-template .categoryList .badge {
        font-size: 15px;
    padding: 7px 12px;
    border-radius: 20px;
    background: #f4a502;
  }
#modal-preview-template .description{
    padding: 20px;
}
#modal-preview-template .swiperElement .swiper-slide img{
    max-width: 100%;
}
#modal-preview-template .swiperElement .swiper-slide {
    background: black;
    flex-shrink: 0;
    overflow: hidden;
    width: 96%;
    height: 400px;
    position: relative;
    display: flex;
    transition-property: transform;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
#modal-preview-template .swiperElement .swiper-wrapper{
width: 100%;
    height: 400px;
    z-index: 1;
    display: flex; 
}
#modal-preview-template .swiperElement{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
    align-content: center;
}
  /* Iframe */

  /* Handle on hover */
  #responsiveScreen::-webkit-scrollbar-thumb:hover {
    background: #1941fd; 
  }

  #responsiveScreen::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  #responsiveScreen::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 8px;
  }
   
  /* Handle */
  #responsiveScreen::-webkit-scrollbar-thumb {
    background: #1941fd; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  #responsiveScreen::-webkit-scrollbar-thumb:hover {
    background: #1941fd; 
  }

/* end scroll bar */


 /* .btn-actions-empty-cms {
    border-radius: 50%;
    height:43px;width:43px;
    font-size: 20px;
    background-color: #6c7780;
  }*/

  .container-structure {
    background-color:#e0e0e0;
    height:60px;
    border: solid white 2px;
  }
  
  .choose-structure:hover .container-structure{
    background-color:#bdbdbd;
  }


.btn-empty-column {
      height: 50px;
      color: #fff;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 25px;
      text-decoration: none; 
      outline: none;
}

.btn-empty-column:hover {
  text-decoration: none; 
}

.cmsbuilder-center-content .portfolio-modal {
    z-index: 9999999 !important;
}
#modal-preview-coop {
    z-index: 99999999 !important;
}
#ajax-modal {
    z-index: 999999999 !important;
}

/*    .container{margin-top:20px}*/
    .bodySearchTemplate .fa-spin-fast{-webkit-animation:fa-spin-fast .1s infinite linear;animation:fa-spin-fast 0.1s infinite linear}
    @-webkit-keyframes fa-spin-fast{0%{-webkit-transform:rotate(0);transform:rotate(0)}
        100%{-webkit-transform:rotate(180deg);transform:rotate(180deg)}}
    @keyframes fa-spin-fast{0%{-webkit-transform:rotate(0);transform:rotate(0)}
        100%{-webkit-transform:rotate(180deg);transform:rotate(180deg)}}
    .bodySearchTemplate .material-card{position:relative;height:0;padding-bottom:calc(250px - 16px);margin-bottom:6.6em}
    .bodySearchTemplate .material-card h2{position:absolute;top:calc(240px - 16px);left:0;width:100%;padding:10px 16px 10px 20px;height:82px;color:#fff;font-size:20px;line-height:1.6em;margin:0;z-index:2;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s;box-shadow: 0 2px 20px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);text-transform: none;}
    .bodySearchTemplate .material-card h2 span{word-wrap: break-word;  display: -webkit-box;  -webkit-line-clamp: 3;  -webkit-box-orient: vertical;overflow:hidden;}
    .bodySearchTemplate .material-card h2 strong{font-weight:300;display:block;font-size:.76em}
    .bodySearchTemplate .material-card h2:after,.bodySearchTemplate .material-card h2:before{content:' ';position:absolute;left:0;top:-16px;width:0;border:8px solid;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s}
    .bodySearchTemplate .material-card h2:after{top:auto;bottom:0}
    @media screen and (max-width:767px){.bodySearchTemplate .material-card.mc-active{padding-bottom:0;height:auto}
    }

    .bodySearchTemplate .material-card.mc-active h2{top:0;padding:10px 16px 10px 90px}
    .bodySearchTemplate .material-card.mc-active h2:before{top:0}
    .bodySearchTemplate .material-card.mc-active h2:after{bottom:-16px}
    .bodySearchTemplate .material-card .mc-content{position:absolute;right:0;top:0;height: 250px;bottom:16px;left:16px;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s;box-shadow:0 2px 20px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);}
    .bodySearchTemplate .material-card .mc-btn-action{position:absolute;right:16px;top:15px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;border:5px solid;width:54px;height:54px;line-height:46px;text-align:center;color:#fff!important;cursor:pointer;z-index:3;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s}
    .bodySearchTemplate .material-card .mc-btn-action:hover{box-shadow:0 0px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);transition:all 0.3s ease;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-ms-transition:all 0.3s ease;-o-transition:all 0.3s ease;}
    .bodySearchTemplate .material-card.mc-active .mc-btn-action{top:62px;box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);}
    .bodySearchTemplate .material-card .mc-description{position:absolute;top:100%;right:30px;left:30px;bottom:40px;overflow:hidden;opacity:0;-webkit-transition:all 0.4s;-moz-transition:all 0.4s;-ms-transition:all 0.4s;-o-transition:all 0.4s;transition:all 0.4s;word-wrap: break-word;  display: -webkit-box;  -webkit-line-clamp: 4;  -webkit-box-orient: vertical;}
    .bodySearchTemplate .material-card .mc-footer{height:0;overflow:hidden;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s}
    .bodySearchTemplate .material-card .mc-footer h4{position:absolute;top:200px;left:30px;padding:0;margin:0;font-size:16px;font-weight:700;-webkit-transition:all .4s;-moz-transition:all 0.4s;-ms-transition:all 0.4s;-o-transition:all 0.4s;transition:all 0.4s}
    .bodySearchTemplate .material-card .mc-footer a{display:block;float:left;position:relative;margin-left:10px;font-size:15px;color:#fff;text-decoration:none;top:200px;border-radius:50px;}
    .bodySearchTemplate .material-card .mc-footer a:nth-child(1){-webkit-transition:all .1s;-moz-transition:all .1s;-ms-transition:all .1s;-o-transition:all .1s;transition:all .1s}
    .bodySearchTemplate .material-card .img-container{overflow:hidden;position:absolute;left:0;top:0;width:100%;height:250px;z-index:1;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s;}
    .bodySearchTemplate .material-card.mc-active .img-container{-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;left:0;top:12px;width:55px;height:55px;z-index:3}
    .bodySearchTemplate .img-fluid{max-width:100%}
    .bodySearchTemplate .material-card .img-container img{width: 100%;  height: 250px;  object-fit: cover;}
    .bodySearchTemplate .material-card.mc-active .img-container img{width: 55px;  height: 55px;  object-fit: cover;}
    .bodySearchTemplate .material-card.mc-active .mc-content{padding-top:5.6em}
    @media screen and (max-width:767px){.bodySearchTemplate .material-card.mc-active .mc-content{position:relative;margin-right:16px}
    }
    .bodySearchTemplate .material-card.mc-active .mc-description{top:50px;padding-top:5.6em;opacity:1;text-align:left;}
    @media screen and (max-width:767px){.bodySearchTemplate .material-card.mc-active .mc-description{position:relative;top:auto;right:auto;left:auto;padding:50px 30px 70px 30px;bottom:0}
    }
    .bodySearchTemplate .material-card.mc-active .mc-footer{overflow:visible;position:absolute;top:calc(250px - 16px);left:16px;right:0;height:auto;min-height:72px;display:flex;align-items:center;justify-content:center;flex-wrap: wrap;box-shadow:0 2px 20px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);}
    .bodySearchTemplate .material-card.mc-active .mc-footer a{top:0;max-width: 35px;overflow: hidden;padding: 6px 11px;}
    .bodySearchTemplate .material-card.mc-active .mc-footer a:hover{max-width: 240px;}
    .bodySearchTemplate .material-card.mc-active .mc-footer h4{top:27px;left:20px;font-weight:400;}

    .bodySearchTemplate .material-card.Light-Green h2{background-color:#8bc34a}
    .bodySearchTemplate .material-card.Light-Green h2:after{border-top-color:#8bc34a;border-right-color:#8bc34a;border-bottom-color:transparent;border-left-color:transparent}
    .bodySearchTemplate .material-card.Light-Green h2:before{border-top-color:transparent;border-right-color:#33691e;border-bottom-color:#33691e;border-left-color:transparent}
    .bodySearchTemplate .material-card.Light-Green.mc-active h2:before{border-top-color:transparent;border-right-color: #8bc34a;border-bottom-color:#8bc34a;border-left-color:transparent}
    .bodySearchTemplate .material-card.Light-Green.mc-active h2:after{border-top-color:#33691e;border-right-color:#33691e;border-bottom-color:transparent;border-left-color:transparent}
    .bodySearchTemplate .material-card.Light-Green .mc-btn-action{background-color:#8bc34a}
    .bodySearchTemplate .material-card.Light-Green .mc-btn-action:hover{background-color:#33691e}
    .bodySearchTemplate .material-card.Light-Green .mc-footer h4{color:#33691e}
    .bodySearchTemplate .material-card.Light-Green .mc-footer a{background-color:#33691e}
    .bodySearchTemplate .material-card.Light-Green.mc-active .mc-content{background-color:#f1f8e9}
    .bodySearchTemplate .material-card.Light-Green.mc-active .mc-footer{background-color:#dcedc8}
    .bodySearchTemplate .material-card.Light-Green.mc-active .mc-btn-action{border-color:#f1f8e9}

    .bodySearchTemplate .material-card .div-img{background-color: #eee;text-align: center;height: 100%;display: flex;align-items: center;justify-content: center;}
    .bodySearchTemplate .material-card .div-img .fa-2x{font-size: 12em;}
    .bodySearchTemplate .material-card.mc-active .div-img .fa-2x{font-size: 2em;}
    .bodySearchTemplate .material-card .go-to {background-color: #33691e;color: white;border-radius: 50px;font-size: 14px;}
    .bodySearchTemplate .material-card.Light-Green .mc-footer div a {
        min-width: 40px;
        padding-left: 12px;
    }

    .icon-preview-tpl{
        position: absolute;
        width: 100%;
        text-align: center;
        color: #33691e;
        top: 50%;
        transform: translate(0, -50%);
        padding: 10px;
        font-size: 30px;
        cursor: pointer;
        display: none;    
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #dcedc8;
    }
    .icon-preview-tpl:hover{        
        display: block;
        color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #33691e;
    }

    .div-img:hover + .icon-preview-tpl {
        display: block;
    }
    .template-filter #filterContainer{
        background-color: #dcedc8;

    }
    .template-filter .countResults{
        color: #32671e;

    }
    .template-filter .search-bar{
        border: white;
        border-radius: unset;
        width: 450px;
    }
    .template-filter .main-search-bar-addon{
        border-radius: unset;
        background-color: #32671d !important;
    }
    .template-filter .btn-menu {
        border-radius: unset !important;
        margin-left: 0 !important;
        border: unset !important;
        border-left: solid 1px green;
        border:solid;
    }
    .template-filter .dropdown {
        margin-right:0 !important;
    }

    #modal-content-costumizer-administration < .contains-view-admin { border: solid 3px red;  background-color: red;}

    #modal-content-costumizer-administration .headerSearchContainerAdmin h4 { 
        cursor: pointer;
    }


    .count-results-icon{
        display: none;
    }

#modal-preview-template .content-shadow::-webkit-scrollbar,
#ajax-modal.template-form-design .modal-content::-webkit-scrollbar,
.modal-blockcms-list::-webkit-scrollbar {
    width: 6px;
    margin-right: 8px;
}

#modal-preview-template .content-shadow::-webkit-scrollbar-thumb,
#ajax-modal.template-form-design .modal-content::-webkit-scrollbar-thumb,
.modal-blockcms-list::-webkit-scrollbar-thumb {
    background: #fafafa;
    border-radius: 5px;
}
#modal-preview-template .content-shadow::-webkit-scrollbar,
#ajax-modal.template-form-design .modal-content::-webkit-scrollbar,
.modal-blockcms-list::-webkit-scrollbar {
    box-shadow: inset 0 0 6px grey;
    border-radius: 10px;
}
.modal-blockcms-body {
display: flex;
}
#modal-template-results{
    width: 100%;
    position: relative;
}
#modal-template-results .endOfresults{
    color: white !important;
}
.modal-filter-template{
    width: 100%;
}
#modal-template-results .gallery-masonry-lightbox-link img{
    min-height: 175px;
    width:100%;
    transition-timing-function: ease; 
    transition-duration: 1.5s; 
    /*transition-delay: 0.581152s;*/
}

#modal-template-results .gallery-masonry-lightbox-link img.centerImgMinHeight{
    width: auto !important;
    min-width: 100%;
    max-width: inherit;
}
.modal-blockcms-list {
    width: 100%;
    height: calc(100vh - 240px);
    overflow-y: auto;
    display: flex;
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-gap: 20px; */
    padding: 0px 20px;
    /* background: white; */
    overflow-x: hidden;
}
#modal-preview-template .action-template{
    padding-top: 20px;
}
#modal-preview-template .action-template a.btn{
    margin-right: 15px;
}
#modal-preview-template .modal-blockcms-header .topsection{
    width:100%;
    display: inline-flex;
    justify-content: space-between;
}
#modal-preview-template .modal-blockcms-header h3{
    line-height: 40px;
}
 body {
        overflow: hidden;
    }

    #modal-blockcms {
        position: absolute;
        z-index: 999998;
        width: 100%;
        min-width: 650px;
        height: calc(100vh - 40px);
        top: 40px;
        left: 0px;
        background-color: #3A3A3A;
        color: white;
        transform: translateX(-100%);
        visibility: hidden;
       }
    #modal-preview-template {
        position: absolute;
        z-index: 99999999;
        display: flex;
        width: 100%;
        height: 100vh;
        left: 0px;
        background-color: #3a3a3aab;
        color: white;
        transform: translateX(-100%); 
        visibility: hidden; 
        justify-content: center;
        align-content: center;
    }
    #modal-preview-template.open {
        transform: translateX(0);
        transition: .3s;
        visibility: visible;
    }
    .cmsbuilder-center-content #ajax-modal.template-form-design{
        z-index: 999999991 !important;
        top: 0px !important;
        left: 0px !important;
        background-color: #3a3a3aab;
        color: white;
        height: 100vh;
        width: 100%;
        display: flex !important;
    align-content: center;
    justify-content: end;

    }
    #modal-preview-template .modal-blockcms-header{
        border:none;
        display: inline-block;
    }
    #modal-preview-template .preview-body{
        text-align: center;
        padding-top: 20px;
    }
    
    #modal-preview-template .content-shadow, .cmsbuilder-center-content #ajax-modal.template-form-design .modal-content{
        position: relative;
        width: 80%;
        height: 90vh;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 5vh;
        background: #333333;
        box-shadow: 0px 0px 41px 3px #565656;
        border-radius: 10px;
    }
    #modal-preview-template .swiperElement{   
        background-color: #000000;
            margin-bottom: 30px;
    }
     #modal-preview-template .swiperElement .swiper-template-pagination{   
         bottom: -30px;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 100000;
    }
    #modal-preview-template .swiperElement .swiper-pagination-bullets .swiper-pagination-bullet{
        width: 10px;
        height: 10px;
    }
    .select2-drop-multi{
        z-index: 3000000000!important ;
    }
    #modal-preview-template .swiperElement .swiper-pagination-bullet-active {
        background: #f4a502;
    }
    .cmsbuilder-center-content #ajax-modal.template-form-design .modal-content {
        top: inherit;
        min-height: inherit;
        margin: 5vh auto;
        width: 80%;
    }
    .cmsbuilder-center-content #ajax-modal.template-form-design .close-modal * {
        background-color: white
    }
    .cmsbuilder-center-content #ajax-modal.template-form-design .modal-header{
        background: transparent !important;
        border: 1px solid;
    }
    .cmsbuilder-center-content #ajax-modal.template-form-design #ajax-modal-modal-body .bg-white,
    .cmsbuilder-center-content #ajax-modal.template-form-design .container{
         background: #333333 !important;
    }
    #modal-blockcms.open {
        transform: translateX(0);
        visibility: visible;
         transition: .3s;
    
    }

    .modal-blockcms-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
 
   
    .modal-blockcms-header h3 {
        margin: 0;
        padding: 0;
        text-transform: none;
        font-weight: normal;
    }

    .modal-blockcms-header button:not(.shared) {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: none;
        top: 10px;
        background-color: #333;
        position: absolute;
        right: 10px;
    }

    .modal-blockcms-body {
        height: 100%;
    }

    .modal-blockcms-filter {
        height: 60px;
    }

    .modal-blockcms-filter .input-group input,
    .modal-blockcms-filter .input-group button {
        background: #333;
        color: white;
        border: 1px solid #707070;
    }

    .modal-blockcms-filter .input-group button {
        min-width: 180px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 34px;
    }

    .modal-blockcms-filter .dropdown-menu {
        max-height: 450px;
        overflow: auto;
    }

    .modal-blockcms-list-item {
        width: 100%;
        border: 1px solid #707070;
        border-radius: 4px;
        height: fit-content;
        cursor: pointer;
        position: relative;
    }

    .modal-blockcms-list-item:hover {
        border-color: #007fff;
    }

    .modal-blockcms-list-item .selection-hover {
        width: 45px;
        height: 45px;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        pointer-events: none;
        transition: .2s;
    }

    .modal-blockcms-list-item:hover>.selection-hover {
        opacity: 1;
    }

    .modal-blockcms-list-item .selection-hover i {
        position: absolute;
        top: 10px;
        right: 5px;
        z-index: 1;
    }

    .modal-blockcms-list-item .selection-hover::after {
        position: absolute;
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 45px 45px 0;
        border-color: transparent #007fff transparent transparent;
    }

    .modal-blockcms-list-item-body {
        height: 300px;
    }

    .modal-blockcms-list-item-footer {
        padding: 10px;
    }

    .modal-blockcms-list-item-body img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px 4px 0px 0px;
    }

    .modal-blockcms-list-item-footer p {
        margin: 0px;
        padding: 0px;
        font-size: 16px;
    }

    .ui-widget input,
    .ui-widget select,
    .ui-widget textarea,
    .ui-widget button {
        font-size: initial !important;
    }

    .ui-widget-content {
        background-color: #3A3A3A;
        border: none;
        color: white;
    }

    .ui-accordion .ui-accordion-content {
        padding: 10px !important;
    }

    .ui-accordion .ui-accordion-header {
        font-weight: bold;
        background: #313131;
        text-transform: none;
        color: white;
        border: none;
        padding: 15px 5px;
    }

    .ui-accordion .ui-accordion-header.ui-state-active {
        background: #007fff;
    }

    .mt-10 {
        margin-top: 10px !important;
    }
    .cmsbuilder-right-content #right-panel .btn.disabled,.btn[disabled],fieldset[disabled] .btn {
        cursor: not-allowed;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: 0.3;
        pointer-events: none;
    }
   /* .new-feature {
        background-image: url('../img/new2.png') !important;
        background-size: 30px !important;
        background-repeat: no-repeat !important;
        background-position-x: right !important;
        padding-right: 5px;
    }
    .new-dot {
        background-image: url('../img/new3.png') !important;
        background-size: 10px !important;
        background-repeat: no-repeat !important;
        background-position: right;
        background-position-y: 5px;
    }*/

    .co-input-btn-style {
        background-color: #0091c6;
        padding: 2px 12px 2px 2px;
        border-radius: 50px;
        text-decoration: none;
        display: inline-block;
        min-width: 10px;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        height: 25px;
    }
    .co-input-btn-style i {
        color: #7bc3d1;
        padding: 4px;
        background: #ffffff;
        margin-right: 4px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
    }

    .costum-user-img-avatar {
        border-radius: 50%;
        height: 30px; 
        width: 30px;
        font-family: "Fontawesome" !important;
        font-size: 22px !important;
        text-align: center !important;
    }

    .pannelCommunity .avatar-admin-name{
        display: none;
    }

    .pannelCommunity .user-connected-item {
        margin: -3px;
    }

    .pannelCommunity {
        padding-top: 10px;
        padding-bottom: 10px;
        flex-direction: column-reverse;
        align-content: center;
        width: 40px;
        color: white;
        background-color: #404040;
        border-bottom: 1px solid white;
        border-right: 1px solid white;
    }

    .active-now {
        color: #8BC34A !important;
    }

    .useradmin .show-admin-active{
        display: none;
    }
    .user-admin a{
        text-decoration: none;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block !important;
        padding:10px;
    }
    .show-admin-active{
        cursor: pointer;
    }

    .useradmin{
        position: absolute;
        min-width: 290px;
        bottom: 35px;
        z-index: 999999 !important;
        background-color: white;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        overflow-y: scroll;
        height: 460px;
        flex-direction: column;
    }
    .user-dot {
        color: #4d4c4c12;
    }

    .avatar-admin-name{
        width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: middle;
    }

    .history-content-list .avatar-admin-name{
        width: 150px;
        color: white;
    }

    .user-state{
        position: fixed;
        bottom: 20px;
        align-content: center;
        min-width: 40px;
        background-color: white;
        z-index: 99997;
    }

    .costum-info:has(> .alias-cms) {
        background-color: #ffa500!important;
        color: black;
    }

    .has-costum-alias-list{
       padding-top: 30px !important;
    }

    .costum-alias-container{
        overflow-x: hidden;
        height: 650px;
    }

    .has-costum-alias-list .col-xs-12{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .contains-view-alias-head{
        padding: 20px;
    }
    /* Styles for the costum admin panel */


    .co-admin-dropbtn {
        background-color: #34a853!important;
        color: white;
        padding: 5px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        width: 25px;
    }

    .co-admin-dropdown {
        display: inline-block;
        position: absolute;
        right: 15px;
        bottom: 12px;
    }

    .co-admin-dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        right: 0;
    }

    .co-admin-dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .co-admin-dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .co-admin-dropdown:hover .co-admin-dropdown-content {
        display: block;
    }

    .co-admin-dropdown:hover .co-admin-dropbtn {
        background-color: #2980b9;
    }

    #list-page-container {
        overflow: auto;
        font-size: 12px;
        font-weight: 200;
        top: 0px;
        color: #e1ffff;
    }

/*
 CSS for import export page cms
*/
    .import-export-tabset > input[type="radio"] {
        position: absolute;
        left: -200vw;
    }

    .import-export-tabset .import-export-tab-panel {
        display: none;
    }

    .import-export-tabset > input:first-child:checked ~ .tab-panels > .import-export-tab-panel:first-child,
    .import-export-tabset > input:nth-child(3):checked ~ .tab-panels > .import-export-tab-panel:nth-child(2),
    .import-export-tabset > input:nth-child(5):checked ~ .tab-panels > .import-export-tab-panel:nth-child(3),
    .import-export-tabset > input:nth-child(7):checked ~ .tab-panels > .import-export-tab-panel:nth-child(4),
    .import-export-tabset > input:nth-child(9):checked ~ .tab-panels > .import-export-tab-panel:nth-child(5),
    .import-export-tabset > input:nth-child(11):checked ~ .tab-panels > .import-export-tab-panel:nth-child(6) {
        display: block;
    }

    .import-export-tabset > label {
        position: relative;
        display: inline-block;
        padding: 15px 15px 25px;
        border: 1px solid transparent;
        border-bottom: 0;
        cursor: pointer;
        font-weight: 600;
    }

    .import-export-tabset > label::after {
        content: "";
        position: absolute;
        left: 15px;
        bottom: 10px;
        width: 22px;
        height: 4px;
        background: #8d8d8d;
    }

    input:focus-visible + label {
        outline: 2px solid rgba(0,102,204,1);
        border-radius: 3px;
    }

    .import-export-tabset > label:hover,
    .import-export-tabset > input:focus + label,
    .import-export-tabset > input:checked + label {
        color: #06c;
    }

    .import-export-tabset > label:hover::after,
    .import-export-tabset > input:focus + label::after,
    .import-export-tabset > input:checked + label::after {
        background: #06c;
    }

    .import-export-tabset > input:checked + label {
        border-color: #ccc;
        border-bottom: 1px solid #fff;
        margin-bottom: -1px;
    }

    .import-export-tab-panel {
        padding: 30px 0;
        border-top: 1px solid #ccc;
    }

    .import-export-tabset input[type="file"] {
        margin: auto;
        padding: 1.5em;
        border: 2px dashed #bbb;
        background-color: #fff;
        transition: border-color .25s ease-in-out;
        &::file-selector-button{
            padding: 1em 1.5em;
            border-width: 0;
            border-radius: 2em;
            background-color: hsl(210 70% 30%);
            color: hsl(210 40% 90%);
            transition: all .25s ease-in-out;
            cursor: pointer;
            margin-right: 1em;
        }
        &:hover {
            border-color: #888;

            &::file-selector-button{

                background-color: hsl(210 70% 40%);
            }
        }
    }

    .import-only .export-cms {
        display: none !important;
    }

    #list-page-container ul,
    #list-page-container li {
        list-style: none;
        padding: 0px;
        margin: 0px;
        line-height: 35px;
        /*cursor: pointer;*/
    }
    
    #list-page-container li {
        /*padding-left: 10px;*/
        border-left: 3px solid #2e353d;
        border-bottom: 1px solid #23282e;
        font-size: 15px;
        width: 100%;
        display: inline-block;
    }
    #list-page-container .dropdown-menu>li>a {
        color: #333;
        padding: 3px 5px;
    }
    #list-page-container .dropdown-menu>li {
        border-left: none;
    }
    #list-page-container .dropdown-menu>li:hover {
        border-left: none;
    }
    #list-page-container li>span {
        display: inline-block;
    }
    #list-page-container .dropdown-visibility {
        display: inline-block;
    }
    #list-page-container .dropdown-visibility .btn .caret {
        display: none;
    }
    #list-page-container .dropdown-visibility .btn-primary {
        padding: 0px;
        background: transparent;
        border-color: transparent;
    }
    #list-page-container .dropdown-menu-action-page button.btn,
    #list-page-container .dropdown-visibility button.btn{
        color: #fff;
        background: transparent;
    }
    #list-page-container .dropdown-menu-action-page button.btn:hover,
    #list-page-container .dropdown-menu-action-page button.btn:focus,
    #list-page-container .dropdown-menu-action-page button.btn:active,
    #list-page-container .dropdown-visibility button.btn:hover,
    #list-page-container .dropdown-visibility button.btn:focus,
    #list-page-container .dropdown-visibility button.btn:active{
        color: #4f5b69;
        background: #fff;
        border: 1px solid #d19b3d;
    }
    #list-page-container .dropdown-visibility .btn.disabled,
    #list-page-container .dropdown-visibility li:hover .btn.disabled{
        cursor: not-allowed;
    }
    #list-page-container li a {
        text-decoration: none;
        color: #e1ffff;
        font-size: 15px;
        display: block;
    }
    #list-page-container .sub-menu li a {
        min-width: 80%;
        display: inline-block;
    }
    #list-page-container li a i {
        padding-left: 10px;
        width: 20px;
        padding-right: 20px;
    }

    #list-page-container .menu-content-page {
        display: block;
    }
    #list-page-container  .brand {
        background-color: #23282e;
        line-height: 50px;
        display: block;
        text-align: center;
        font-size: 14px;
    }
    #list-page-container .create-page {
        width: 100%;
        border-radius: 0px;
        border: 2px solid #2e353d;
        background: #ffffff;
        color: #2e353d;
    }
    #list-page-container .create-page:hover {
        border: 2px solid #2e353d;
        background: #2e353d;
        color: #ffffff;
    }

    #list-page-container span.namePage {
        cursor: pointer;
    }

