#menuLeft {
    /*left: 28px; ca depend du largeur de l'ecran*/
    color: #2C3E50;
    box-shadow: none;
    border: none; 
}

.nameMenu{
	display: block;
	font-size: 12px;
	font-weight: bolder;
}

.menu-btn-top{
	text-align: center;
	margin-left: 4px;
	margin-right: 4px;
}

#menuLeft a {
    background-color: #ddd; 
}
#menuLeft > a:first-child{
    border-radius: 50% 50% 0px 0px;
}
#menuLeft > a:last-child{
    border-radius: 0px 0px 50% 50%; 
}

a.btn-menu-to-app {
    border-bottom: 2px solid #a7adb3;
}
a.btn-menu-to-app.active, a.btn-menu-to-app:hover, a.btn-menu-to-app:focus{
    border-bottom: 2px solid #9fbd38;
    color: #9fbd38!important;
}
#mainNav #menuTopRight{
    margin-top: 15px;
}
.menu-xs-container a {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    border-left: 10px solid #9fbd38;
    background-color: white;
    color: #9fbd38;
}
.menu-xs-container a:hover {
    border-left: 13px solid  white;
    background-color:#9fbd38;
    color:  white !important;
}

.btn-menu-connect{
    background-color: #9fbd38!important;
    padding: 4px;
    padding-top: 4px!important;
    border: 2px solid #9fbd38;
    border-radius: 4px;
    color: #fff;
}
.btn-menu-connect:hover, .btn-menu-connect:active, .btn-menu-connect:focus{
    color: #9fbd38!important;
    border: 2px solid #9fbd38;
    background-color: #fff!important;
    box-shadow: 0 0 6px 0 #9fbd38 inset;
}
.container-filters-menu .searchBar-filters .input-group-addon {
    background-color: #9fbd38!important;
}
#filters-nav #input-sec-search .input-global-search {
    border-color: #9fbd38!important;
}
#filters-nav .container-filters-menu #input-sec-search .input-group-addon {
    color: #9fbd38;
    border: 1px solid #9fbd38;
    border-right-width: 0px;
}
.filterContainer .dropdown .btn-menu, #filters-nav .dropdown .btn-menu, #filters-nav .filters-btn {
    border: 1px solid #9fbd38!important;
}

#menuLeft .menu-button.btn-menu {
    position: initial !important;
}
/**
#mainNav .searchBarInMenu {
    width: 55%;
    display: inline !important;
}*/

#second-search-bar-addon{
	box-shadow: 0px 0px 5px 5px #cccccc !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	border-radius: 50% !important;
	margin-left: -10% !important;
	background: #c7d301 !important;
	color: white !important;
}

@media (max-width: 767px){
    .showHide {
        color: #9fbd38;
    }
    .showHide:hover, .showHide:active, .showHide:focus{
        background-color: #9fbd38;
        color: #fff;
    }
    .container-filters-menu .searchBar-filters {
        display: none!important;
    }
    #filterContainer .dropdown .dropdown-menu, #filters-nav .container-filters-menu .dropdown .dropdown-menu {
        border: 1px solid #9fbd38!important;
    }
    .searchBarInMenu #main-search-bar-addon{
        background-color: #9fbd38!important;
    }
    #filters-nav .container-filters-menu {
        border-top: 2px solid #9fbd38;
    }
    #mainNav {
        padding-left: 10px;
    }
    #mainNav #menuTopRight {
        margin-top: 5px!important;
    }
}

@media (min-width: 768px){
    #mainNav #menuTopRight{
        margin-top: 5px;
    }    
}
@media (max-width: 767px){
    #mainNav #menuTopLeft a img{
        height: 40px;
        width: 40px;
        margin-left: -10px;
    }
}