	#bg-homepage{
		width: 100%;
		border-top: 1px solid #ccc;
	}

	#mainNav #menuTopLeft .lbh-menu-app{
		font-size: 20px;
		margin-top: 20px;
		padding: 18px;
		color: #44536a !important;
		text-decoration: none;
		display: block;
	}
	#mainNav #menuTopLeft .lbh-menu-app:hover{
		color: #f9576d !important;
	}
	
	@font-face{
  font-family: Lato-Italic;
  src: url('../../font/numerisationlila/Lato-Italic.ttf');
}

