    .ans-dir hr {
        border: 1px solid #858585;
    }
    .ans-dir .team {
        margin-top: 25px;
    }
    .team {
        border-radius: 15px !important;
        box-shadow: rgb(0 0 0 / 11%) 0px 6px 24px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 1px !important;
    }
    .ans-dir .team h1 {
        font-weight: normal;
        font-size: 22px;
        margin: 10px 0 0 0;
    }
    .ans-dir .team h2 {
        font-size: 16px !important;
        font-weight: lighter;
        margin-top: 5px;
    }
    .ans-dir .team .img-box {
        opacity: 1;
        display: block;
        position: relative;
    }
    .ans-dir .team .img-box:after {
        content: "";
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.75);
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
    }
    .ans-dir .img-box ul {
        position: absolute;
        z-index: 2;
        bottom: 50px;
        text-align: center;
        width: 100%;
        padding-left: 0px;
        height: 0px;
        margin: 0px;
        opacity: 0;
    }
    .ans-dir .team .img-box:after, .img-box ul, .img-box ul li {
        -webkit-transition: all 0.5s ease-in-out 0s;
        -moz-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s;
    }
    .ans-dir .img-box ul i {
        font-size: 20px;
        letter-spacing: 10px;
    }
    .ans-dir .img-box ul li {
        width: 30px;
        height: 30px;
        text-align: center;
        border: 1px solid #fff;
        margin: 2px;
        padding: 5px;
        display: inline-block;
    }
    .ans-dir .img-box a {
        color: #fff;
    }
    /* .ans-dir .img-box:hover:after { */
        /* opacity: 1;
        */
    /* } */
    /* .ans-dir .img-box:hover ul { */
        /* opacity: 1;
        */
    /* } */
    .ans-dir .img-box ul a {
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    .ans-dir .img-box a:hover li {
        border-color: #FFEA05;
        color: #FFEA05;
    }
    .ans-dir .img-box a {
        color: #FFEA05;
    }
    .ans-dir .img-box a:hover {
        text-decoration: none;
        color: #519548;
    }
    .ans-dir .card-team{
        position: relative;
        /* height: 614px;
        */
        width: 100%;
        /* padding-top: 15px; */
        padding: 22px;
    }
    .ans-dir .team{
        box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
        flex: 0 0 calc(98%/3);
        padding: 5px 10px;
    }
    .ans-dir .team .desc{
        word-break: break-word;
        line-height:120%;
        text-align: left !important;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp:3;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .ans-dir .img-responsive-action{
        width: 100%;
        height: auto;
        max-height: 173px;
        object-fit: cover;
    }
    @media only screen and (min-width : 320px) {
        .ans-dir .team{
            box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
            flex: 0 0 100%;
            padding: 5px 10px;
        }
    }
    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {
        .ans-dir .team{
            box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
            flex: 0 0 100%;
            padding: 5px 10px;
        }
    }
    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        .team{
            box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
            flex: 0 0 49%;
            padding: 5px 10px;
        }
    }
    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        .ans-dir .team{
            box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
            flex: 0 0 calc(98%/2);
            padding: 5px 10px;
        }
    }
    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        .ans-dir .team{
            box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
            flex: 0 0 calc(90%/3);
            padding: 5px 10px;
        }
    }
    .ans-dir #filterContainerInside {
        overflow-y: unset !important;
        max-height: 800px;
    }
    .ans-dir #sticky,.aap-footer,.aap-options-btn,.rater-sheet,.votant-modal,.view-contributors,.rebtnFinancer{
        display: none !important;
    }
    .ans-dir .portfolio-modal.modal#modal-action .modal-content{
        background: rgb(0 0 0 / 72%);
    }
    .ans-dir .portfolio-modal.modal#modal-action .modal-content .container{
        background: #fff;
        padding-top: 10px;
        border-radius:5px;
    }
    .ans-dir .portfolio-modal.modal#modal-action .modal-content .container .row h2{
        padding-left:15px;
    }
    .ans-dir .portfolio-modal.modal#modal-action .close-modal .lr .rl, .portfolio-modal.modal#modal-action .close-modal .lr {
        background-color: #fff;
    }
/* 
    @media (min-width: 1200px) {
        .container {
            width: fit-content !important;
        }
    } */

    #wizardcontainer {
        width: fit-content !important;
    }

    #info {
        width: inherit !important;
        /* justify-content: inherit !important; */
    } 


    .ans-dir .bodySearchContainer {
        height: auto;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        align-items: stretch;
    }

    .third-place-title, .network-grand-title {
        margin-top: 3%;
        font-size: 22px;
    }

    .network-grand-title a {
        color: #244A58
    }

    .third-place-title a {
        color: #8DBC21;
    }

    .network-title {
        font-size: 16px;
        color: #244A58;
    }

    .date-nd-person {
        color: #244A58;
        font-size: 14px;
        line-height: 24px !important;
    }

    .ctnr-txtarea .textarea-new-comment {
        height: auto !important;
    }
