.clearfix:before, .clearfix:after {
	content:" ";
	display: table;

}
.clearfix:after{
	clear: both;
}
.wrapper{
	/* width:65%; */
  width: 80%;
	max-width: 90%;
	margin: 0 auto;
  text-align: center;
}

#list-tools{
  width: 100%;
  position: relative;
  list-style: none;
  padding: 0;

}
#list-tools a {
text-decoration: none;

}

 /* #list-tools:after {
    content: "";
    width: 1px;
    background: 1px #e6e7e9;
    height: 90%;
    position: absolute;
    top: 3em;
    left: 3em;
    z-index: 0; 
  } */

/* #list-tools .listing{ */
  /* background-color: white; */
  /* background-color: #f2f2f2;
  border: 1px solid #e6e7e9;
  border-radius: 0.3em;
  padding: 1em;
  margin-bottom: 1em;
  position: relative;
  z-index: 1; */
  /* display: table; */
  /* width: 100%; */
  /* transition: all .3s ease-in-out; */
/* } */
/* .listing:hover{
  cursor: pointer;
  box-shadow: 0px 2px 40px 0 rgba(0,0,0,0.1);

} */
#list-tools .listing img,.info,.usage-type{
  display: table-cell;
  vertical-align: middle;
  font-size: 0.9em;
  color: #74718f;

}
#list-tools .image-wrapper{
  width: 60px;
}
#list-tools .image-wrapper img{
  width: 60px;
  display : block;
  margin : 0 auto;
  border-radius: 0.25em;
}
.info{
    line-height: 1.25;
    width: 823px;
    padding-left: 25px;
    text-align: left;
}
.usage-title{
  font-size: 1.2em;
  /* color: #34324b; */
  color: #244A58;
}
.usage-info{
  color:#74718f;
  display: block;

}
.usage-info span{
  margin: 0 .75em;
}
.usage-type{
  border: solid 1px;
  /* border-radius: 50%; */
  padding-left: 19px;
  padding-right: 19px;
  width: 126px;
  font-size: 14px;
  font-weight: 700;
  color: #3c6b7c;
}

.section-tool{
  /* display: inline-block;  */
  display: flex;
  padding: 1em 0;
  background-color: white;
  font-weight: 700;
  font-size: .75em;
  text-align: center;
  z-index: 2;
  position: relative;
  margin : 1em 0 2em 0;
  right: 50px;
  align-items: center;
  width: 18%;
}

.sublist-content {
  border-left: 4px solid;
  margin: 3% 0%;
  border-radius: 11px;
}

.tp-percent {
  border: 3px solid transparent;
  border-image: linear-gradient(90deg, #3498db 0%, transparent 0%);
  border-image-slice: 1 !important;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 7px 5px;
}

.list-content {
  display: flex;
}

@media only screen and (max-width: 768px){
  .main-header{
  margin: 3em 0;
}
.logo{
   display: block;
  text-align: center;
}
.logo img {
  
    float: none;

}
.logo h1{
  float: none;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 1.1em;
 

}

}

.tool-span {
  background: cornflowerblue;
  padding: 3px 8px;
  border-radius: 12px;
  color: white;
  font-weight: 700;
}

.empty-text {
  margin-top: 5em;
  font-family: inherit;
}

.tool-desc {
  display: inline-block;
  /* margin-left: 5px; */
  /* width: 60%; */
  width: max-content;
  vertical-align: top;
}

.tool-and-desc {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col-list {
  width: max-content;
  margin-left: 20px;
}

.tools-preview {
  color: #2b595d;
}

.divEndOfresults {
  position: initial !important;
}

.tool-card {
  text-align: center;
  padding: 12px;
  border-radius: 11px;
  box-shadow: 0px 2px 40px 0 rgba(0,0,0,0.1);
  margin: 19px 0px;
}

p.section-tool-title {
  /* font-size: 24px; */
  font-size: 22px;
}

/* .tools-content {
  padding: 2%;
  box-shadow: 0px 2px 40px 0 rgba(0,0,0,0.1);
  border-radius: 11px;
} */