.status a{
    color: white;
    font-weight: 700;
    font-size: 16px;
}
.status{
    position: absolute;
    right: 4%;
    background: green;
    padding: 3px;
    background: #2D9CDB;
}

#ajax-modal.institutBleuModal , #modalLogin {
    background: linear-gradient(90deg, rgb(6, 10, 25, 1) 35%, rgb(0, 101, 179) 100%) !important;
}

#ajax-modal.institutBleuModal input::placeholder , #ajax-modal.institutBleuModal textarea::placeholder , #ajax-modal.institutBleuModal select::placeholder  , #modalLogin input::placeholder  {
    color: white;
}

#ajax-modal.institutBleuModal .modal-content , #modalLogin .modal-content{
    background: transparent !important;
}

#ajax-modal.institutBleuModal .modal-content .container , #modalLogin .modal-content .container{
    background: transparent !important;
}

#ajax-modal.institutBleuModal .modal-header , #modalLogin .modal-header{
    background-color: #2D9CDB !important
}

#ajax-modal.institutBleuModal .modal-body , #modalLogin .modal-body{
    font-size: large !important
}

#ajax-modal.institutBleuModal .displayAuthcheckboxSimple .btn-dyn-checkbox.bg-green-k{
    background-color: #2D9CDB !important;
}


#ajax-modal.institutBleuModal #ajax-modal-modal-body .row {
    background: transparent !important;
    color: white !important;
    border-radius: 10px;
}

#modalLogin {
    color: white !important;
}

#ajax-modal.institutBleuModal .close-modal , #modalLogin .close-modal{
    background-color: white;
    color: #212D40;
    padding: 10px;
    border: 1px solid #212D40;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#ajax-modal.institutBleuModal .otherSociaNetworkslists .removeListLineBtn {
    color: red !important;
    background-color: white !important;
    border: 1px solid red;
}


#ajax-modal.institutBleuModal .form-group{
    width: 90% !important;
    margin-left: 5% !important;
}

#ajax-modal.institutBleuModal .close-modal:hover , #modalLogin .close-modal:hover {
    color: #044679 !important;
    transform: scale(1.05);
    opacity: 1 !important;
    background-color: white !important;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}


#ajax-modal.institutBleuModal .infoGeneralcustom p, #ajax-modal.institutBleuModal .sextionInfocustom p {
    text-align: center !important;
    font-size: 20px !important;
}

#ajax-modal.institutBleuModal .nametext, #ajax-modal.institutBleuModal .acronymtext, #ajax-modal.institutBleuModal .imageuploader,
#ajax-modal.institutBleuModal .legalStatustags, #ajax-modal.institutBleuModal .descriptiontextarea, #ajax-modal.institutBleuModal .formLocalityformLocality,
#ajax-modal.institutBleuModal .operatingLocationundefined, #ajax-modal.institutBleuModal .mobiletext, #ajax-modal.institutBleuModal .emailtext,
#ajax-modal.institutBleuModal .linktext, #ajax-modal.institutBleuModal .otherSociaNetworkslists, #ajax-modal.institutBleuModal .thematicselectMultiple,
#ajax-modal.institutBleuModal .tagstags, #ajax-modal.institutBleuModal .locationlocation{
    /* background: linear-gradient(90deg, rgb(6, 10, 25, 1) 35%, rgb(0, 101, 179) 100%) ; */
    color: white !important; 
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#ajax-modal.institutBleuModal .nametext textarea, #ajax-modal.institutBleuModal .acronymtext textarea, #ajax-modal.institutBleuModal .imageuploader textarea,
#ajax-modal.institutBleuModal .legalStatustags textarea, #ajax-modal.institutBleuModal .descriptiontextarea textarea, #ajax-modal.institutBleuModal .formLocalityformLocality textarea,
#ajax-modal.institutBleuModal .operatingLocationundefined textarea, #ajax-modal.institutBleuModal .mobiletext textarea, #ajax-modal.institutBleuModal .emailtext textarea,
#ajax-modal.institutBleuModal .linktext textarea, #ajax-modal.institutBleuModal .otherSociaNetworkslists textarea, #ajax-modal.institutBleuModal .thematicselectMultiple textarea,
#ajax-modal.institutBleuModal .tagstags textarea,
#ajax-modal.institutBleuModal .nametext input, #ajax-modal.institutBleuModal .acronymtext input, #ajax-modal.institutBleuModal .imageuploader input,
#ajax-modal.institutBleuModal .legalStatustags input, #ajax-modal.institutBleuModal .descriptiontextarea input, #ajax-modal.institutBleuModal .formLocalityformLocality input,
#ajax-modal.institutBleuModal .operatingLocationundefined input, #ajax-modal.institutBleuModal .mobiletext input, #ajax-modal.institutBleuModal .emailtext input,
#ajax-modal.institutBleuModal .linktext input, #ajax-modal.institutBleuModal .otherSociaNetworkslists input, #ajax-modal.institutBleuModal .thematicselectMultiple input,
#ajax-modal.institutBleuModal .tagstags input , #modalLogin input {
    background-color: #044679;
    color: white !important; 
}

#ajax-modal.institutBleuModal .nametext input:focus, #ajax-modal.institutBleuModal .acronymtext input:focus, #ajax-modal.institutBleuModal .imageuploader input:focus,
#ajax-modal.institutBleuModal .legalStatustags input:focus, #ajax-modal.institutBleuModal .descriptiontextarea input:focus, #ajax-modal.institutBleuModal .formLocalityformLocality input:focus,
#ajax-modal.institutBleuModal .operatingLocationundefined input:focus, #ajax-modal.institutBleuModal .mobiletext input:focus, #ajax-modal.institutBleuModal .emailtext input:focus,
#ajax-modal.institutBleuModal .linktext input:focus, #ajax-modal.institutBleuModal .otherSociaNetworkslists input:focus, #ajax-modal.institutBleuModal .thematicselectMultiple input:focus,
#ajax-modal.institutBleuModal .tagstags input:focus , #modalLogin input:focus {
    border-color: #2D9CDB;
    box-shadow: 0 0 8px rgba(0, 145, 198, 0.5);
}

#ajax-modal.institutBleuModal .institutBleu-image-uploader .qq-gallery {
    background-color: #044679;
}

#ajax-modal.institutBleuModal .institutBleu-image-uploader .qq-gallery .qq-upload-button-selector {
    background-color: #2D9CDB;
}

#ajax-modal.institutBleuModal .institutBleu-image-uploader .qq-gallery.qq-uploader:before, #ajax-modal.institutBleuModal .institutBleu-image-uploader .qq-gallery.qq-uploader:after {
    opacity: 1 !important;
}

#ajax-modal.institutBleuModal .nametext button, #ajax-modal.institutBleuModal .acronymtext button, #ajax-modal.institutBleuModal .imageuploader button,
#ajax-modal.institutBleuModal .legalStatustags button, #ajax-modal.institutBleuModal .descriptiontextarea button, #ajax-modal.institutBleuModal .formLocalityformLocality button,
#ajax-modal.institutBleuModal .operatingLocationundefined button, #ajax-modal.institutBleuModal .mobiletext button, #ajax-modal.institutBleuModal .emailtext button,
#ajax-modal.institutBleuModal .linktext button, #ajax-modal.institutBleuModal .otherSociaNetworkslists button, #ajax-modal.institutBleuModal .thematicselectMultiple button,
#ajax-modal.institutBleuModal .tagstags button {
    background-color: #2D9CDB !important;
}

#ajax-modal.institutBleuModal .nametext .btn-remove-element, #ajax-modal.institutBleuModal .acronymtext .btn-remove-element, #ajax-modal.institutBleuModal .imageuploader .btn-remove-element,
#ajax-modal.institutBleuModal .legalStatustags .btn-remove-element, #ajax-modal.institutBleuModal .descriptiontextarea .btn-remove-element, #ajax-modal.institutBleuModal .formLocalityformLocality .btn-remove-element,
#ajax-modal.institutBleuModal .operatingLocationundefined .btn-remove-element, #ajax-modal.institutBleuModal .mobiletext .btn-remove-element, #ajax-modal.institutBleuModal .emailtext .btn-remove-element,
#ajax-modal.institutBleuModal .linktext .btn-remove-element, #ajax-modal.institutBleuModal .otherSociaNetworkslists .btn-remove-element, #ajax-modal.institutBleuModal .thematicselectMultiple .btn-remove-element,
#ajax-modal.institutBleuModal .tagstags .btn-remove-element {
    background-color: red !important;
}

#ajax-modal.institutBleuModal .legalStatustags .select2-container-multi .select2-choices,
#ajax-modal.institutBleuModal .thematicselectMultiple .select2-container-multi .select2-choices,
#ajax-modal.institutBleuModal .tagstags .select2-container-multi .select2-choices {
    background-color: #044679 !important;
}

/* focus */
#ajax-modal.institutBleuModal .legalStatustags .select2-container-multi .select2-choices input:focus,
#ajax-modal.institutBleuModal .thematicselectMultiple .select2-container-multi .select2-choices input:focus,
#ajax-modal.institutBleuModal .tagstags .select2-container-multi .select2-choices input:focus {
    border-color: #2D9CDB;
    box-shadow: 0 0 8px rgba(0, 145, 198, 0.5);
}

#ajax-modal.institutBleuModal .nametext .select2-container-multi .select2-choices .select2-search-field input,
#ajax-modal.institutBleuModal .acronymtext .select2-container-multi .select2-choices .select2-search-field input,
#ajax-modal.institutBleuModal .imageuploader .select2-container-multi .select2-choices .select2-search-field input,
#ajax-modal.institutBleuModal .legalStatustags .select2-container-multi .select2-choices .select2-search-field input,
#ajax-modal.institutBleuModal .descriptiontextarea .select2-container-multi .select2-choices .select2-search-field input,
#ajax-modal.institutBleuModal .formLocalityformLocality .select2-container-multi .select2-choices .select2-search-field input,
#ajax-modal.institutBleuModal .operatingLocationundefined .select2-container-multi .select2-choices .select2-search-field input,
#ajax-modal.institutBleuModal .mobiletext .select2-container-multi .select2-choices .select2-search-field input,
#ajax-modal.institutBleuModal .emailtext .select2-container-multi .select2-choices .select2-search-field input,
#ajax-modal.institutBleuModal .linktext .select2-container-multi .select2-choices .select2-search-field input,
#ajax-modal.institutBleuModal .otherSociaNetworkslists .select2-container-multi .select2-choices .select2-search-field input,
#ajax-modal.institutBleuModal .thematicselectMultiple .select2-container-multi .select2-choices .select2-search-field input,
#ajax-modal.institutBleuModal .tagstags .select2-container-multi .select2-choices .select2-search-field input {
    background-color: #044679 !important;
    color: white !important; 
}


#ajax-modal.institutBleuModal #sumery hr, #ajax-modal.institutBleuModal .form-actions hr  {
    display: none;
}

#ajax-modal.institutBleuModal .form-actions {
    padding-bottom: 20px;
}

#ajax-modal.institutBleuModal #btn-submit-form , #ajax-modal.institutBleuModal .addListLineBtnotherSociaNetworks{
    background-color: #2D9CDB ;
    color: white !important;
}

#ajax-modal.institutBleuModal .mainDynFormCloseBtn , #ajax-modal.institutBleuModal .mainDynFormCloseBtn .fa.fa-times{
    background-color: red ;
    color: white !important;
}

#ajax-modal.institutBleuModal .formLocalityformLocality h4, #ajax-modal.institutBleuModal .formLocalityformLocality span {
    color: white !important;
}

#ajax-modal.institutBleuModal .md-header {
    background-color: #212D40 !important;
}

#ajax-modal.institutBleuModal .md-editor.active textarea{
    background-color: #044679 !important;
} 

#ajax-modal.institutBleuModal .formLocalityformLocality select, #ajax-modal.institutBleuModal .formLocalityformLocality input {
    background-color: #044679 !important;   
    color: white !important;
}

#ajax-modal.institutBleuModal .locationlocation div{
    border: 1px solid white;
    border-radius: 8px;
}

#ajax-modal.institutBleuModal .locationlocation span{
    color: white !important;
}