.initialisSearch{
    display: none;
}
#openModal .portfolio-modal.modal, .portfolio-modal.modal {
    background: rgba(32, 42, 95, 0.7) !important;
}
@media (min-width: 768px) {
    #openModal .modal-content {
        width: 70%;
        margin-left: 15%;
    }
}
.w-100{
    width: 100% !important;
}

/* Menu top */

/* a.btn-menu-tooltips {
    margin-top: 50px;
} */
body .text-azure, a.text-azure {
    color: inherit !important;
}

a.ssmla.btn-menu-tooltips.active {
    font-size: 22px;
    margin-bottom: 50px !important;
    color: var(--primary-color) !important;
    border-bottom: 4px solid var(--primary-color) !important;
    font-weight: 500;
    text-transform: uppercase;
}

a.ssmla.btn-menu-tooltips {
    /* padding: 50px; */
    display: inline-table;
    padding: 5px 22px;
    font-size: 22px;
    margin-bottom: 50px !important;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid #cccccc !important; 
}

a.ssmla.btn-menu-tooltips.active::after {
    content: "";
    width: 0;
    height: 0;
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: var(--primary-color) transparent;
    opacity: 0;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    position: absolute;
    bottom: -13px;
    left: 50%;
    margin-left: -10px;
}

.sub-menu-social {
    border-bottom: 0px !important;
}


/* end menu top */

/* A propos */

body .text-nv-3 {
    font-size: 24px !important;
    color: black !important;
    white-space: nowrap !important;
    /* font-weight: 100!important; */
    font-weight: normal !important; 
}

.title-element {
    margin-bottom: 30px;
}

#pod-infoGeneral .card-body, #pod-badges .card-body, .well-DayHours,#pod-info-Address, .card.features {
    box-shadow: inherit !important;
}

.well-DayHours-new { 
    background: white;
}

hr.line-hr {
    color: transparent !important;
}

span.ttr-desc-4 i, .text-nv-3 i {
    display: none !important;
}

#pod-info-DateHours {
    border: 0px !important;
}

#pod-infoGeneral .col-md-6 {
    width: 100%;
}

#pod-infoGeneral .row {
    margin-left: -6px;
}

.text-nv-3::before {
    content: "";
    position: absolute;
    /* top: 15%; */
    z-index: -1;
    margin-left: -1em;
    width: 1.5em;
    height: 1.5em;
    background-color: #F9B000;
    border-radius: 50%;
    /* left: 36px; */
    /* left: 28px;
    top: -11px; */
}

.organizations-item #pod-info-Description .text-nv-3::before {
    left: 5% !important; 
}

#pod-info-Description, #pod-infoGeneral{
    margin-top: 0px !important;
}

.citoyens-item .about-section1 .text-nv-3::before {
    left: 5%;
}

.citoyens-item #pod-infoGeneral .text-nv-3::before {
    left: 6%;
}


#pod-catalog .text-nv-3::before, #pod-algo .text-nv-3::before, #pod-storage .text-nv-3::before,#pod-services .text-nv-3::before,#pod-tools .text-nv-3::before,#pod-formation .text-nv-3::before {
    /* left: 5%; */
    left: 6.7%;
}

.about-section2 .text-nv-3::before {
    left: 15.5%;
    /* left: 4.5%; */
}

.text-nv-3.tl-network::before {
    left: 11.5%;
}

#pod-info-siren .text-nv-3::before, #pod-info-nombreETP .text-nv-3::before, #pod-info-activity .text-nv-3::before {
    left: 11%;
}

#pod-info-projectsInProgress .text-nv-3::before {
    left: 11%;
}

.left-2 {
    margin-left: 2%;
}

#central-container, #pod-info-DateHours {
    position: sticky;
}

#central-container p {
    font-size: 18px;
}

.card.features::before {
    background: var(--primary-color) !important;
}

.gradient-fill:before {
    background: var(--primary-color) !important;
    -webkit-background-clip: text !important;;
}

.tag-list li a { 
    border : 1px solid var(--primary-color) !important;
}

.tag-list li a .icon-before, .load-community {
    color: #d19400 !important;
}

.btn.show-nav-add, .btn.create-survey, .fa.fa-times {
    color: var(--primary-color) !important;
    background-color: transparent !important;
    border: none !important;
}

.btn-update-descriptions, .btn-update-geopos, .btn-update-ig, .btn-update-dark-blue,
#badge-card #mode-normal .btn-success, .btn-update-siren, .btn-update-nombreETP, .btn-update-projectsInProgress, .btn-update-tags {
    color: #fff !important;;
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    border-radius: inherit;
}

#pod-badges {
    display: none;
}

#pod-info-Address.well {
    border: 0px;
    border-radius: 0px;
}

#central-container, .central-section, .pageElement{
    background-color: white !important;
}

.central-section {
    padding: 12px !important;
}

/* end A propos */

/* COMMUNAUTE */


#menuCommunity a .badge {
    background-color: #F9B000 !important;
}

#menuCommunity a.active {
    border: 1px solid var(--primary-color) !important;
}

body .main-container .btn-show-map {
    background-color: var(--primary-color);
    /* background-color: #7bd18f; */
    color: white;
    border: 2px solid var(--primary-color);
    border-radius: 0px;
}

body .main-container .btn-show-map:hover {
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

body #filterContainer .dropdown .btn-menu, .searchObjCSS .dropdown .btn-menu, .searchObjCSS .filters-btn {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 0px;
}

body .searchObjCSS .dropdown .btn-menu, .searchBar-filters .search-bar, .searchBar-filters .input-group-addon, .btn-map-ekitia {
    border-radius: 0px !important;
    border: 2px solid var(--primary-color) !important;
    /* font-size: 18px !important; */
    /* line-height: 20px; */
}

body .searchBar-filters .input-group-addon {
    background-color: var(--primary-color) !important;
    color: white !important;
    padding: 10px 14px !important;
    /* height: 44px; */
}

body span.badge.counter {
    background: var(--primary-color);
}

body .rolesFiltersClass span {
    color: #F9B000 !important;
}

button.btn.btn-primary.createForm, #btn-submit-form {
    background: transparent;
    border-radius: 0px;
    /* border: 2px solid var(--primary-color); */
    color:var(--primary-color) !important;
}

/* FIN COMMAUNAUTE */

/* COFORM BTN */

.page__title h1::before {
    content: "";
    position: absolute;
    top: -11px;
    z-index: -1;
    margin-left: -1em;
    width: 2em;
    height: 2em;
    background-color: #F9B000;
    border-radius: 50%;
    left: 23%;
}

.page__title h1 {
    font-weight: 100;
    border-bottom: none;
    text-align: center;
    margin-bottom: 25px;
}

.page__title {
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
}

/* COFORM BTN */

/* News */

#noMoreNews {
    color: #F9B000 !important;
}

/* News */

/* Galerie */

/* fin galerie */


.title-header::before { 
    border-top: none !important;
}

.headerSearchIncommunity {
    margin-top: 0px !important;
}

.justify-content-center {
    justify-content: center;
}

.social-links {
    display: flex;
}

.social-btn {
    cursor: pointer;
    height: 40px;
    width: 40px;
    font-family: 'Titillium Web', sans-serif;
    color: #333;
    border-radius: 50%;
    /* background: #f9f9f9; */
    background: transparent !important;
    margin: 5px;
    transition: 1s;
    /* border: 1px solid #eee;*/
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.editdeleteicon {
    font-size: 25px;
    color: #9fbd38;
}

.social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 1s;
    text-align: center;
}


.card-vertical-container {
    /* border: 2px solid var(--primary-color); */
    /* background-color: #f9f9f9; */
    background-color: #f0ece6;
    display: flex;
    align-items: center;
    /* margin: 1% 0%; */
}

.dateUpdated {
    position: relative !important;
    background: rgb(0 0 0 / 0%) !important;
    color: black;
}

/* #pod-formation #filterContainer, #pod-formation .headerSearchIncommunity,#pod-formation .footerSearchContainer {
    display: none;
} */

#filterContainer {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

/* body #dropdown_search {
    min-height: 29px !important;
} */

.searchEntityContainer.smartgrid-slide-element {
    min-height: 78px !important;
}

.form-description {
    margin-top: 22px;
}

/* MODAL BANNER */
.modal-content .banner-outer {
    background-color: #f9f9f9;
    background-image: url("<?= Yii::app()->controller->module->assetsUrl.'/images/templ-banner-right-bg.png' ?>"); 
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 25% auto;
}

@media screen and (min-width: 1360px) {
    .modal-content .basic-banner {
        background-size: auto auto;
    }
}
@media screen and (min-width: 768px) {
    .modal-content .basic-banner {
        background-size: 15% auto;
    }
}

.modal-content .basic-banner {
    padding-top: 80px;
    /* padding-bottom: 100px; */
    padding-bottom: 20px;
    background-image: url("<?= Yii::app()->controller->module->assetsUrl.'/images/templ-banner-left-bg.png' ?>");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 25% auto;
}

.modal-content .container-banner.max-950 {
    max-width: 980px;
}

.modal-content .container-banner:before {
    display: table;
    content: " ";
}

.modal-content .text-center {
    text-align: center;
}

.modal-content .container-banner:after {
    clear: both;
    display: table;
    content: " ";
}

@media (min-width: 1200px) {
    .modal-content .container-banner {
        width: 1170px;
    }
}

@media (min-width: 992px) {
    .modal-content .container-banner {
        width: 970px;
    }
}

@media (min-width: 768px) {
    .modal-content .container-banner {
        width: 750px;
    }
}

.modal-content .basic-banner-inner {
    display: flex;
    justify-content: center;
}

.modal-content .title-banner h1::before {
    content: "";
    position: absolute;
    /* top: -30%; */
    z-index: -1;
    /* margin-left: -1em; */
    width: 2em;
    height: 2em;
    background-color: #F9B000;
    border-radius: 50%;
    /* top: -80%; */
    top: -25%;
    /* margin-left: -12px;*/
}

.modal-content .contentHeaderInformation {
    background-color: rgba(63, 78, 88, 0.2) !important;  
}

.modal-content #openModalContent {
    margin: 0px !important;
    width: 100% !important;
}

.content-section {
    box-shadow: 0px 4px 34px 0px rgba(0, 0, 28, 0.1);
    padding: 2%;
    margin: 4% auto;
}

#communitySearchContent #listRoles .horizontalList .btn {
    color: var(--primary-color) !important;
}

#communitySearchContent #listRoles .horizontalList .badge {
    background-color: var(--primary-color) !important;
    color: #fff !important;
}

#communitySearchContent #listRoles .horizontalList .btn.active {
    background-color: #F9B000 !important; 
}