#openModal.modal {
    top:0 !important;
    left:0 !important;
    z-index:2000000 !important;
}
#modal-preview-coop{
    z-index:200001!important;
}

#adminDirectoryFormation #panelAdmin td{
    border: none;
    vertical-align: middle !important;
    min-width: unset !important;
    /* padding: 0.5em;*/
    font-size:1em;
}


#panelAdmin thead tr{
    /* border-radius: 8px; */
    box-shadow: 0px 0px 0px 5px <?=$colorCode?>;
    background: <?=$colorCode?>;
}

#panelAdmin {
    border: none;
} 
/* .panel-body div {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        overflow-x: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;


} */

.panel-body div table.table-striped {
    table-layout: unset !important;
    word-wrap: normal !important;
}

.panel-body div::-webkit-scrollbar,
.list-filters::-webkit-scrollbar {
    width: 8px;
}

/* Ascenseur */
.panel-body div::-webkit-scrollbar-thumb,
.list-filters::-webkit-scrollbar-thumb {
    background: #2C3E50;
    border-radius: 8px;
}

.panel-body div::-webkit-scrollbar-track {
    position: relative;
    box-shadow: inset 0 0px 0px 2px white, inset 0 2px 10px 2px #2C3E50;
}

.panel-body div::-webkit-scrollbar-button:single-button {
    display: block;
    border-style: solid;
    height: 16px;
    width: 20px;
}

.panel-body div::-webkit-scrollbar-button:single-button:horizontal:increment {
    border-width: 8px 0px 8px 12px;
    border-color: transparent transparent transparent #2C3E50;
}

.panel-body div::-webkit-scrollbar-button:single-button:horizontal:decrement {
    border-width: 8px 12px 8px 0px;
    margin-right: 1px;
    border-color: transparent #2C3E50 transparent transparent;
}

.simple-pagination {
    border-bottom: none;
}

#panelAdmin {
    border: none;
}



/* #headerTable:after {
    width: 98%;
    content: '';
    left: 1%;
    bottom: 0;
    border-top: 1px solid #2C3E50;
    z-index: 20;
    position: absolute;
    margin: auto;
} */

#panelAdmin th,
#panelAdmin td {
    border: none;
    vertical-align: middle !important;
    min-width: 10vw;
    padding: 0.5em;

}

#panelAdmin tr > td:first-child {
    font-weight: bold;
}

.xdsoft_datetimepicker, .dropdown-menu{
    z-index:10000000 !important;
}


.pageContent{
    background-color:#F0F1F7;
    min-height: 100vh !important;
    position: inherit;
    width: 100%;
    /* float: left; */
}

#content-admin-panel{
    background-color: transparent !important;
}

.light-theme .current{
    background: none;
    border: none;
    box-shadow: none;
    color: #2b3b51;
}

.light-theme .active .current{
    background: #2b3b51 !important;
    color: white !important;
    padding: 2px 10px;
    font-weight: bold;
    font-size: 13px !important;
}
.searchBar-filters .main-search-bar-addon{
    width: 6%;
}
.searchObjCSS .searchBar-filters {
    width:50% !important;
} 
.searchBar-filters .search-bar,
.searchBar-filters .main-search-bar-addon {
    border: unset;
    /* border-bottom: solid 1px #2C3E50; */
    /* border-radius: 6px; */
    background-color: white !important;
    padding-bottom: 0px;
    text-align: left;
}
.searchBar-filters .search-bar{
    border-radius: 6px 0px 0px 6px;
    box-shadow:7px 1px 2px -2px #2b3b51;
}

.searchBar-filters .main-search-bar-addon {
    border-radius: 0px 6px 6px 0px;
}


.searchBar-filters .search-bar::placeholder {
    font-size:16px;
    color:#bbbbbb;
}

.searchBar-filters {
    margin-right: 20px;
    margin-bottom: 10px;
}

.searchBar-filters .main-search-bar-addon > i::before, #main-search-bar-addon > i::before{
    content: '\f002' !important;
    
}
.main-search-bar + .main-search-bar-addon{
    color: #2b3b51 !important;
}    

/* xs style */
.central-search-bar + #main-search-bar-addon{
    background-color:#2b3b51 !important;
    color:white !important;
}

#show-filters-xs{
    background-color:#2b3b51;
    color:white;
}
#show-filters-xs:hover{
    background-color:white;
    color:#2b3b51;
}

.table>tbody+tbody{
    border:unset;
}

#panelAdmin thead {
    color: white;
    /* background: #2b3b51; */
    /* position: relative; */
    font-size: 16px;
    /* border-radius: 8px;
    margin-bottom: 5px; */
}

#panelAdmin tbody {
    color: white;
    /* background: #2b3b51; */
    /* position: relative; */
    font-size: 16px;
    /* border-radius: 8px;
    margin-bottom: 5px; */
}

#panelAdmin thead::after, #panelAdmin tbody::after {
    
    height: 1em;
    display: table-row;
    content: '';
/* background-color: #f0f1f7; */
}
#panelAdmin thead tr{
    border-radius: 8px;
    box-shadow: 0px 0px 0px 5px #2b3b51;
    background: #2b3b51;
}

#panelAdmin tbody tr{
    border-radius: 8px;
    box-shadow: 0px 0px 0px 5px white;
    background: white;
    color:#2b3b51;
}

/* .panel-body div{
    border:unset;
} */

/* #panelAdmin{
    table-layout: unset;
} */

#panelAdmin tr{
    border: unset;
}

/* handson table   */

.handsontable thead::before{
    content:'';
    display: table-row;
    height:1em;

}

.handsontable thead tr{
    height:40px !important; 
    /* border-radius: 8px; */
    box-shadow: -1px -3px 0px 1px #ffe9c0;
    border-radius: 6px;
}

.handsontable thead th{    
    border:none !important;
}

.handsontable td{
    padding:5px !important;
    font-family: 'customFontfontrfflabsLexend-Light.ttf';
    color: #2C3E50;

}

.handsontable tbody tr:first-child td, .handsontable tbody tr td:first-child{
    border-top:none !important;
}

.handsontable tbody tr td:first-child{
    border-left:none !important;
    text-align:center;
}
.handsontable td, .handsontable th{
    vertical-align: middle;
}    


.handsontable td{
    height:40px !important;
}

.handsontable th{
    height:50px !important;
    border:none !important;
    background-color : #ffe9c0 !important;
    color: #2C3E50;
    font-family: 'customFontfontrfflabsLexend-Light.ttf';
}


.handsontable .htDimmed{
    color: #2C3E50;
    font-family: 'customFontfontrfflabsLexend-Light.ttf';

}

.handsontable .wtHider{
    height:auto !important;
}


/* // dynform */
#dropdown-newElement_locality-found, #ajax-modal .select2-container-multi .select2-choices .select2-search-choice {
    background-color: #2b3b51 !important;
    color:white !important;
}    
#ajax-modal .dropdown-menu>li>a{
    color: white;
    text-decoration: none;
    background-color: transparent;
}
#ajax-modal .dropdown-menu>li>a:focus, 
#ajax-modal .dropdown-menu>li>a:hover{    
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
#ajax-modal #divNewAddress #newAddress, #ajax-modal #sumery #btnValideAddress, #ajax-modal #imageUploader .qq-upload-button-selector {
    color: #fff;
    background-color: #2b3b51;
    border-radius: 10px;
    border-color: #2b3b51;
    border-bottom: 4px solid #2b3b51;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 40%);
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgb(0 0 0 / 20%);
}

.form-input-info-circle, .form-input-info, .form-input-info a, #ajax-modal .control-label i, #modalLogin label i, #modalRegister label i {
    color: #2b3b51 !important;
}    