#openModal.modal {
    top:0 !important;
    left:0 !important;
    z-index:2000000 !important;
}
#modal-preview-coop{
    z-index:200001!important;
}

#adminDirectoryFormation #panelAdmin td{
    border: none;
    vertical-align: middle !important;
    min-width: unset !important;
    /* padding: 0.5em;*/
    font-size:1em;
}


#panelAdmin thead tr{
    /* border-radius: 8px; */
    box-shadow: 0px 0px 0px 5px <?=$colorCode?>;
    background: <?=$colorCode?>;
}

#panelAdmin {
        border: none;
    } 
/* .panel-body div {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        overflow-x: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;


} */

    .panel-body div table.table-striped {
        table-layout: unset !important;
        word-wrap: normal !important;
    }

    .panel-body div::-webkit-scrollbar,
    .list-filters::-webkit-scrollbar {
        width: 8px;
    }

    /* Ascenseur */
    .panel-body div::-webkit-scrollbar-thumb,
    .list-filters::-webkit-scrollbar-thumb {
        background: #2C3E50;
        border-radius: 8px;
    }

    .panel-body div::-webkit-scrollbar-track {
        position: relative;
        box-shadow: inset 0 0px 0px 2px white, inset 0 2px 10px 2px #2C3E50;
    }

    .panel-body div::-webkit-scrollbar-button:single-button {
        display: block;
        border-style: solid;
        height: 16px;
        width: 20px;
    }

    .panel-body div::-webkit-scrollbar-button:single-button:horizontal:increment {
        border-width: 8px 0px 8px 12px;
        border-color: transparent transparent transparent #2C3E50;
    }

    .panel-body div::-webkit-scrollbar-button:single-button:horizontal:decrement {
        border-width: 8px 12px 8px 0px;
        margin-right: 1px;
        border-color: transparent #2C3E50 transparent transparent;
    }

    .simple-pagination {
        border-bottom: none;
    }

    #panelAdmin {
        border: none;
    }

    

    /* #headerTable:after {
        width: 98%;
        content: '';
        left: 1%;
        bottom: 0;
        border-top: 1px solid #2C3E50;
        z-index: 20;
        position: absolute;
        margin: auto;
    } */

    #panelAdmin th,
    #panelAdmin td {
        border: none;
        vertical-align: middle !important;
        min-width: 10vw;
        padding: 0.5em;

    }

    #panelAdmin tr > td:first-child {
        font-weight: bold;
    }