/*MENU */

#mainNav .menu-btn-top {
    color: #000091 !important;
}

#menuLeft .menu-button.btn-menu:hover,
#menuLeft .menu-button.btn-menu:active,
#menuLeft .menu-button.btn-menu:focus,
#menuLeft .menu-button.btn-menu.active {
    background-color: rgba(194, 194, 194, 0.5);
}

#mainNav .submenuTop {
    height: 50px;
    border-top: 1px solid #000091;
}

#mainNav .submenuTop a.lbh-menu-app {
    display: inline-block;
    cursor: pointer;
    padding: 12px 20px;
    top: 0px;
    height: 53px;
    font-size: 20px!important;
    text-decoration: none;
}
@media (min-width: 992px) and (max-width: 1199px) {
    #mainNav .submenuTop a.lbh-menu-app {
        padding: 12px 12px;
        height: 50px;
        font-size: 18px!important;
    }
    #mainNav .submenuTop {
        height: 46px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #mainNav .submenuTop a.lbh-menu-app {
        display: inline-block;
        cursor: pointer;
        padding: 12px 8px;
        top: 0px;
        height: 46px;
        font-size: 16px!important;
    }
    #mainNav .submenuTop {
        height: 42px;
    }
}

#mainNav .submenuTop a.lbh-menu-app:hover,
#mainNav .submenuTop a.lbh-menu-app:active,
#mainNav .submenuTop a.lbh-menu-app:focus {
    background-color: rgba(194, 194, 194, 0.5);
    box-shadow: inset 0 -3px 0 0 #000091;
}

#mainNav .submenuTop a.active {
    background-color: rgba(194, 194, 194, 0.5);
    box-shadow: inset 0 -3px 0 0 #000091;
}

#mainNav {
    box-shadow: 1px 0px 4px 0px rgba(41, 41, 255, 0.5);
    border-bottom: 1px solid rgba(41, 41, 255);
}

#menuLeft {
    border-right: 1px solid rgba(41, 41, 255);
    box-shadow: 0px 1px 3px -1px rgba(41, 41, 255, 0.5);
}

#menuTopRight .menu-name-profil {
    background-color: #f0f0f0!important;
    box-shadow: inset 0 0 0 1px #000091;
}

#menuTopLeft .menu-xs-container {
    background: #ffffff;
}

#menuTopLeft .menu-xs-container a {
    color: #172f91 !important;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid #000091;
}

#menuTopLeft .menu-xs-container a:hover,
#menuTopLeft .menu-xs-container a:focus,
#menuTopLeft .menu-xs-container a:active {
    background-color: rgba(194, 194, 194, 0.5);
}

#mainNav .open-xs-menu {
    color: #172f91;
}

@font-face {
    font-family: Marianne-Bold;
    src: url('../../font/ctenat/Marianne-Bold.otf');
}

#mainNav #menuTopLeft a.top-title-page .label-menu {
    font-size: 20px;
    font-weight: 700;
    /*font-family: 'Marianne-Bold';*/
    color: #383838!important;
}

#mainNav #menuTopLeft a.top-title-page .label-menu .subtitle {
    font-size: 16px;
    font-weight: 400;
}

#mainNav #menuTopLeft a.top-title-page {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    margin-top: 15px;
    margin-left: 10px;
}

#mainNav .dropdown-result-global-search {
    left: 50%!important;
    transform: translate(-50%);
    max-height: 500px;
}

@media (min-width: 992px) {
    #mainNav #menuTopLeft .searchBarInMenu {
        float: right!important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #mainNav #menuTopRight {
        /*margin-top: 25px;*/
        margin-top: -100px;
    }
    #mainNav #menuTopLeft .searchBarInMenu {
        /*margin-top: 25px!important;*/
        margin-top: 55px!important;
    }
    #mainNav #menuTopLeft a.top-title-page .label-menu {
        font-size: 18px;
    }
    #mainNav #menuTopLeft a.top-title-page .label-menu .subtitle {
        font-size: 15px;
    }
    #mainNav #menuTopLeft img {
        height: 90px;
    }
    #mainNav #menuTopLeft a.top-title-page {
        margin-left: 0px;
    }
}

@media (min-width: 768px) {
    #mainNav #menuTopRight {
        /*margin-top: 25px;*/
        margin-top: -100px;
    }
    #mainNav #menuTopLeft .searchBarInMenu {
        /*margin-top: 25px!important;*/
        margin-top: 55px!important;
    }
    #mainNav #menuTopRight .menu-btn-top[data-toggle="modal"] {
        margin-top: 10px;
        font-size: 16px!important;
        padding-left: 15px;
    }
    #mainNav #menuTopLeft .image-menu {
        min-width: 120px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #mainNav #menuTopRight {
        margin-top: -45px;
    }
    #mainNav #menuTopLeft .searchBarInMenu {
        margin-top: 100px!important;
        width: 45%;
        position: absolute;
    }
    #menuTopLeft {
        min-height: 145px;
    }
}

#mainNav #menuTopRight .menu-btn-top[data-target="#modalRegister"] {
    border-left: 2px solid #000091;
}

@media (max-width: 767px) {
    #mainNav #menuTopRight .menu-btn-top[data-toggle="modal"] {
        font-size: 16px !important;
    }
}



/*FORMULAIRE DYNFORM*/

#ajax-modal #type,
#ajax-modal #role,
#ajax-modal .formLocalityformLocality select {
    min-height: 40px!important;
    border-radius: 4px 4px 0 0!important;
    padding-left: 12px;
    font-size: 16px;
    box-shadow: inset 0 -3px 0 0 #6a6a6a;
    background-color: #f0f0f0;
    color: #1e1e1e;
    border: 1px solid #f0f0f0;
    /* Firefox */
    -moz-appearance: textfield;
    /* Chrome */
    -webkit-appearance: none;
    margin: 0;
    /* Opéra*/
    -o-appearance: none;
    margin: 0;
}

#ajax-modal .select2-container-multi .select2-choices,
#ajax-modal .formLocalityformLocality input {
    border-radius: 4px 4px 0 0!important;
    min-height: 40px!important;
    box-shadow: inset 0 -3px 0 0 #6a6a6a;
    background-color: #f0f0f0;
    color: #1e1e1e;
    border: 1px solid #f0f0f0;
}

#ajax-modal .formLocalityformLocality input.col-xs-11 {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 10px;
    min-height: 40px!important;
    box-shadow: inset 0 -3px 0 0 #6a6a6a;
    background-color: #f0f0f0;
    color: #1e1e1e;
    border: 1px solid #f0f0f0;
}

#ajax-modal .formLocalityformLocality input.col-xs-11 {
    border-radius: 4px 0px 0px!important;
    min-height: 40px!important;
    box-shadow: inset 0 -3px 0 0 #6a6a6a;
    background-color: #f0f0f0;
    color: #1e1e1e;
    border: 1px solid #f0f0f0;
}

#ajax-modal .formLocalityformLocality .formLocality #divCity input[name="newElement_city"] {
    border-radius: 4px 4px 0 0!important;
    background-color: #f0f0f0 !important;
    font-size: 16px!important;
    color: #1e1e1e!important;
}

#ajax-modal .formLocalityformLocality input.col-xs-11[name="newElement_street"] {
    box-shadow: inset 0 -3px 0 0 #000091;
    border-radius: 4px 0px 0px!important;
}

#ajax-modal .formLocalityformLocality #newElement_btnSearchAddress {
    height: 40px!important;
    border: 1px solid #dadada !important;
    background-color: #000091 !important;
    color: #fff!important;
    font-size: 16px;
    border-radius: 0 4px 0 0!important;
    border-left: 0px !important;
}

#ajax-modal input.form-control,
#modalLogin input.form-control,
#modalRegister input.form-control,
#ajax-modal .select2-container-multi .select2-choices .select2-search-field input {
    font-size: 16px;
    height: 40px;
    border-radius: 4px 4px 0 0;
    box-shadow: inset 0 -3px 0 0 #6a6a6a;
    background-color: #f0f0f0;
    color: #1e1e1e;
    border: 1px solid #f0f0f0;
}

#ajax-modal .form-group #type,
#ajax-modal .form-group #role,
#ajax-modal .deviseselect #devise,
#ajax-modal .formLocalityformLocality .formLocality select[name="newElement_country"],
#ajax-modal .formLocalityformLocality .formLocality #divCity input[name="newElement_city"] {
    border: 1px solid #f0f0f0 !important;
    box-shadow: inset 0 -3px 0 0 #6a6a6a;
}

#ajax-modal input#name {
    font-size: 16px;
    height: 40px;
    border-radius: 4px 4px 0 0!important;
    box-shadow: inset 0 -3px 0 0 #6a6a6a;
    color: #1e1e1e;
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0!important;
}

#ajax-modal textarea.form-control {
    height: auto;
    box-shadow: inset 0 -3px 0 0 #6a6a6a;
    background-color: #f0f0f0;
    color: #1e1e1e;
    border: 1px solid #f0f0f0;
    border-radius: 4px 4px 0 0;
}

#ajax-modal textarea.form-control:focus,
#ajax-modal input#name:focus,
#ajax-modal #type:focus,
#ajax-modal #role:focus,
#ajax-modal .formLocalityformLocality select:focus,
#ajax-modal .select2-container-multi .select2-choices:focus,
#ajax-modal .formLocalityformLocality input:focus,
#ajax-modal .formLocalityformLocality input.col-xs-11:focus,
#ajax-modal .select2-container-multi .select2-choices .select2-search-field input:focus,
#ajax-modal input.form-control:focus,
#modalLogin input.form-control:focus,
#modalRegister input.form-control:focus,
#ajax-modal .select2-container-multi .select2-choices .select2-search-field input:focus {
    outline-offset: 2px;
    outline-width: 2px;
    outline: 2px solid #2a7ffe;
}

#ajax-modal #divNewAddress .btn-success,
#ajax-modal .formLocalityformLocality #newAddress,
#ajax-modal .organizerfinder .btn-success {
    background-color: #fff;
    color: #000091;
    box-shadow: inset 0 0 0 1px #000091;
    border-radius: 0px;
    border-color: #000091;
}

#ajax-modal #divNewAddress .btn-success:hover,
#ajax-modal #divNewAddress .btn-success:active,
#ajax-modal #divNewAddress .btn-success:focus,
#ajax-modal .formLocalityformLocality #newAddress:hover,
#ajax-modal .formLocalityformLocality #newAddress:active,
#ajax-modal .formLocalityformLocality #newAddress:focus,
#ajax-modal .organizerfinder .btn-success:hover,
#ajax-modal .organizerfinder .btn-success:active,
#ajax-modal .organizerfinder .btn-success:focus {
    background-color: rgba(194, 194, 194, 0.5);
    color: #000091;
    box-shadow: inset 0 0 0 1px #000091;
    border-radius: 0px;
}

#ajax-modal .modal-header[class*=bg-] {
    background-color: #fff!important;
    border: 2px solid #000091;
    color: #000091!important;
    font-weight: 400;
}

#ajax-modal .form-actions .btn-default,
.first-register .btn-default,
#modalLogin .loginBtn,
#modalRegister .createBtn,
#modalRegister .btn-danger {
    font-size: 16;
    line-height: 24;
    min-height: 40px;
    padding: 8px 24px;
    background-color: #000091!important;
    color: #fff!important;
}

#ajax-modal .form-actions .btn-default,
.first-register .btn-default,
#modalLogin .loginBtn,
#modalRegister .createBtn,
#modalRegister .btn-danger,
#modalLogin .btn-danger {
    font-size: 16px;
    line-height: 24px;
    min-height: 40px;
    padding: 8px 24px;
    background-color: #000091!important;
    color: #fff!important;
    border-radius: 2px;
}

#modalLogin .btn[data-target="#modalForgot"],
#modalLogin .btn-default[data-target="#modalRegister"] {
    font-size: 16px;
    line-height: 24px;
    height: 40px;
    padding: 8px 24px;
    background-color: #fff;
    color: #000091!important;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px #000091;
}

#modalLogin .btn[data-target="#modalForgot"]:focus,
#modalLogin .btn[data-target="#modalForgot"]:hover,
#modalLogin .btn[data-target="#modalForgot"]:active,
#modalLogin .btn-default[data-target="#modalRegister"]:focus,
#modalLogin .btn-default[data-target="#modalRegister"]:hover,
#modalLogin .btn-default[data-target="#modalRegister"]:active {
    background-color: rgba(194, 194, 194, 0.5);
}

#ajax-modal .form-actions .btn-default:hover,
#ajax-modal .form-actions .btn-default:focus,
#ajax-modal .form-actions .btn-default:active,
.first-register .btn-default:hover,
.first-register .btn-default:focus,
.first-register .btn-default:active,
#modalLogin .loginBtn:hover,
#modalLogin .loginBtn:focus,
#modalLogin .loginBtn:active,
#modalRegister .createBtn:hover,
#modalRegister .createBtn:focus,
#modalRegister .createBtn:active,
#modalRegister .btn-danger:hover,
#modalRegister .btn-danger:focus,
#modalRegister .btn-danger:active,
#ajax-modal #imageUploader .qq-upload-button-selector:hover,
#ajax-modal #imageUploader .qq-upload-button-selector:focus,
#ajax-modal #imageUploader .qq-upload-button-selector:active,
#ajax-modal #sumery #btnValideAddress:hover,
#ajax-modal #sumery #btnValideAddress:active,
#ajax-modal #sumery #btnValideAddress:focus,
#modalLogin .btn-danger:hover,
#modalLogin .btn-danger:focus,
#modalLogin .btn-danger:active {
    background-image: linear-gradient(0deg, rgba(41, 41, 255, 0.5), rgba(41, 41, 255, 0.5));
}

#ajax-modal .control-label,
#modalLogin label,
#modalRegister label {
    color: #1e1e1e;
    font-size: 16px;
    font-weight: 400;
}

#ajax-modal .publiccheckboxSimple .lbl-status-check .letter-green {
    color: #000091 !important;
}

#ajax-modal .publiccheckboxSimple .bg-green-k {
    background-color: #000091 !important;
    color: white;
}

#ajax-modal .close-modal .lr,
#ajax-modal .close-modal .lr .rl,
#modalRegister .close-modal .lr,
#modalRegister .close-modal .lr .rl,
#modalLogin .close-modal .lr .rl,
#modalLogin .close-modal .rl {
    background-color: #000091!important;
}

#ajax-modal .publiccheckboxSimple label small.text-left {
    border-left: 5px solid #000091;
    padding: 5px!important;
    margin-left: 5px;
}

#ajax-modal hr {
    border-top: 1px solid #000091;
}

#ajax-modal .form-group.infocustom p.text-green {
    color: #000091 !important;
}

#ajax-modal #imageUploader .qq-upload-button-selector,
#ajax-modal #sumery #btnValideAddress {
    font-size: 16px;
    line-height: 24px;
    min-height: 40px;
    background-color: #000091!important;
    color: #fff!important;
    border-radius: 2px;
    font-weight: 400;
}

#ajax-modal .modal-content .form-group select,
#ajax-modal .modal-content .fieldset select {
    font-size: 16px;
    min-height: 40px;
    border-radius: 4px 4px 0 0!important;
    box-shadow: inset 0 -3px 0 0 #6a6a6a;
    webkit-box-shadow: inset 0 -3px 0 0 #6a6a6a;
    color: #1e1e1e;
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0!important;
}

#ajax-modal button.bg-green-k {
    background-color: #172f91 !important;
}

#ajax-modal #news-scope-search #input-sec-search .input-group.input-group-addon {
    font-size: 16px;
    color: #fff;
    background-color: #6a6a6a;
    border: 1px solid #6a6a6a;
}


/*SEARCHE DESIGN*/

.smartgrid-slide-element .slide-hover,
.smartgrid-slide-element .img-back-card .text-wrap {
    background: rgba(41, 41, 255, 0.8) !important;
}

.searchBarInMenu #second-search-bar,
.searchBarInMenu #main-search-xs-bar,
.searchBarInMenu #second-search-xs-bar,
.searchBarInMenu #main-search-bar,
#content-admin-panel #filterContainer #input-sec-search .input-global-search,
#content-admin-panel .searchBar-filters .search-bar {
    font-size: 16px;
    box-shadow: inset 0 -3px 0 0 #000091;
    background-color: #f0f0f0;
    color: #1e1e1e;
    border: 1px solid #f0f0f0!important;
}

.searchBarInMenu #second-search-bar,
.searchBarInMenu #main-search-bar,
#content-admin-panel #filterContainer #input-sec-search .input-global-search,
#content-admin-panel .searchBar-filters .search-bar {
    border-radius: 4px 0px 0px!important;
}

.searchBarInMenu #main-search-xs-bar,
.searchBarInMenu #second-search-xs-bar {
    border-radius: 0px;
}

.searchBarInMenu #main-search-bar:focus,
.searchBarInMenu #second-search-bar:focus,
.searchBarInMenu #main-search-xs-bar:focus,
.searchBarInMenu #second-search-xs-bar:focus {
    outline-offset: 2px;
    outline-width: 2px;
    outline: 2px solid #2a7ffe;
}

.searchBarInMenu #main-search-bar-addon,
.searchBarInMenu #second-search-bar-addon,
.searchBarInMenu #main-search-xs-bar-addon,
.searchBarInMenu #second-search-xs-bar-addon,
#content-admin-panel .searchBar-filters .main-search-bar-addon {
    border: 1px solid #dadada !important;
    background-color: #000091 !important;
    color: #fff!important;
    font-size: 16px;
    padding: 11px 7px;
    border-radius: 0 4px 0 0!important;
    border-left: 0px !important;
}

.searchBarInMenu #main-search-bar-addon:focus,
.searchBarInMenu #main-search-bar-addon:hover,
.searchBarInMenu #main-search-bar-addon:active,
.searchBarInMenu #second-search-bar-addon:focus,
.searchBarInMenu #second-search-bar-addon:hover,
.searchBarInMenu #second-search-bar-addon:active,
.searchBarInMenu #main-search-xs-bar-addon:focus,
.searchBarInMenu #main-search-xs-bar-addon:hover,
.searchBarInMenu #main-search-xs-bar-addon:active,
.searchBarInMenu #second-search-xs-bar-addon:focus,
.searchBarInMenu #second-search-xs-bar-addon:hover,
.searchBarInMenu #second-search-xs-bar-addon:active,
#content-admin-panel .searchBar-filters .main-search-bar-addon:hover,
#content-admin-panel .searchBar-filters .main-search-bar-addon:active {
    background-image: linear-gradient( 0deg, rgba(0, 0, 221, 0.5), rgba(0, 0, 221, 0.5));
}

.openListTpls {
    background-color: #000091 !important;
}

.openListTpls:hover,
.openListTpls:active,
.openListTpls:focus,
#show-filters-xs:hover,
#show-filters-xs:active {
    background-image: linear-gradient( 0deg, rgba(0, 0, 221, 0.5), rgba(0, 0, 221, 0.5));
}

.container-filters-menu:not(#central-container .container-filters-menu,
#content-admin-panel .container-filters-menu) {
    padding-top: 5px;
    box-shadow: 0 2px 5px 0 rgb(23 47 145), 0 2px 10px 0 rgb(23 47 145);
}

div#filters-nav .filterContainer .dropdown .btn-menu,
div#filters-nav .dropdown .btn-menu,
div#filters-nav .filters-btn,
#content-admin-panel .filterContainer .dropdown .btn-menu {
    font-size: 16px;
    height: 40px;
    border-radius: 4px 4px 0 0!important;
    box-shadow: inset 0 -3px 0 0 #000091!important;
    background-color: #f0f0f0!important;
    color: #1e1e1e!important;
    border: 1px solid #f0f0f0!important;
}

.searchObjCSS .container-filters-menu #input-sec-search .input-global-search {
    border-color: #f0f0f0!important;
    border-radius: 0 4px 0 0!important;
    box-shadow: inset 0 -3px 0 0 #000091!important;
    background-color: #f0f0f0!important;
    color: #1e1e1e!important;
    border: 1px solid #f0f0f0!important;
    font-size: 16px;
}

.searchObjCSS .container-filters-menu #input-sec-search .input-group-addon {
    box-shadow: inset 0 -3px 0 0 #000091!important;
    background-color: #f0f0f0!important;
    color: #1e1e1e!important;
    border: 1px solid #f0f0f0!important;
    border-radius: 4px 0px 0px;
}

#filterContainer .dropdown,
#filters-nav .container-filters-menu .dropdown {
    height: 45px;
}

@media (max-width: 767px) {
    #filters-nav .searchBarInMenu #main-search-bar-addon,
    #show-filters-xs {
        background-color: #000091 !important;
        color: #fff;
    }
    #filters-nav .container-filters-menu {
        background: #fff!important;
    }
}

.container-filters-menu #activeFilters .filters-activate {
    border: 0px;
    background-color: #ececff;
    border-radius: 0px;
    color: #000091 !important;
    border-radius: 50px;
}

.container-filters-menu #activeFilters .filters-activate:hover,
.container-filters-menu #activeFilters .filters-activate:active {
    background-image: linear-gradient(0deg, rgba(172, 172, 255, 0.5), rgba(172, 172, 255, 0.5));
}

.dropdown-menu button,
#filters-nav .dropdown .dropdown-menu button,
#filterContainer .dropdown .dropdown-menu button {
    border-bottom: 1px solid #000091!important;
}

#search-content #situate-day,
#search-content .dayEvent {
    background: rgb(236 236 255) !important;
}

#search-content .dayEvent h2 .date-label {
    color: #000091;
}

#search-content #situate-day,
#search-content .dayEvent .bg-orange {
    color: #fff !important;
    background-color: #000091 !important;
}

#search-content #situate-day:hover,
#search-content .dayEvent .bg-orange:hover,
#search-content #situate-day:active,
#search-content .dayEvent .bg-orange:active {
    background-image: linear-gradient( 0deg, rgba(0, 0, 221, 0.5), rgba(0, 0, 221, 0.5));
}

.navbar-custom .btn-show-map,
.main-container .btn-show-map  {
    background-color: #000091!important;
}

.navbar-custom .btn-show-map:hover,
.main-container .btn-show-map:hover {
    background-color: transparent!important;
    color: #000091!important;
    border: 2px solid #000091!important;
}

.bootbox .bootbox-body .form-horizontal input[type="text"] {
    font-size: 16px;
    height: 40px;
    border-radius: 4px 4px 0 0;
    box-shadow: inset 0 -3px 0 0 #6a6a6a;
    background-color: #f0f0f0;
    color: #1e1e1e;
    border: 1px solid #f0f0f0;
}

.bootbox .bootbox-body .form-horizontal input[type="text"]:focus {
    outline-offset: 2px;
    outline-width: 2px;
    outline: 2px solid #2a7ffe;
}

.bootbox .modal-footer button {
    font-size: 16px;
    line-height: 24px;
    height: 40px;
    padding: 8px 24px;
    background-color: #000091;
    color: #fff!important;
    border-radius: 2px;
}

.bootbox .modal-footer button:hover,
.bootbox .modal-footer button:active,
.bootbox .modal-footer button:focus {
    background-image: linear-gradient(0deg, rgba(41, 41, 255, 0.5), rgba(41, 41, 255, 0.5));
}

.bootbox .modal-header .modal-title {
    color: #383838;
    font-family: 'Marianne-Bold';
    text-transform: none;
    margin-top: 15px;
}


/*admin panel*/

#content-admin-panel #filterContainer .dropdown .btn-menu,
#content-admin-panel .searchObjCSS .dropdown .btn-menu,
#content-admin-panel .searchObjCSS .filters-btn {
    font-size: 16px;
    height: 40px;
    border-radius: 4px 4px 0 0!important;
    box-shadow: inset 0 -3px 0 0 #000091!important;
    background-color: #f0f0f0!important;
    color: #1e1e1e!important;
    border: 1px solid #f0f0f0!important;
}

#content-admin-panel .table thead td,
#content-admin-panel .table thead th {
    border-bottom: 3px solid #6a6a6a;
    background-color: #f9f8f6;
    color: #383838;
}

#content-admin-panel .table thead,
#content-admin-panel .table tbody,
#content-admin-panel .table tfoot {
    border-bottom: 2px solid #DFE1E6;
}