@font-face {
	font-family: 'futuraMedium';
	src: url('https://cdn.jsdelivr.net/npm/futura-font@1.0.0/FuturaBT-Medium.ttf');
}

.portfolio-modal {
	z-index: 99999999;
}

.action-modal {
	z-index: 999999;
	padding-right: 0 !important;
	--discuter-background-color: #ebecf0;
	--discuter-color: inherit;
	--next-background-color: #2C3E50;
	--next-color: white;
	--todo-background-color: #579bfc;
	--todo-color: white;
	--tracking-background-color: #a25ddc;
	--tracking-color: white;
	--totest-background-color: #e2425a;
	--totest-color: white;
	--done-background-color: #9bc125;
	--done-color: white;
}

.create-action-modal {
	z-index: 99999999999999999;
	margin-top: 95px;
}

.action-modal .modal-dialog {
	margin: 20px 0 auto;
	width: 100%;
	font-family: "futuraMedium", sans-serif;
}

.action-modal .modal-body {
	display: grid;
	grid-template-areas: "project main";
	grid-template-columns: 250px 1fr;
	height: 90vh;
	max-height: 90vh;
}

.action-modal .action-list,
.action-modal .action-filter {
	display: block;
	grid-area: project;
	padding: 0 10px 10px;
	overflow-y: auto;
}

.action-modal .action-detail {
	grid-area: main;
	position: relative;
	overflow-y: auto;
	padding: 10px;
}

.action-thumb {
	width: 100%;
	padding: 5px;
	background: white;
	border-radius: 5px;
	border: solid 4px #f1f1f1;
	margin-bottom: 10px;
	position: relative;
}

.action-thumb:last-child {
	margin: 0;
}

.action-thumb.selected {
	border: 4px solid #829dc5;
}

.action-thumb.focused.selected {
	border: 4px solid #0050d1;
}

.action-thumb:hover .actions .fa {
	display: block;
}

.action-thumb:not(.selected):hover {
	border: 4px solid #cfcfcf;
	cursor: pointer;
}

.ghost-element {
	border: 3px rgba(0, 0, 0, .5) dashed;
	padding: 5px;
	border-radius: 6px;
	margin-bottom: 10px;
}

.action-thumb .actions {
	position: absolute;
	top: 5px;
	left: 5px;
	display: flex;
	z-index: 1;
}

.action-thumb .actions .fa {
	justify-self: flex-end;
	padding: 5px;
	border-radius: 5px;
}

.action-thumb .actions .dragger {
	display: none;
	background-color: rgba(0, 0, 0, .2);
	color: white;
	border: 1px solid white;
	cursor: grab;
}

.action-thumb .image {
	width: 100%;
	height: 120px;
	position: relative;
}

.action-thumb .image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.action-thumb .title {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.action-thumb:hover .action .dragger {
	display: block;
}

.action-list .filter {
	position: sticky;
	top: 0;
	padding-bottom: 10px;
	background: white;
	z-index: 2;
}

.action-header {
	display: flex;
	position: relative;
	align-items: center;
	box-shadow: 0 0 10px #9d9d9d;
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 15px;
}

.action-header>* {
	display: inline-block;
	vertical-align: top;
}

.setting-container {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	margin: 0 !important;
}

.credit-field {
	background: #c32148;
	color: white;
	font-weight: bold;
	font-size: 18px;
	padding: 2px 20px;
	border-radius: 0 0 20px 0;
}

.action-header .action-title {
	flex: 1;
	padding: 22px 15px 0;
	font-weight: 500;
	font-size: 18px;
}

.action-header .creator-image {
	width: 80px;
	height: 80px;
	overflow: hidden;
	border-radius: 50%;
}

.action-header .creator-image img,
.contributors-container .contributor-container img,
.contributor-list .contributor-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.action-contributors {
	display: flex;
	margin-bottom: 10px;
}

.contributors-container,
.contributor-selector .contributor-list {
	display: grid;
	gap: 5px;
	align-items: center;
	justify-items: center;
}

.contributors-container {
	display: flex;
	flex: 1;
	grid-template-columns: repeat(auto-fill, minmax(45px, 1fr));
}

.contributor-selector .contributor-list {
	grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
}

.contributors-container .contributor-container,
.contributor-list .contributor-container {
	display: block;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	overflow: hidden;
}

.contributor-list .contributor-container {
	width: 60px;
	height: 60px;
}

.contributor-list .contributor-container.selected {
	border: double 6px black;
}

.contributor-list.text-only {
	display: block;
	text-align: center;
	font-size: 16px;
}

.action-images-container {
	width: 100%;
}

.action-duration {
	font-weight: bold;
	font-size: 16px;
	padding-left: 10px;
}

.action-duration>* {
	display: block;
}

.duration-status {
	display: flex;
	align-items: center;
	cursor: default;
	user-select: none;
	margin-bottom: 10px;
}

.duration-status .dropdown {
	align-self: stretch;
}

.duration-status .dropdown .dropdown-toggle {
	height: 100%;
	line-height: 2em;
	padding: 0 10px;
	font-weight: bold;
	color: white;
	font-size: 16px;
}

.image-compact-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 10px;
	justify-items: center;
}

.image-compact-list .image-element {
	width: 100%;
	height: 200px;
	box-shadow: 0 0 10px #9d9d9d;
}
.image-compact-list .image-element.loading {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	font-size: 6em;
}

.image-compact-list .image-element img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.contributor-list-dropdown,
.milestone-list-dropdown {
	position: relative;
	margin-right: 5px;
}

.milestone-list-dropdown {
	display: inline-block;
}

.contributor-selector {
	position: absolute;
	display: none;
	top: 55px;
	left: 0;
	padding: 5px;
	background: white;
	border-radius: 10px;
	width: 350px;
	box-shadow: 0 0 10px #9d9d9d;
	z-index: 99999;
}

.contributor-selector.open {
	display: block;
}

.contributor-save {
	margin-top: 5px;
	text-align: right;
}

.hidden-info-button {
	position: relative;
	background: #c32148;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	color: white;
	font-weight: bolder;
	font-size: 16px;
	user-select: none;
	cursor: default;
	transition: .5s;
	line-height: 0;
}

.hidden-info-button.rounded {
	border-radius: 50%;
}

.hidden-info-button.rounded .button-hidden-info.open {
	border-radius: 0 10px 10px 0;
}

.hidden-info-button.rounded:hover {
	border-radius: 10px 0 0 10px;
}

.button-hidden-info.open {
	width: auto;
	padding-right: 10px;
	left: 100%;
}

.button-hidden-info {
	position: absolute;
	display: flex;
	width: 0;
	left: 50%;
	white-space: nowrap;
	overflow: hidden;
	height: 45px;
	gap: 5px;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	transition: .5s;
	background: #c32148;
}

.duration-status {
	border: 1px solid black;
}

.duration-status.default-status {
	border-color: black;
}

.duration-status.default-status .dropdown-toggle {
	background: black;
}

.duration-status.ended-status {
	border-color: #CD5C5C;
}

.duration-status.ended-status .dropdown-toggle {
	background: #CD5C5C;
}

.duration-status.ended-status .action-duration {
	color: #CD5C5C;
}

.duration-status.started-status {
	border-color: #3F704D;
}

.duration-status.started-status .dropdown-toggle {
	background: #3F704D;
}

.duration-status.started-status .action-duration {
	color: #3F704D;
}

.duration-status.undefined-status {
	border-color: #E4D00A;
}

.duration-status.undefined-status .dropdown-toggle {
	background: #E4D00A;
}

.duration-status.undefined-status .action-duration {
	color: #E4D00A;
}

.duration-status.coming-status {
	border-color: #318CE7;
}

.duration-status.coming-status .dropdown-toggle {
	background: #318CE7;
}

.duration-status.coming-status .action-duration {
	color: #318CE7;
}

.action-duration {
	display: flex;
}

.action-duration .start {
	margin-right: 20px;
}

.contributors-tasks-container {
	display: flex;
	justify-content: space-between;
}

.content-container {
	display: flex;
	justify-content: space-between;
}

.action-tags {
	margin-bottom: 10px;
	user-select: none;
	cursor: default;
}

.action-tags .badge, .action-filter-tags .badge {
	border-radius: 8px;
	margin-right: 5px;
	font-size: 1em;
	margin-top: 5px;
	cursor: pointer;
	display: inline-block;
	padding: 8px;
}

.action-filter-tags {
	margin-top: 5px;
}

.setting-button {
	border: none;
	margin: 5px 0 0 10px;
	overflow: hidden;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	outline: none;
}

.btn-tasks {
	background-color: #337ab7;
	border-color: #337ab7
}

.image-upload {
	text-align: center;
	margin-bottom: 10px;
	position: sticky;
	top: -10px;
	padding: 5px;
	background: white;
	border-radius: 0 0 5px 5px;
	display: flex;
	z-index: 999;
}

.image-upload input[type=file] {
	display: none;
}

.image-upload input[type=text] {
	text-align: center;
	margin-top: 0px !important;
	font-size: 20px;
	padding: 20px;
	margin-left: 20px;
}

.action-description-container {
	width: 100%;
}

.action-description {
	margin: 10px 0;
	cursor: text;
	border: 2px solid transparent;
	transition: background .2s ease;
}

.action-description:not(.edit-mode):not(.disabled):hover {
	background-color: #ededed;
	border-color: #66afe9;
}

.action-description+.save-description {
	display: none;
}

.action-description.edit-mode+.save-description {
	display: inline;
}

.btn-participer {
	border-radius: 50%;
	color: #c32148;
	border: 2px solid #c32148;
	font-size: 16px;
	background-color: transparent;
	text-align: center;
	margin-right: 10px;
	transition: .2s ease;
	width: 45px;
	height: 45px;

}

.btn-participer:hover {
	border-radius: 15px;
}

.action-status-group {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: rgb(53, 53, 53);
	padding: 7px;
	position: sticky;
	top: 0;
	margin-bottom: 10px;
	border-radius: 5px;
	cursor: pointer;
	z-index: 2;
}

.action-status-group[data-status=discuter] {
	background-color: var(--discuter-background-color);
	color: var(--discuter-color);
}

.action-status-group[data-status=next] {
	background-color: var(--next-background-color);
	color: var(--next-color);
}

.action-status-group[data-status=todo] {
	background-color: var(--todo-background-color);
	color: var(--todo-color);
}

.action-status-group[data-status=tracking] {
	background-color: var(--tracking-background-color);
	color: var(--tracking-color);
}

.action-status-group[data-status=totest] {
	background-color: var(--totest-background-color);
	color: var(--totest-color);
}

.action-status-group[data-status=done] {
	background-color: var(--done-background-color);
	color: var(--done-color);
}

.action-status-referer {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: rgb(53, 53, 53);
	padding: 7px;
	position: sticky;
	bottom: 5px;
	border-radius: 5px;
	cursor: pointer;
}

.action-status-referer[data-status=discuter] {
	background-color: var(--discuter-background-color);
	color: var(--discuter-color);
}

.action-status-referer[data-status=todo] {
	background-color: var(--todo-background-color);
	color: var(--todo-color);
}

.action-status-referer[data-status=tracking] {
	background-color: var(--tracking-background-color);
	color: var(--tracking-color);
}

.action-status-referer[data-status=totest] {
	background-color: var(--totest-background-color);
	color: var(--totest-color);
}

.action-status-referer[data-status=done] {
	background-color: var(--done-background-color);
	color: var(--done-color);
}

.action-status-referer::after {
	left: 50%;
	position: absolute;
	bottom: -10px;
	content: ' ';
	width: 20px;
	height: 20px;
	transform: translateX(-50%) rotate(45deg);
}

.action-status-referer[data-status=discuter]::after {
	background-color: var(--discuter-background-color);
}

.action-status-referer[data-status=todo]::after {
	background-color: var(--todo-background-color);
}

.action-status-referer[data-status=tracking]::after {
	background-color: var(--tracking-background-color);
}

.action-status-referer[data-status=totest]::after {
	background-color: var(--totest-background-color);
}

.action-status-referer[data-status=done]::after {
	background-color: var(--done-background-color);
}

.aside-overlay {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	background-color: transparent;
	transition: opacity .5s ease;
	z-index: 9998;
}

.show-action-list {
	display: none;
	margin-bottom: 10px;
}

.create-action {
	margin-bottom: 10px;
	display: inline-block;
}

.milestone-dropdown {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 10px;
}

.dropdown-menu>li.active a,
.dropdown-menu>li.active a:hover {
	color: white;
	background-color: #1a242f;
	border-color: #161f29;
}

@media screen and (max-width: 860px) {
	.action-modal .modal-body {
		overflow: hidden;
		grid-template-areas: "main";
		grid-template-columns: 1fr;
		position: relative;
	}

	.action-modal .action-list,
	.action-modal .action-filter {
		position: absolute;
		width: 250px;
		height: 100%;
		background: white;
		z-index: 9999;
		left: -250px;
		transition: left .5s ease-in;
	}

	.action-modal .action-list.open,
	.action-modal .action-filter.open {
		left: 0;
	}

	.aside-overlay.show {
		visibility: visible;
		opacity: 1;
		background-color: #97979742;
	}

	.show-action-list {
		display: inline-block;
	}
}

.btn-invite-member,
.btn-invite-outside {
	border: none;
	margin: 5px 0 0 10px;
	overflow: hidden;
	border-radius: 5px;
	width: auto;
	height: 25px;
	outline: none;
}

.invite-container {
	position: absolute;
	z-index: 99999999999;
	background-color: whitesmoke;
	padding: 10px;
	left: 100%;
	width: 25vw;
	margin: 5px;
	box-shadow: 0 0 10px #9d9d9d;
}

.portfolio-modal {
	z-index: 99999999999999999;
}

#ajax-modal.portfolio-modal.modal {
	z-index: 99999999999999999;
}

.d-none {
	display: none !important;
}

.invite-container .select2-container ul {
	max-height: 200px !important;
	overflow-y: auto;
}

#modal-preview-comment {
	z-index: 9999999999999999999;
	overflow: hidden scroll;
	inset: 22px 0 20px 70%;
	border-radius: 5px;
}

@media (max-width : 900px) {
	#modal-preview-comment {
		z-index: 9999999999999999999;
		overflow: hidden scroll;
		inset: 22px 0 20px 0%;
		border-radius: 5px;
	}
}

#modal-preview-comment .btn-close-preview {
	position: absolute;
    top: 0;
    right: 0;
}

.jconfirm {
    z-index: 9999999999999999999 !important;
}

.faceMocion {
	z-index: 999999999999;
}

.xdsoft_datetimepicker {
	z-index: 1000000 !important;
}