span.cos-cart {
	font-size: 3rem !important;
	cursor: pointer;
}

span.cos-cart-double {
	display: block;
	color: red;
}

td.cos-cart-cell-total {
	vertical-align: middle !important;
	white-space: nowrap;
}

.cosDyn-menuTop .cosDyn-right .btn-menu.commonButtonHtml.cos-cart.cos-cart-button.disabled {
	color: gray !important;
	cursor: default;
}

ul.timeline.aap-campcartListStepSwipping>li.cart-hide-before-date.disable .name-step {
	color: #b5b5b5;
}