.item-inner .parent{
    background-color:#01305e;
    padding: 3px;
    border-radius: 0%;
    border-start-start-radius: 5px;
}
.rounded-3{
    border-radius: 10px;
}
.float-label{
    top: 28px !important;
    left: 15px !important;
    padding: 10px;
}

.item-type1.blog-item .image img {
    height: 160px !important;
}
.item-type1 .item-inner .item-body{
    padding: 20px 10px 20px !important;
}
.item-inner .parent{
    font-size: 14px ;
    border-start-start-radius: 0 !important;
}