.ekitia-admin-menu {
    box-shadow: 2px 0 20px #0a0a0a4f;
    position: fixed;
    height: 100vh;
    padding-right: 0;
    transition: all .5s ease-in-out;
}
.ekitia-admin-menu .ekitia-admin-menu-lists{
    list-style: none;
    padding: 0;
}
.ekitia-admin-menu #content-admin-panel {
    padding: 0;
}

.ekitia-admin-menu .ekitia-admin-menu-item{
    text-align: left;
    padding: 10px 20px 10px 30px;
}
.ekitia-admin-menu .ekitia-admin-menu-item.active, .ekitia-admin-menu .ekitia-admin-menu-item:hover{
    background-color: var(--primary-color);
}
.ekitia-admin-menu .ekitia-admin-menu-item.active a, .ekitia-admin-menu .ekitia-admin-menu-item:hover a{
    color: white !important;
}
.ekitia-admin-menu .ekitia-admin-menu-item a{
    font-size: 20px;
    display: block;
    width: 100%;
}
.ekitia-admin-menu .ekitia-admin-menu-item a i{
    font-size: 24px;
    margin-right: 10px;
}
#content-admin-panel {
    padding-left: 0;
}

.divFilteringReference .list-group-item.activeTab {
    background-color: var(--primary-color) !important;
}
.divFilteringReference .list-group-item.activeTab .hidden-xs {
    color:white !important;
}
.divFilteringReference .list-group-item:not(.activeTab):hover{
    background-color: var(--secondary-color) !important;
}
.divFilteringReference .list-group-item.activeTab a, .divFilteringReference .list-group-item a:hover {
    color: white !important;
}
.divFilteringReference .list-group-item.activeTab a .badge, .divFilteringReference .list-group-item a:hover .badge {
    background-color: white !important;
    color: #2C3E50;
}

#goBackToHome .btnNavAdmin{
    background-color: #F9B000 !important;
    color: #2C3E50 !important;
}

.ekitia-btn-link{
    transition: all ease .3s;
}
.ekitia-btn-link:hover{
    background-color: var(--primary-color);
}
.ekitia-btn-link:hover h6 {
    color: white;
}
.ekitia-btn-link:hover h6 i {
    color: white;
    border-color: white;
}
.ekitia-btn-link h6 {
    font-size: 24px;
    color: #2C3E50;
    text-overflow: ellipsis;
  overflow: hidden;
}

.ekitia-btn-link h6 i {
    font-size: 35px;
    width: 70px;
    height: 70px;
    color: var(--primary-color);
    padding: 15px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    margin-bottom: 15px;
}

.ekitia-admin-title{
    background-color: var(--primary-color);
    color: white;
    letter-spacing: 5px;
    font-size: 24px;
}

.ekitia-admin-title h3{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.infoPanelAddContent {
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.infoPanelAddContent .ekitia-add-icon{
    font-size: 22px;
    margin-right: 10px;
}
.ekitia-admin-menu-item a:focus,.ekitia-admin-menu-item.active a:focus {
    text-decoration: none !important;
}
.ekitia-menu-xs{
    display: none;
    cursor: pointer;
}

.text-wrap-ekitia{
    white-space: break-spaces !important;
}

@media screen and (max-width: 767px) {
    .ekitia-admin-menu{
        position: absolute;
        left: -767px;
        width: 100%;
        z-index: 99999;
        background: white !important;
    }
    .ekitia-admin-menu.active {
        left: 0px;
    }
    .ekitia-menu-xs.menu-left{
        display: block;
        position: fixed;
        z-index: 100000000;
        background: var(--primary-color);
        color: white;
        border-radius: 0px 10px 10px 0px;
        transform: translate(50%, 100%);
        padding: 15px 5px 15px 5px;
        writing-mode: vertical-lr;
    }
    .ekitia-menu-xs.menu-top{
        display: block;
        position: fixed;
        z-index: 100000000;
        background: white;
        color: var(--primary-color);
        border: 2px solid var(--primary-color);
        border-top-width: 0px;
        border-radius: 0px 0px 10px 10px;
        padding: 5px 10px;
        left: 20px;
    }
    .ekitia-menu-xs.menu-left ~ .ekitia-admin-menu .ekitia-admin-menu-item{
        padding-left: 40px;
    }
    .ekitia-menu-xs.menu-top ~ #content-admin-panel {
        padding-top: 40px;
    }
    .ekitia-menu-xs.menu-top ~ .ekitia-admin-menu {
        padding-top: 40px;
        padding-left: 0;
    }
    #content-admin-panel {
        padding-left: 15px;
    }
    .ekitia-directory .ekitia-directory-item .ekitia-directory-item-btn{
        margin-right: auto !important;
        margin-left: auto !important;
        margin-bottom: 10px;
    }
    .ekitia-directory .ekitia-directory-item {
        flex-direction: column;
    }
    .ekitia-directory .ekitia-directory-item div {
        text-align: center;
    }
}

#filterContainer #input-sec-search .input-global-search, .searchBar-filters .search-bar{
    border: 1px solid #aaa;
    border-radius: 2px 0px 2px 2px;
}

.searchBar-filters .main-search-bar-addon {
    border-radius: 2px 2px 2px 0px;
    border: 1px solid #aaa;
}

#filterContainer .dropdown .btn-menu, 
.searchObjCSS .dropdown .btn-menu, 
.searchObjCSS .filters-btn, 
.searchObjCSS #input-sec-search .input-global-search{
    border-radius: 2px solid #aaa !important;
}

.kanban-new-column{
    background-color: var(--primary-color) !important;
    color: white !important;
    font-size: 18px;
}

.kanban-header {
    background: #eee;
}

h4.titre-role{
    padding-left: 28px;
}

.kanban-list-card-detail.activer{
    background-color: var(--primary-color) !important;
}