#mainNav .menu-app-top{
	margin-top: 20px;
}
#mainNav #navbar{
	margin-top: 15px
}
#mainNav{
	padding-bottom:10px;
	box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
}
#menuLeft .menu-button.btn-menu {
    text-align: left;
    width: 250px;
}
.menu-name-profil{
	background-color: rgba(255, 255, 255, 0.75)!important;
}
#menu-label-profil{
	color: #091e37;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 40px;
    display: inline-block;
}
.main-container {
	overflow-x: hidden;
}
.headerSearchContainer:not(.affix){
	left: 0px !important;
	right: 0px !important;
}
@media (min-width: 768px){
	#mainNav{
		padding: 0px !important;
    	border-bottom: 0px !important;
	}
}
@media (max-width: 767px){
	#mainNav{
		background-color: #091e37;
		color: white;
	}
}