.timeline-graph {
    list-style: none;
    padding: 0 0 20px;
    position: relative;
}

.timeline-graph:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline-graph>li {
    margin-bottom: 20px;
    position: relative;
}

.timeline-graph>li:before,
.timeline-graph>li:after {
    content: " ";
    display: table;
}

.timeline-graph>li:after {
    clear: both;
}

.timeline-graph>li:before,
.timeline-graph>li:after {
    content: " ";
    display: table;
}

.timeline-graph>li:after {
    clear: both;
}

.timeline-graph>li>.timeline-graph-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    /*border-radius: 2px;*/
    /*padding: 20px;*/
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline-graph>li>.timeline-graph-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline-graph>li>.timeline-graph-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline-graph>li>.timeline-graph-badge {
    color: #fff;
    width: 24px;
    height: 24px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -12px;
    /*background-color: #999999;*/
    z-index: 100;
    /*
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  */
}

.timeline-graph>li>.timeline-graph-add {
    line-height: 0px!important;
    font-size: 1.8em!important;
    top: 0px!important;
    margin-left: -16px!important;
}

.timeline-graph>li.timeline-graph-inverted>.timeline-graph-panel {
    float: right;
}

.timeline-graph>li.timeline-graph-inverted>.timeline-graph-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline-graph>li.timeline-graph-inverted>.timeline-graph-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-graph-badge>a {
    color: #FF531F !important;
}

.timeline-graph-title {
    margin-top: 0;
    color: inherit;
}

.timeline-graph-heading {
    padding-left: 20px;
    padding-right: 20px;
    text-align: end;
}

.timeline-graph-body>h3 {
    padding-left: 20px;
    padding-right: 20px;
}

.timeline-graph-heading>div {
    position: absolute;
    right: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.7);
    padding: 2px 8px;
    border-radius: 0px 0px 0px 7px;
    font-size: 1.2rem;
    color: #E9E9E9;
}

.timeline-graph-body>p,
.timeline-graph-body>ul {
    padding: 20px;
    margin-bottom: 0;
}

.timeline-graph-body>p+p {
    margin-top: 5px;
}

.timeline-graph-footer {
    padding: 10px 20px 10px 20px;
    background-color: #f4f4f4;
}

.timeline-graph-footer>div {
    text-align: end;
    font-size: 2.2rem;
}

.timeline-graph-footer>div>i {
    margin-right: 7px;
}

.timeline-graph-footer>a {
    cursor: pointer;
    text-decoration: none;
}

.tooltip {
    position: absolute;
    z-index: 1020;
    display: block;
    visibility: visible;
    padding: 5px;
    font-size: 11px;
    opacity: 0;
    filter: alpha(opacity=0);
}

.tooltip.in {
    /*opacity:0;
    filter:alpha(opacity=80);*/
}

.tooltip.top {
    margin-top: -2px;
}

.tooltip.right {
    margin-left: 2px;
}

.tooltip.bottom {
    margin-top: 2px;
}

.tooltip.left {
    margin-left: -2px;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 0;
    margin-left: 0;
    border-left: 0 solid transparent;
    border-right: 5px solid transparent;
    border-top: 0 solid #000;
}

.tooltip.left .tooltip-arrow {
    bottom: 0;
    left: 0;
    margin-left: 0;
    border-left: 0 solid transparent;
    border-right: 5px solid transparent;
    border-top: 0 solid #000;
}

.tooltip.bottom .tooltip-arrow {
    bottom: 0;
    left: 0;
    margin-left: 0;
    border-left: 0 solid transparent;
    border-right: 5px solid transparent;
    border-top: 0 solid #000;
}

.tooltip.right .tooltip-arrow {
    bottom: 0;
    left: 0;
    margin-left: 0;
    border-left: 0 solid transparent;
    border-right: 5px solid transparent;
    border-top: 0 solid #000;
}

.tooltip-inner {
    width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #FF531F;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
}