div[data-path="tpls.blockCms.header.bannerWithSearchGlobal"] {
    top: -90px;
}

#mainNav {
    opacity: 1;
}

#mainNav {
    background-color: #000000;
    box-shadow: 1px 1px 3px #ddd;
    opacity: 1;
}

.openListTpls {
    z-index: 1;
}

#mainNav .lbh-menu-app,
#mainNav .lbh-urlExtern,
#mainNav .lbh-anchor {
    font-size: 24px;
    font-weight: normal;
    color: white !important;
}

#mainNav .tooltips-menu-btn {
    background: #092434;
    z-index: 5;
}

#mainNav a.menu-name-profil {
    margin-top: 7px;
    font-size: 15px !important;
    /* background-color: #092434!important; */
    color: white !important;
}

#mainNav .menu-btn-top {
    color: white !important;
    font-size: 20px !important;
    margin-right: 5px;
    /* margin-left: -10px; */
}

#mainNav .dropdown-menu-top {
    padding-top: 10px;
}

#mainNav .btn-menu-connect {
    font-size: 18px !important;
    color: white !important;
    margin-top: 10px;
    /* border-radius: 12px; */
}

#mainNav .open-xs-menu {
    color: white !important;
    font-size: 30px;
}

#mainNav .menu-xs-container {
    background-color: #052434 !important;
}

#mainNav .menu-xs-container a {
    background-color: #052434 !important;
    padding-top: 10px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    padding-bottom: 10px !important;
    margin-top: 5px !important;
    height: auto !important;
    display: inline-block!important;
    text-align: left !important;
}

#mainNav .menu-xs-container a i {
    margin-right: 15px;
}

#mainNav .menu-btn-top img.visible-xs {
    height: 60px;
    padding-left: 0 !important;
}

#mainNav .menu-xs-container a:hover {
    background: white;
    color: #052434;
}
.searchObjCSS #input-sec-search .input-group-addon, #filterContainer #input-sec-search .input-group-addon {
    background-color: #092434 !important;
}
.searchBar-filters .main-search-bar-addon {
    background-color: #092434 !important;
}
#filterContainer #input-sec-search .input-global-search {
    border-color:  #092434;
}
.searchBar-filters .search-bar {
    border-color:  #092434;
}
.shadow-input-header .scope-search-trigger i {
    color: white !important;
    margin-left: -10px;
}

.searchBar-filters .main-search-bar-addon i {
    color: white !important;
}
#filterContainer .dropdown .btn-menu, .searchObjCSS .dropdown .btn-menu {
    border-color:  #092434;
}

#filterContainer #input-sec-search .input-group {
    display: flex;
    flex-direction: row;
}
#filterContainer #input-sec-search .input-group-addon {
    border-radius: 20px 0px 0px 20px !important;
}
#filterContainer #input-sec-search .input-global-search {
    border-radius: 0px 20px 20px 0px !important;
}

@media (max-width: 767px) {
    #mainNav a.menu-name-profil {
        margin-top: -5px !important;
    }
    #mainNav {
        opacity: 1 !important;
    }
    /* #mainNav #menu-thumb-profil {
        width: 40px !important;
        height: 40px !important;
        margin-top: 5px;
    } */
    #mainNav .dropdown-menu-top a {
        margin-top: -8px;
        margin-right: 5px;
    }
    .portfolio-modal .close-modal {
        margin-top: -20px;
    }
    .portfolio-modal .close-modal .lr{
        height: 23px !important;
    }
    .portfolio-modal .close-modal .lr .rl{
        height: 23px !important;
    }
    .searchObjCSS #filterContainerInside {
        min-height: auto !important;
    }
    .searchObjCSS #filterContainerInside .searchBar-filters {
        display: none;
    }

    .searchObjCSS #filterContainerInside .count-result-xs span {
        display: none;
    }

    #filterContainer .visible-xs .showHide-filters-xs {
        border-color: #092434 !important;
        border-radius: 5px 0px 0px 5px !important;
    }
    #filterContainer .visible-xs .main-search-bar {
        border-color: #092434 !important;
    }
    #filterContainer .visible-xs .main-search-bar-addon {
        background-color: #092434 !important;
        border-radius: 0px 5px 5px 0px !important;
    }
    #filterContainer .visible-xs .main-search-bar-addon i {
        color: white !important;
    }
    #filterContainerInside li a {
        border-color: #092434 !important;
    }
    #filterContainer #input-sec-search .input-global-search,
    .searchObjCSS #input-sec-search .input-global-search 
    {
        border-radius: 5px 0px 0px 5px !important;
    }
    #filterContainer #input-sec-search .input-group-addon,
    .searchObjCSS #input-sec-search .input-group-addon {
        border-radius: 0px 5px 5px 0px !important;
    }
    #filterContainer #input-sec-search .input-global-search {
        border-left-width: 1px;
    }
    .imgObjectfit img {
        max-width: 150px;
        max-height: 150px;
    }
    .imgxslogo img {
        width: 180px;
        height: 180px;
    }
    #filterContainer #input-sec-search .input-group-addon,
    .searchObjCSS #input-sec-search .input-group-addon  {
        flex: 1;
        order: 2; 
    }
    #filterContainer #input-sec-search .input-global-search,
    .searchObjCSS #input-sec-search .input-global-search {
        order: 1; 
    }
}

@media (min-width: 767px) {
    #mainNav .lbh-menu-app,
    #mainNav .lbh-urlExtern,
    #mainNav .lbh-anchor,
    #mainNav .commonButtonHtml {
        padding-top: 10px;
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 10px;
        margin-top: 5px;
        height: auto;
        width: auto;
        display: inline-block;
    }
    #mainNav .lbh-menu-app .fa,
    #mainNav .commonButtonHtml .fa {
        padding: 0.3em;
        /* border: 2px solid #ffffff; */
        /* border-radius: 12px; */
    }
}

#menuTopLeft {
    color: white;
    font-size: 20px;
    line-height: 3;
}

.dropdown-menu-large .dropdown-title {
    color: #63aabc;
}

.label-primary {
    background-color: #63aabc;
}

#menuTopLeft .menu-xs-cplx {
    line-height: 1;
}

#menuBottom a#show-bottom-add {
    min-width: 150px;
    padding: 5px 10px !important;
    border: none;
    background-color: var(--main1) !important;
    display: inline-block;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}