#mainNav .popover-title{
    display: none;
}
#mainNav .popover{
    max-width: 60%;
    width:60%
}
#mainNav .cacs-item{
    word-wrap: break-word;
    display: block;
    text-decoration: none;
    padding: 4px;
    background: #80808036;
    border-radius: 5px;
}
#mainNav .cacs-item:hover{
    background: #7da53d;
    color: #fff;
}
#mainNav .aap-lists-btn{
    float:left;
}
#mainNav .aap-small-context{
    font-size: 16px !important;
    font-weight: 200 !important;
    float: left !important;
    font-style: italic !important;
    text-decoration: none !important;
    padding: 0px 20px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: 462px !important;
}

