.about-link-container{
    font-size: 2em !important;
}

.sp-text, #second-search-bar, #ajax-modal-modal-body p, .event-type-filter {
    font-size: 1.5em;
}

.coevent-button, 
.coevent-button, 
.fc-title, 
.fc-time
.journee_views .btn, 
.tooltip, 
.tl-headline, 
.tl-text-content p, 
#show_hide_map_container,
#shortDescriptionHeader,
.blockFontPreview {
    font-size:18pt !important;
}

.tl-timenav-slider-background{
    font-size: 14pt;
}

.event-infos-header{
    font-weight: bolder !important;
}

#ajaxFormModal .form-control, #ajaxFormModal .form-group, #ajax-modal .form-group.infocustom p {
    font-size: 16pt;
}

.marker-cluster-stl {
    color: white;
    border-radius: 50%!important;
    margin-left: -27px !important;
    margin-top: -27px !important;
    padding: 7px !important;
    width: 48px !important;
    height: 48px !important;
    background-color: orange !important;
    background-image: none;
}

.marker-cluster-stl div {
    border-radius: inherit;
    margin-left: 0px !important;
    margin-top: 0px !important;
    margin: 0px!important;
    width: 40px !important;
    height: 40px !important;
    background-color: transparent !important;
    padding: 6px 3px 13px 0px!important;
    font-size: 18px !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    color: white;
    font-weight: 700!important;
    text-align: center!important;
}

/*#timeline-embed, #chronologie{
	display:none;
}*/

.tl-timemarker-content .tl-headline{
    font-size: 12px !important;
}


.tl-timeaxis .tl-timeaxis-content-container .tl-timeaxis-major .tl-timeaxis-tick .tl-timeaxis-tick-text, .tl-timeaxis .tl-timeaxis-content-container .tl-timeaxis-minor .tl-timeaxis-tick .tl-timeaxis-tick-text{
    font-size:16pt;
    color: #444;
}