/* .my-profil-content {
    display: flex;
    justify-content : center;
} */
.description-heading {
    margin-top: 3rem;
}

.btn-return-form:hover {
    color: black;
    background: #8AC4C5 !important;
}
.btn-return-form {
    background: #8AC4C5 !important;
}

.show-map {
    height: 70vh;
}

#classmentBarChart {
    height: 600px !important;
}

.classmentContent, #customHeader {
    display: flex;
    justify-content: center;
}

#customHeader > .col-md-12.col-lg-12.no-padding {
    width: 60%;
}

.ans-dir .cardContainer {
    height: auto !important;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
}

/* btn group */

.ui-group, .empty-text {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-group:after {
    content: '';
    display: block;
    clear: both;
}

.button-group {
    justify-content: center;
    display: flex;
    align-items: baseline;
}

.button-group .button {
    float: left;
    border-radius: 0;
    margin-left: 0;
    margin-right: -1px;
}


.button-group .button:first-child { border-radius: 4px 0 0 4px; }
.button-group .button:last-child { border-radius: 0 4px 4px 0; }

.button {
    display: inline-block;
    outline: none;
    padding: 0.5em 1.0em;
    margin-top:6px;
    /* border: 1px solid #ccc; */
    border: none;
    border-radius: 4px;
    color: #000;
    font-size: 0.9em;
    /* background-color: white; */
    transition: all 0.2s;                                                           
}

.button:hover {
    background-color: #ccc;
    color: black;
}

.button:active,
.button.is-checked {
    background-color: #8ac4c5;
    border:1px solid #8ac4c5;
    border-radius: 6px !important;

}

.button.is-checked {
    color: white;
}

.default-dir .bodySearchContainer{
    height: auto !important;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
}   

.default-dir .divEndOfresults {
    position: relative !important;
}

.listElement {
    line-height: 1.5em;
    border-bottom: 1px solid #ddd;
    padding: 25px 0;
    /* display: flex; */
    /* display: contents; */
    align-items: flex-start;
    width: 100%;
  }

  .listEltDiv {
    width: 100%;
    display: flex;
  }
  
  .imageList {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    flex: auto 0 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: -2.5px 20px -2.5px 0;
  }
  
  .buttonShowAllTitle {
    color: #000;
    font-size: 24px;
    line-height: 1.2em;
    margin-right: 2vh;
  }
  
  .informationContent {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* justify-content: space-between; */
    margin: auto 5vh;
  }
  
  .infoDate {
    color: #0f4475;
    font-size: 16px;
  }
  
  .infoTag {
    color: #999;
    font-size: 16px;
    margin: 5px 0 0 auto;
  }
  
  .elementTag {
    cursor: pointer;
    position: relative;
    margin: 3px 3px 3px 0;
    display: inline-block;
  }

  .desc-content {
    margin: auto 0px;
  }

  .button-group .button p {
    margin-bottom: 0px;
  }