.ans-dir .cardContainer {
    height: auto !important;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
}

.my-orga-btn-content {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.like-project-container {
    display: none !important;
}
.default-dir .bodySearchContainer{
    height: auto !important;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
}   

.default-dir .divEndOfresults {
    position: relative !important;
}

.ans-dir > .row {
    display: none;
}

.panel-group {
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 8px !important;
}

.h3 {
    font-size: 1.3em;
    font-weight:700;
}

.ui-group, .empty-text {
display:flex;
flex-wrap: wrap;
justify-content: center;
}

.button-group:after {
content: '';
display: block;
clear: both;
}

.button-group {
    justify-content: center;
    display: flex;
    align-items: baseline;
}

.button-group .button {
    float: left;
    border-radius: 0;
    margin-left: 0;
    margin-right: -1px;
}


.button-group .button:first-child { border-radius: 4px 0 0 4px; }
.button-group .button:last-child { border-radius: 0 4px 4px 0; }

.button {
    display: inline-block;
    outline: none;
    padding: 0.5em 1.0em;
    margin-top:6px;
    border: none;
    border-radius: 4px;
    color: #000;
    font-size: 0.9em;
}

.button:hover {
    background-color: #ccc;
    color: black;
}

.button:active,
.button.is-checked {
    background-color: #8ac4c5;
    border:1px solid #8ac4c5;
    border-radius: 6px;
}

.button.is-checked {
    color: white;
}

.ans-dir hr {
    border: 1px solid #858585;
}
.ans-dir .team {
    margin-top: 25px;
}
.ans-dir .team h1 {
    font-weight: normal;
    font-size: 22px;
    margin: 10px 0 0 0;
}
.ans-dir .team h2 {
    font-size: 16px !important;
    font-weight: lighter;
    margin-top: 5px;
}
.ans-dir .team .img-box {
    opacity: 1;
    display: block;
    position: relative;
}
.ans-dir .team .img-box:after {
    content: "";
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}
.ans-dir .img-box ul {
    position: absolute;
    z-index: 2;
    bottom: 50px;
    text-align: center;
    width: 100%;
    padding-left: 0px;
    height: 0px;
    margin: 0px;
    opacity: 0;
}
.ans-dir .team .img-box:after, .img-box ul, .img-box ul li {
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.ans-dir .img-box ul i {
    font-size: 20px;
    letter-spacing: 10px;
}
.ans-dir .img-box ul li {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #fff;
    margin: 2px;
    padding: 5px;
    display: inline-block;
}
.ans-dir .img-box a {
    color: #fff;
}

.ans-dir .img-box ul a {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.ans-dir .img-box a:hover li {
    border-color: #FFEA05;
    color: #FFEA05;
}
.ans-dir .img-box a {
    color: #FFEA05;
}
.ans-dir .img-box a:hover {
    text-decoration: none;
    color: #519548;
}
.ans-dir .card-team{
    position: relative;
    width: 100%;
    padding-top: 15px;
}
.ans-dir .team{
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
    flex: 0 0 calc(98%/3);
    padding: 5px 10px;
}
.ans-dir .team .desc{
    word-break: break-word;
    line-height:120%;
    text-align: left !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:3;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ans-dir .img-responsive-action{
    width: 100%;
    height: 253px;
    object-fit: cover;
}
@media only screen and (min-width : 320px) {
    .ans-dir .team{
        box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
        flex: 0 0 100%;
        padding: 5px 10px;
    }
}

@media only screen and (min-width : 480px) {
    .ans-dir .team{
        box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
        flex: 0 0 100%;
        padding: 5px 10px;
    }
}

@media only screen and (min-width : 768px) {
    .team{
        box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
        flex: 0 0 49%;
        padding: 5px 10px;
    }
}

@media only screen and (min-width : 992px) {
    .ans-dir .team{
        box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
        flex: 0 0 calc(98%/2);
        padding: 5px 10px;
    }
}

@media only screen and (min-width : 1200px) {
    .ans-dir .team{
        box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
        flex: 0 0 calc(90%/3);
        padding: 5px 10px;
    }
}
.ans-dir #filterContainerInside {
    overflow-y: unset !important;
    max-height: 800px;
}
.ans-dir #sticky,.aap-footer,.aap-options-btn,.rater-sheet,.openAnswersComment,.votant-modal,.view-contributors,.rebtnFinancer{
    display: none !important;
}
.ans-dir .portfolio-modal.modal#modal-action .modal-content{
    background: rgb(0 0 0 / 72%);
}
.ans-dir .portfolio-modal.modal#modal-action .modal-content .container{
    background: #fff;
    padding-top: 10px;
    border-radius:5px;
}
.ans-dir .portfolio-modal.modal#modal-action .modal-content .container .row h2{
    padding-left:15px;
}
.ans-dir .portfolio-modal.modal#modal-action .close-modal .lr .rl, .portfolio-modal.modal#modal-action .close-modal .lr {
    background-color: #fff;
}

#wizardcontainer {
    width: fit-content !important;
}

#info {
    width: inherit !important;
} 


.description-list-orga {
    margin: 1% 10.5%;
    font-size: 20px;
}

.searchEntityContainer.events {
    flex: 0 0 calc(98% / 2);
}

.events .searchEntity .bg-img-event-header .header-opacity {
    background-color: transparent !important;
    min-height: 80px;
}

.searchEntityContainer.events .entityName h4 a, .searchEntityContainer.events .date-icon,
.events .searchEntity .bg-img-event-header h3 small {
    color: #244A58 !important;
}

@media (max-width: 1790px) {
    .searchEntityContainer.events {
      flex: 0 0 calc(98% / 2);
    }
  }
  
  @media (max-width: 1972px) {
    .searchEntityContainer.events {
      flex: 0 0 100%;
    }
  }

    .searchEntityContainer.events {
        min-height: inherit !important;
        max-height: inherit !important;
    }

    .searchEntityContainer.events .div-img {
        background: transparent !important;
    }

    .events .searchEntity {
        border-radius: 20px !important;
        box-shadow: inherit !important;
    }
    .searchEntityContainer.events .container-img-profil .div-img i.fa {
        color: #244A58 !important;
    }
    
    .button-group .button p {
        margin-bottom: 0px;
    }

    .container-live.inline .timeline > li {
        width: 100% !important;
    }

    .settingsNews {
        display: none;
    }

