.list-tootls-with-title {
    display: grid;
    list-style: none;
}

.btn-icon {
    font-size : 45px;
    
}

.icon-td-table {
    border: double !important;
}

.button-td-content {
    vertical-align: middle !important;
    border: dotted !important;
}

.ans-dir .cardContainer {
    height: auto !important;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
}

.img-responsive {
    margin: auto;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.5);
}
.show-map {
    height: 50vh;
}
.listTools {
    list-style: none;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
}
.all-content-prev .tab-content {
    background: #f9f7f7;
    height: 100%;
}


.map-preview-tiers #filterContainerInside {
    background: inherit;
}

.all-content-prev .tab-content>.active, .health-btn , .gauge-content, #wordsContent, .network-button{
    display: flex !important;
    justify-content: center !important;
}

.title-btn {
    display: flex;
    justify-content: space-between;
}

.coFormbody {
    height: 80vh;
    overflow-y: scroll;
}

.btn-return-form:hover {
    color: black;
    background: #8AC4C5 !important;
}
.btn-return-form {
    background: #8AC4C5 !important;
}

#showRadarDistributionVal, 
#showRadarCreateValue, 
#showRadarCreateValue1,
#showRadarCreateValue2,
#showRadarCaptureValue,
.buttons-content,
 .content-center, .pieContent {
    display: flex;
        justify-content: center;
}

.buttons-content button {
    border-radius: 15px !important;
}
.satisfaction-text {
    margin-top: 50px;
}
.vertical-bar {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  width: 26px;
  height: 400px;
  margin-right: 20px;
  position: relative;
}
.vertical-bar-meter {
  flex-grow: 1;
  position: relative;
}
.verticalLegend {
    margin-left: 15px;
    position: absolute;
    top: 34%;
    left: 100%;
    font-size: 14px;
    color: #000;
    width: max-content;
}
.marker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-213%, -50%);
    font-size: 14px;
    color: #000;
    width: max-content;
} 
.active-meter-bar .marker{
  display: block;
}	

.form-sup-content {
    margin-bottom: 100px;
}

.filled-form {
    font-size: xx-large;
    color: #6b7010;
}

.form-checkbox {
    height: 25px;
    width: 25px;
}

.form-check-label {
    display: block;
}

.btn-network {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #fff/*#f1f1f1*/;
    /* margin: 10px; */
    border-radius: 30%;
    /* box-shadow: 0 5px 15px -5px #2C3E50; */
    color: #1da1f2;
    overflow: hidden;
    position: relative;
    border: 1px solid #1d3b58;
}

.btn-network i {
    line-height: 50px;
    font-size: 25px;
}

.tab-pane {
    margin-bottom: 0px !important;
}

.tools-content {
    margin-left: 5px;
    border-left: 2px solid;
    border-radius: 12px;
}

.title-nd-contents .tools-title {
    margin-right: 10px;
    width: 20%;
}

.title-nd-contents, .resune-class {
    display: flex;
    align-items: center;
}

.listTools li {
    margin-right: 24px;
}

.pictorial-list, .all-btn-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.pictorial-width {
    width: 20%;
}

.frequencyPieDiv, .pieContent, .gauge-content {
    width: 55%;
    margin: 0px auto;
}

.all-btn-form .btn-content {
    width: 32%;
    margin: 11px auto;
    background-color: aliceblue;
    border-radius: 11px;
}

.content-img-profil-preview {
    display: flex;
    align-items: center;
}

p.title-info {
    margin: auto 12px;
    font-size: 34px;
    font-weight: 500;
}

p.sub-title-info {
    color: #6B8893;
}

div#reseaux {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

#reseaux h3 {
    width: 85%;
}