.campDesc-content {
	display: block;
	position: relative;
	padding: 20px 10%;
	width: 100%;
}
.campDesc-content .campDesc-header {
	padding: 0 0 20px;
}
.campDesc-content .campDesc-header span {
	font-size: 45px;
	font-weight: 700;
	color: var(--dtl-costum-color1);
}
.campDesc-content .campDesc-body .content {
	display: flex;
	position: relative;
	width: 100%;
}

.campDesc-content .campDesc-body .img-content {
	width: 50%;
	padding-right: 20px;
	border-radius: 25px;
	overflow: hidden;
	min-height: 200px;
	max-height: 350px;
}
.campDesc-content .campDesc-body .img-content img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.campDesc-content .campDesc-body .desc-content {
	width: 50%;
	padding-left: 20px;
}
.campDesc-content .campDesc-body .desc-content .desc-title {
	padding: 0 3px 13px;
}
.campDesc-content .campDesc-body .desc-content .desc-title span {
	font-size: 34px;
	color: var(--aactl-primary);
	font-weight: 700;
}
.campDesc-content .campDesc-body .desc-content .tags-content {
	padding: 15px 3px 0;
	display: flex;
	flex-wrap: wrap;
}
.campDesc-content .campDesc-body .desc-content .tags-content .tags{
	padding: 2px 4px 1px;
    border: 1px solid var(--dtl-costum-color3);
    font-size: 1.3rem;
    color: #fff;
    background-color: var(--dtl-costum-color3);
    margin-right: 5px;
    display: block;
    margin-bottom: .5rem;
    border-radius: 8px;
}
.campDesc-content .campDesc-body .desc-content .progress-content {
	padding: 15px 3px 0;
}
.campDesc-content .campDesc-body .desc-content .progress-content .progress .progress-bar {
	background-color: var(--dtl-costum-color1);
}
.campDesc-content .campDesc-body .desc-content .finance-content {
	display: flex;
	justify-content: space-between;
	padding: 10px 3px 0;
}
.campDesc-content .campDesc-body .desc-content .finance-content .title{
	font-size: 18px;
	font-weight: 800;
	display: block;
}
.campDesc-content .campDesc-body .desc-content .finance-content .chiffre{
	font-size: 18px;
	font-weight: 700;
	display: block;
}
.campDesc-content .campDesc-body .desc-content .action-content {
	padding: 30px 3px 0;
	display: block;
}
.campDesc-content .campDesc-body .desc-content .action-content .btn-know-more {
	padding: 8px 30px;
	border-radius: 15px;
	border: 1px solid var(--dtl-costum-color1);
	background-color: var(--dtl-costum-color1);
	color: #fff;
	transition: all .4s;
	font-size: 20px;
}
.campDesc-content .campDesc-body .desc-content .action-content .btn-know-more:hover {
	background-color: transparent;
	color: var(--dtl-costum-color1);
}

@media screen and (max-width: 768px) {
	.campDesc-content .campDesc-body .content {
		flex-direction: column;
	}

	.campDesc-content .campDesc-body .content>* {
		width: 100%;
		padding: 0;
	}
	.campDesc-content .campDesc-body .img-content {
		height: 200px;
	}
}