    /* LISTS***********************************************************************. */
    .progress[data-percentage="10"] .progress-right .progress-bar {
        animation: loading-1 1.5s linear forwards;
    }

    .progress[data-percentage="10"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="20"] .progress-right .progress-bar {
        animation: loading-2 1.5s linear forwards;
    }

    .progress[data-percentage="20"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="30"] .progress-right .progress-bar {
        animation: loading-3 1.5s linear forwards;
    }

    .progress[data-percentage="30"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="40"] .progress-right .progress-bar {
        animation: loading-4 1.5s linear forwards;
    }

    .progress[data-percentage="40"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="50"] .progress-right .progress-bar {
        animation: loading-5 1.5s linear forwards;
    }

    .progress[data-percentage="50"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="60"] .progress-right .progress-bar {
        animation: loading-5 1.5s linear forwards;
    }

    .progress[data-percentage="60"] .progress-left .progress-bar {
        animation: loading-1 1.5s linear forwards 1.5s;
    }

    .progress[data-percentage="70"] .progress-right .progress-bar {
        animation: loading-5 1.5s linear forwards;
    }

    .progress[data-percentage="70"] .progress-left .progress-bar {
        animation: loading-2 1.5s linear forwards 1.5s;
    }

    .progress[data-percentage="80"] .progress-right .progress-bar {
        animation: loading-5 1.5s linear forwards;
    }

    .progress[data-percentage="80"] .progress-left .progress-bar {
        animation: loading-3 1.5s linear forwards 1.5s;
    }

    .progress[data-percentage="90"] .progress-right .progress-bar {
        animation: loading-5 1.5s linear forwards;
    }

    .progress[data-percentage="90"] .progress-left .progress-bar {
        animation: loading-4 1.5s linear forwards 1.5s;
    }

    .progress[data-percentage="100"] .progress-right .progress-bar {
        animation: loading-5 1.5s linear forwards;
    }

    .progress[data-percentage="100"] .progress-left .progress-bar {
        animation: loading-5 1.5s linear forwards 1.5s;
    }

    .project-description {
        /* overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; 
        -webkit-box-orient: vertical; */
        font-size: 14px;
        min-height: 80px;
     }

    /*EVALUATION*/

    .single_evaluate, .single_task, .single_funding, .single_governance {
        position: relative;
        margin-bottom: 40px;
        transition: .3s;
        /*box-shadow: 0 2px 5px 0 rgb(63 78 88), 0 2px 10px 0 rgb(63 78 88);*/
        webkit-box-shadow: 0 1px 6px rgb(0 0 0 / 18%);
        box-shadow: 0 2px 6px rgb(0 0 0 / 18%);
        border-radius: 3px;
        background-color: #ffffff;
    }

    .single_evaluate img {
        width: 100%;
        /*position: absolute;*/
        min-height: 420px;
        /*-webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);*/
        transition: .3s;
        border: 1px solid #ddd;
        /*border-radius: 5px;*/
        object-fit: cover;
        object-position: center;
    }
    .single_evaluate .img-contributor {
        width: 50px !important;
        height: 50px !important;
        min-height: 50px !important;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
    }

    .single_evaluate:hover img{
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 50%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 50%);

    }

   /* .evaluate_content h4,*/ .single_task h4, .single_funding h4, .single_governance h4 {
        font-size: 22px;
        font-weight: 700;
        border-bottom: 1px dashed #3f4e58;
        line-height: 2;
        text-transform: none;
        color: #3f4e58;
    }
    .evaluate_content>.row{
        border-bottom: 1px dashed #3f4e58;
    }

     .status {
        font-size: 19px;
        line-height: 2;
        color: #3f4e58;
    }

     .status span {
         border: solid 2px #555259;
         margin: 3px;
         padding: 3px;
         border-radius: 5px;
         font-weight: bold;
     }

    .evaluate_content h4 span {
        font-size: 20px;
        font-weight: 800;
        float: right;
        font-style: italic;
        color: #9ebc37;
    }

    .evaluate_content {
        display: flex;
        flex-direction: column;
    }

    .evaluate_content p {
        font-weight: 200;
        font-size: 16px;
        letter-spacing: 1px;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
    }

    .evaluate_content .btn-component, .single_task .btn-component, .single_funding .btn-component, .single_governance .btn-component {
        flex-basis: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
    .evaluate_content .btn-evaluate, .single_task .btn-participate, .single_funding .btn-financing, .single_governance .btn-opinion {
        color: white;
        background-color: #93C020;
        border-color: #93C020;
        font-size: 18px;
        font-weight: 700;
        border-radius: 2px;
        padding : 6px 25px;
    }
    .portfolio-modal .form-chooser{
        border: 1px solid #80808033;
        border-radius: 4px;
    }
    .portfolio-modal .form-chooser a{
        cursor: pointer;
        text-decoration: none;
    }
    .portfolio-modal .form-chooser:hover{
        box-shadow: 1px 0px 3px #2c232357;
    }


    /*TACHE*/

    .single_task h4 span, .single_funding h4 span, .single_governance h4 span {
        font-size: 24px;
        font-weight: 800;
        float: right;
        color: #3f4e58;
    }
    .task-row {
        padding: 15px;
    }
    /*checkbox*/
    /*.single_task .input_wrapper{
        width: 70px;
        height: 35px;
        position: relative;
        cursor: pointer;
        margin-bottom: 5px;
    }

    .single_task .input_wrapper input[type="checkbox"]{
        width: 70px;
        height: 35px;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #3f4e58;
        border-radius: 2px;
        position: relative;
        outline: 0;
        -webkit-transition: all .2s;
        transition: all .2s;
    }

    .single_task .input_wrapper input[type="checkbox"]:after{
        position: absolute;
        content: "";
        top: 3px;
        left: 3px;
        width: 28px;
        height: 28px;
        background: #dfeaec;
        z-index: 2;
        border-radius: 2px;
        -webkit-transition: all .35s;
        transition: all .35s;
    }

    .single_task .input_wrapper svg{
        position: absolute;
        top: 50%;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        fill: #fff;
        -webkit-transition: all .35s;
        transition: all .35s;
        z-index: 1;
    }

    .single_task .input_wrapper .is_checked{
        width: 18px;
        left: 15%;
        -webkit-transform: translateX(190%) translateY(-30%) scale(0);
        transform: translateX(190%) translateY(-30%) scale(0);
    }

    .single_task .input_wrapper .is_unchecked{
        width: 15px;
        right: 15%;
        -webkit-transform: translateX(0) translateY(-30%) scale(1);
        transform: translateX(0) translateY(-30%) scale(1);
    }

    !* Checked State *!
    .single_task .input_wrapper input[type="checkbox"]:checked{
        background: #93C020;
    }

    .single_task .input_wrapper input[type="checkbox"]:checked:after{
        left: calc(100% - 37px);
    }

    .single_task .input_wrapper input[type="checkbox"]:checked + .is_checked{
        -webkit-transform: translateX(0) translateY(-30%) scale(1);
        transform: translateX(0) translateY(-30%) scale(1);
    }

    .single_task .input_wrapper input[type="checkbox"]:checked ~ .is_unchecked{
        -webkit-transform: translateX(-190%) translateY(-30%) scale(0);
        transform: translateX(-190%) translateY(-30%) scale(0);
    }*/

    /* New style checkbox */

    /*Default*/
    .single_task .input_wrapper{padding-left:20px}
    .single_task .input_wrapper label{display:inline-block;position:relative;padding-left:5px;font-weight:400;}
    .single_task .input_wrapper label::after,.single_task .input_wrapper label::before{display:inline-block;position:absolute;left:0;margin-left:-20px}
    .single_task .input_wrapper label::before{content:"";width:17px;height:17px;border:1px solid #3f4e58;border-radius:3px;background-color:#fff;-webkit-transition:border .15s ease-in-out,color .15s ease-in-out;-o-transition:border .15s ease-in-out,color .15s ease-in-out;transition:border .15s ease-in-out,color .15s ease-in-out}
    .single_task .input_wrapper label::after{width:16px;height:16px;top:0;padding-left:3px;padding-top:1px;font-size:11px;color:#555}
    .single_task .input_wrapper input[type=checkbox]{opacity:0}
    .single_task .input_wrapper input[type=checkbox]:focus+label::before{outline:none;}
    .single_task .input_wrapper input[type=checkbox]:checked+label::after{font-family:FontAwesome;content:"\f00c"}

    /* Primary */
    .single_task .input_wrapper input[type=checkbox]:checked+label::before{background-color:#7da53d;border-color:#7da53d}
    .single_task .input_wrapper input[type=checkbox]:checked+label::after{color:#fff}


    .single_task .input_wrapper label {font-size: 25px;height: 35px;}
    .single_task .input_wrapper label::before {width: 30px;height: 30px;}
    .single_task .input_wrapper label::after, .single_task .input_wrapper label::before{margin-left:-30px}
    .single_task .input_wrapper label::after {width: 30px;height: 30px;top: 0;padding-left: 4px;padding-top: 0px;font-size: 22px;}
    .xl {margin-top:50px;}
    .xl legend {font-size:25px;}

    /* TABLE */
    .single_task .align-items-center {
        align-items: center !important;
        text-align: center;
    }
    .single_task .table {
        width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
    }

    .single_task .table th,
    .single_task .table td {
        padding: 1rem;
        vertical-align: top;
        border-top: 1px solid #e9ecef;
    }

    .single_task .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #e9ecef;
    }

    .single_task .table tbody + tbody {
        border-top: 2px solid #e9ecef;
    }

    .single_task .table .table {
        background-color: #f8f9fe;
    }
    .single_task .table-responsive {
        display: block;
        overflow-x: auto;
        width: 100%;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .single_task .table thead th {
        font-size: .65rem;
        padding-top: .75rem;
        padding-bottom: .75rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-bottom: 1px solid #e9ecef;
    }

    .single_task .table th {
        font-weight: 600;
    }
    .single_task .table td,
    .single_task .table th {
        font-size: .8125rem;
        white-space: nowrap;
    }

    .single_task .table.align-items-center td,
    .single_task .table.align-items-center th {
        vertical-align: middle;
    }

    .single_task .table .thead-dark th {
        color: #4d7bca;
        background-color: #1c345d;
    }

    .single_task .table .thead-light th {
        color: #8898aa;
        background-color: #f6f9fc;
    }

    .single_task .table-flush td,
    .single_task .table-flush th {
        border-right: 0;
        border-left: 0;
    }

    .single_task .table-flush tbody tr:first-child td,
    .single_task .table-flush tbody tr:first-child th {
        border-top: 0;
    }

    .single_task .table-flush tbody tr:last-child td,
    .single_task .table-flush tbody tr:last-child th {
        border-bottom: 0;
    }

    .single_task .text-simple, .single_funding .text-simple, .single_governance .text-simple {
        font-size: 16px;
        color: #3f4e58;
        line-height: 36px;
    }
    .single_task .price, .single_governance .price {
        padding: 10px;
        color: #93C020!important;
        background-color: #ffffff;
        border-radius: 4px;
    }
    .single_task .mb-0 {
        margin-bottom: 0 !important;
    }
    .single_task .media-body, .single_funding  .media-body{
        flex: 1 1;
        width: auto;
    }
    .single_task .media, .single_funding  .media {
        display: flex;
    }
    .single_funding  .media {
        padding-top: 15px;
    }
    .single_task .line-dark, .single_funding .line-dark, .single_governance .line-dark {
        background-color: #eeeeee;
    }
    .single_task .line-light, .single_funding .line-light, .single_governance .line-light{
        background-color: #faf8f8
    }

    .avatar {
        font-size: 1rem;
        display: inline-flex;
        width: 48px;
        height: 48px;
        color: #fff;
        border-radius: 50%;
        background-color: #adb5bd;
        align-items: center;
        justify-content: center;
    }

    .avatar img {
        width: 100%;
        border-radius: 50%;
    }

    .avatar-sm {
        font-size: .875rem;
        width: 36px;
        height: 36px;
    }

    .avatar-group .avatar {
        position: relative;
        z-index: 2;
        border: 1px solid #93C020;
    }

    .avatar-group .avatar:hover {
        z-index: 3;
    }

    .avatar-group .avatar + .avatar {
        margin-left: -1px;
    }
    .justify-center {
        justify-content: center;
    }

    /*FINANCEMENT*/

    .single_funding h4 span {
        font-size: 24px;
        font-weight: 800;
        float: right;
        color: #3f4e58;
    }
    .single_funding .valueAbout{
        border-left: 1px solid #dbdbdb;
    }


    .single_funding .contentInformation{
        border-bottom: 1px solid #dbdbdb;
    }

    .single_funding .labelAbout span{
        width: 20px;
        padding-right: 5px;
        text-align: -moz-center;
        text-align: center;
        text-align: -webkit-center;
        float: left;
    }
    .single_funding .labelAbout span i{
        font-size: 14px;
    }

    .single_funding .md-editor > textarea {
        padding: 10px;
    }

    .single_funding .descriptiontextarea label{
        margin-left:10px;
    }

    .single_funding .progress-bar-success {
        background-color: #93C020;
    }

    .single_funding .progress-bar-info {
        background-color: #fff;
    }

    .single_funding .widget {
        width: 100%;
        float: left;
        margin: 0px;
        list-style: none;
        text-decoration: none;
        -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 1px 1px 0px rgb(0 0 0);
        box-shadow: 0px 1px 1px 0px rgb(0 0 0);
        color: #FFF;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        padding: 10px 10px;
        /* margin-bottom: 20px; */
        /* min-height: 120px; */
        position: relative;
    }
    /*.single_funding .widget.widget-black {
      background: #ffffff;
     }*/
    .single_funding .widget .widget-title,
    .single_funding .widget .widget-subtitle,
    .single_funding .widget .widget-int,
    .single_funding .widget .widget-big-int {
        width: 100%;
        float: left;
        text-align: center;
    }
    .single_funding .text-success1{color:green;}
    .single_funding .widget .widget-title {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
        line-height: 20px;
        text-transform: none;
        margin-top: 0px!important;
    }
    .widget-title {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
        line-height: 20px;
        text-transform: none;
        margin-top: 0px!important;
    }
    .single_funding .labelFunding, .single_governance .labelGovernance {
        font-size: 16px;
    }

    /*GOUVERNANCE STYLE*/
    .single_governance .progress {
        width: 60px;
        height: 60px;
        line-height: 150px;
        background: none;
        margin: 0 auto;
        box-shadow: none;
        position: relative;
    }

    .single_governance .progress:after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 7px solid #ffffff;
        position: absolute;
        top: 0;
        left: 0;
    }

    .single_governance .progress > span {
        width: 50%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    .single_governance .progress .progress-left {
        left: 0;
    }

    .single_governance .progress .progress-bar {
        width: 100%;
        height: 100%;
        background: none;
        border-width: 7px;
        border-style: solid;
        position: absolute;
        top: 0;
        border-color: #93C020;
    }

    .single_governance .progress .progress-left .progress-bar {
        left: 100%;
        border-top-right-radius: 75px;
        border-bottom-right-radius: 75px;
        border-left: 0;
        -webkit-transform-origin: center left;
        transform-origin: center left;
    }

    .single_governance .progress .progress-right {
        right: 0;
    }

    .single_governance .progress .progress-right .progress-bar {
        left: -100%;
        border-top-left-radius: 75px;
        border-bottom-left-radius: 75px;
        border-right: 0;
        -webkit-transform-origin: center right;
        transform-origin: center right;
    }

    .single_governance .progress .progress-value {
        display: flex;
        border-radius: 50%;
        font-size: 36px;
        text-align: center;
        line-height: 20px;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-weight: 300;
    }

    .single_governance .progress .progress-value div {
        font-size: 15px;
        margin-top: 10px;
    }

    .single_governance .progress .progress-value span {
        font-size: 15px;
        text-transform: uppercase;
    }

    @media (max-width: 767px) {
        .evaluate_content h4 {
            font-size: 20px;
        }
        .single_evaluate img {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 50%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 50%);
            min-height: auto;
        }
        .evaluate_content p {
            font-weight: 200;
            font-size: 14px;
        }
        .evaluate_content .btn-evaluate, .single_task .btn-participate, .single_funding .btn-financing, .single_governance .btn-opinion {
            font-size: 16px;
            padding : 6px 12px;
        }
        .evaluate_content .btn-component, .single_task .btn-component, .single_funding .btn-component, .single_governance .btn-component {
            justify-content: center;
        }
    }

    @media (min-width: 992px) {
        .proposition_list .contain-img-left {
            padding: 15px;
        }
    }




    /*Liste project*/

    .product_list {
        position: relative;
        margin-bottom: 40px;
        transition: .3s;
        box-shadow: 0 2px 5px 0 rgb(63 78 88), 0 2px 10px 0 rgb(63 78 88);
        border-radius: 3px;
    }

    .product_list img {
        width: 100%;
        /*position: absolute;*/
        min-height: 420px;
        transition: .3s;
        border: 1px solid #ddd;
        border-radius: 5px;
        object-fit: cover;
        object-position: center;
    }



    .product_content h4 {
        font-size: 22px;
        font-weight: 700;
        border-bottom: 1px dashed #3f4e58;
        line-height: 2;
        text-transform: none;
        color: #3f4e58;
    }

    .product_content h4 span {
        font-size: 20px;
        font-weight: 800;
        float: right;
        font-style: italic;
        color: #9ebc37;
    }

    .product_content {
        display: flex;
        flex-direction: column;
    }

    .product_content p {
        font-weight: 200;
        font-size: 16px;
        letter-spacing: 1px;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
    }

    .product_content .btn-component {
        flex-basis: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
    .product_content .btn-evaluate, .proposition_list .btn-evaluate {
        color: white;
        background-color: #93C020;
        border-color: #93C020;
        font-size: 18px;
        font-weight: 700;
        border-radius: 2px;
        padding : 6px 25px;
    }

    .product_list .progress, .proposition_list .prop-compact-progression .progress {
        width: 55px;
        height: 55px;
        line-height: 150px;
        background: none;
        margin: 0 auto;
        box-shadow: none;
        position: relative;
    }

    .product_list .progress:after, .proposition_list .prop-compact-progression .progress:after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 7px solid #3f4e58;
        position: absolute;
        top: 0;
        left: 0;
    }

    .product_list .progress > span, .proposition_list .prop-compact-progression .progress > span {
        width: 50%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    .product_list .progress .progress-left, .proposition_list .prop-compact-progression .progress .progress-left {
        left: 0;
    }

    .product_list .progress .progress-bar, .proposition_list .prop-compact-progression .progress .progress-bar {
        width: 100%;
        height: 100%;
        background: none;
        border-width: 7px;
        border-style: solid;
        position: absolute;
        top: 0;
        border-color: #93C020;
    }

    .product_list .progress .progress-left .progress-bar, .proposition_list .prop-compact-progression .progress .progress-left .progress-bar {
        left: 100%;
        border-top-right-radius: 75px;
        border-bottom-right-radius: 75px;
        border-left: 0;
        -webkit-transform-origin: center left;
        transform-origin: center left;
    }

    .product_list .progress .progress-right, .proposition_list .prop-compact-progression .progress .progress-right  {
        right: 0;
    }

    .product_list .progress .progress-right .progress-bar, .proposition_list .prop-compact-progression .progress .progress-right .progress-bar {
        left: -100%;
        border-top-left-radius: 75px;
        border-bottom-left-radius: 75px;
        border-right: 0;
        -webkit-transform-origin: center right;
        transform-origin: center right;
    }

    .product_list .progress .progress-value, .proposition_list .prop-compact-progression .progress .progress-value {
        display: flex;
        border-radius: 50%;
        font-size: 36px;
        text-align: center;
        line-height: 16px;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-weight: 300;
    }

    .product_list .progress .progress-value div, .proposition_list .prop-compact-progression .progress .progress-value div {
        font-size: 14px;
        margin-top: 10px;
    }

    .product_list .progress .progress-value span, .proposition_list .prop-compact-progression .progress .progress-value span {
        font-size: 15px;
        text-transform: uppercase;
    }

    /*PROPOSITION LIST*/
    @media (max-width: 979px){
        .proposition_list figure img{
            width: 100% !important;
            margin: 0 auto;
            max-height: 189px;
            object-fit: contain;
        }
    }
    .proposition_list figure img{
        width: 100%;
        height: 320px;
        object-fit: cover;
    }
    .proposition_list {
        position: relative;
        margin-bottom: 40px;
        transition: .3s;
        /*box-shadow: 0 2px 5px 0 rgb(63 78 88), 0 2px 10px 0 rgb(63 78 88);*/
        border-radius: 3px;
    }
    .proposition_content h4 {
        font-size: 22px;
        font-weight: 700;
        line-height: 2;
        text-transform: none;
        color: #3f4e58;
    }
    .proposition_content h4 span {
        font-size: 20px;
        font-weight: 800;
        float: right;
        font-style: italic;
        color: #9ebc37;
    }

    .proposition_content h4 span {
        font-size: 20px;
        font-weight: 800;
        float: right;
        font-style: italic;
        color: #9ebc37;
    }

    .proposition_content {
        display: flex;
        flex-direction: column;
    }
    .title-proposition{
        line-height: 4;
        text-align: center;
        color: #3f4e58;
    }
    .proposition_list .btn-component {
        margin-top: 25px;
        flex-basis: 100%;
        display: block;
        flex-direction: row;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
    }
    @media (max-width: 991px) {
        .proposition_content h4 span {
            width: 100%;
            text-align: center;
            display: block;
        }
        .proposition_content h4 {
            text-align: center;
        }
    }
    @media (max-width: 767px) {
        .proposition_content h4 span {
            font-size: 20px;
            font-weight: 800;
            float: none;
            font-style: italic;
            color: #9ebc37;

        }
        .proposition_list .btn-component {
            margin-top: 0px;
            flex-basis: 100%;
            display: block;
            flex-direction: row;
            align-items: center;
            text-align: center;
            margin-bottom: 10px;
        }

    }
    
    .blogicon
    {
        font-size: 217px;
        color: #5CB85C;
    }

    .ratetext
    {
        font-size: 37px;
        text-decoration: underline;
        padding-bottom: 10px;
    }

    .votes
    {
        font-size: 47px;
        padding-right: 20px;
        color: #197BB5;
    }

    a.list-group-item
    {
        height: auto;
        min-height: 250px;
    }
    @media (max-width: 991px) {
        a.list-group-item{
            height: auto;
            min-height: 400px;
            padding: 10px !important;
        }
    }
    @media (max-width: 567px) {
        a.list-group-item{
            height: auto;
            min-height: 600px;
            padding: 10px !important;
        }
    }

        a.list-group-item:hover, a.list-group-item:focus
        {
            border-left: 10px solid #5CB85C;
            border-right: 10px solid #5CB85C;
        }

    a.list-group-item
    {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }
    .proposition_list .row.list-group-item{
        padding: 10px !important;
    }
    .proposition_list .list-group-item .btn-group-container{
        position: relative;
        /*display: none;*/
        height: 55px;
    }
    .proposition_list .list-group-item:hover .btn-group-container{
        position: relative;
        display: flex;
    }
    .proposition_list .btn-group-container{
        position: relative;
        display: flex;
        /*justify-content: flex-end;*/
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .proposition_list .minimalist-name{
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    /*FIX DESIGN BY NICO*/
    .proposition_list .list-group-item .btn-group-container .btn-group .btn-sm {
        position: relative;
        margin: 0px;
        padding: 4px 6px;
        color: #fff;
        text-align: center;
        border: 0;
        /* border-bottom: 2px solid #3f4e58; */
        cursor: pointer;
        -webkit-box-shadow: inset 0 -3px #fff;
        box-shadow: inset 0 -2px #fff;
        margin : 0 1px;
    }
    
    .proposition_list .col-btn-group-vertical .btn-group-vertical .btn-sm {
        position: relative;
        margin: 0px;
        padding: 6px 6px;
        color: #fff;
        text-align: center;
        border: 0;
        cursor: pointer;
        margin: 0 1px;
        border-radius: 4px;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .aap-Showmorebtn {
        position: relative;
        margin: 0px;
        padding: 8px 12px;
        color: #fff;
        border: 1px solid #7da53d;
        text-align: center;
        background: #7da53d;
        border: 0;
        font-size: 14px;
        border-radius: 4px;
        margin-bottom: 4px;
    }
    .aap-Showmorebtn:hover, .aap-Showmorebtn:active, .aap-Showmorebtn:focus {
        color: #7da53d;
        border: 1px solid #7da53d;
        text-align: center;
        background: #fff;
    }
    .proposition_list .list-group-item .btn-group-container .btn-group .btn-primary, 
    .proposition_list .col-btn-group-vertical .btn-group-vertical .btn-primary,
    .single_evaluate .col-btn-group-vertical .btn-group-vertical .btn-primary
    {
        background: #7da53d;
    }
    .single_evaluate .col-btn-group-vertical .btn-group-vertical .btn{
        border: 0px !important;
    }
    .single_evaluate .col-btn-group-vertical .btn-group-vertical{
        position: absolute !important;
        display: inline-block;
        vertical-align: middle;
        top: -20px;
        left: -28px;
        z-index: 1;
    }

    .proposition_list .list-group-item .btn-group-container .btn-group .btn-primary.disable,
    .proposition_list .col-btn-group-vertical .btn-group-vertical .btn-primary.disable {
        background: #b4c694;
    }

    .proposition_list .list-group-item .btn-group-container .btn-group .btn-primary:hover,
    .proposition_list .list-group-item .btn-group-container .btn-group .btn-primary:active,
    .proposition_list .col-btn-group-vertical .btn-group-vertical .btn-primary:active,
    .proposition_list .col-btn-group-vertical .btn-group-vertical .btn-primary:hover,
    .single_evaluate .col-btn-group-vertical .btn-group-vertical .btn:hover,
    .single_evaluate .col-btn-group-vertical .btn-group-vertical .btn:active {
        background: #3f4e58;
        border-bottom: 2px solid #7da53d;
        color: #fff;
    }

    .proposition_list .row.list-group-item {
        margin-bottom: 20px;
        line-height: 1.42857143;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
        transition: box-shadow .25s;
        /*box-shadow: 0 2px 5px 0 rgb(63 78 88), 0 2px 10px 0 rgb(63 78 88);*/
    }
    .proposition_list .panel-default {
        border-color: #ece6e673;
    }

    .proposition_list .like-project:hover,.proposition_list .dislike-project:hover{
        text-decoration: none;
    }
    #openModal .modal-content .text-center {
        float: inline-end !important;
        position: relative !important;
    }
    /* MODAL OVERLAY BY ANATOLE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    .aapmodal_modal-overlay {
        display:none;
        background: rgba(0, 0, 0, 0.4);
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }
    .aapmodal_center {
        display: grid;
        place-items: center;
    }
    .aapmodal-container {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        background-color: white;
    }

    .aapmodal-container .aapmodal-body {
        margin: 20px;
    }

    .aapmodal-container .aapmodal-body strong {
        font-size: 25px;
        position: relative;
        top: -30px;
    }

    .aapmodal-container .aapmodal-body aapinputcontent  {
        position: relative;
        top: -10px;
        font-size: 13px;
        background-color: whitesmoke;
    }

    .modal-buttons {
        position: absolute;
        top: 120px;
        right: 10px;
    }
    .aapmodal-container .aapmodal_close-btn{
        cursor: pointer;
    }
    .modal-buttons button {
        border:none;
        padding: 10px 15px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 10px;
        width: 145px;
        height: 45px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
        margin: 0 10px;
        color: rgba(0, 0, 0, 0.5);
    }

    .aapmodal_modal-overlay.aapmodal_open-modal{
        display: block;
    }

/* Timeline CSS*******************************************************/
*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font: normal 16px/1.5 "Open Sans", sans-serif;
/* background: #1B9AAA;
color: #fff;
overflow-x: hidden; */
padding-bottom: 50px;
}  

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.aap-timeline ul {
 background: #fff; 
padding: 50px 0;
}

.aap-timeline ul li {
list-style-type: none;
position: relative;
width: 6px;
margin: 0 auto;
padding-top: 50px;
background: #7da53d;
}

.aap-timeline ul li::after {
content: '';
position: absolute;
left: 50%;
bottom: 0;
transform: translateX(-50%);
width: 30px;
height: 30px;
border-radius: 50%;
background: inherit;
}

.aap-timeline ul li div {
position: relative;
bottom: 0;
width: 400px;
padding: 15px;
background: #7da53d;
}

.aap-timeline ul li div::before {
content: '';
position: absolute;
bottom: 7px;
width: 0;
height: 0;
border-style: solid;
}

.aap-timeline ul li:nth-child(odd) div {
left: 45px;
}

.aap-timeline ul li:nth-child(odd) div::before {
left: -15px;
border-width: 8px 16px 8px 0;
border-color: transparent #7da53d transparent transparent;
}

.aap-timeline ul li:nth-child(even) div {
left: -439px;
}

.aap-timeline ul li:nth-child(even) div::before {
right: -15px;
border-width: 8px 0 8px 16px;
border-color: transparent transparent transparent #7da53d;
}

time {
display: block;
font-size: 1.2rem;
font-weight: bold;
margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.aap-timeline ul li::after {
transition: background .5s ease-in-out;
}

.aap-timeline ul li.in-view::after {
background: #7da53d;
}

.aap-timeline ul li div {
visibility: hidden;
opacity: 0;
transition: all .5s ease-in-out;
}

.aap-timeline ul li:nth-child(odd) div {
transform: translate3d(200px, 0, 0);
}

.aap-timeline ul li:nth-child(even) div {
transform: translate3d(-200px, 0, 0);
}

.aap-timeline ul li.in-view div {
transform: none;
visibility: visible;
opacity: 1;
border-radius: 5px;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
.aap-timeline ul li div {
    width: 250px;
}
.aap-timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
}
}

@media screen and (max-width: 600px) {
.aap-timeline ul li {
    margin-left: 20px;
}
.aap-timeline ul li div {
    width: calc(100vw - 91px);
}
.aap-timeline ul li:nth-child(even) div {
    left: 45px;
}
.aap-timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #E86361 transparent transparent;
}
}


    @media (max-width: 800px){
        .cfm.container {
            position: relative;
            /*float: left;*/
        }
    }

/*--------------FILTERS-----------*/
.page-header{
    display: none;
}
.list-aap-container #filterContainerL .dropdown .btn-menu,
.list-aap-container #filterContainer .dropdown .btn-menu,
.cfm .searchObjCSS .dropdown .btn-menu,
.cfm .searchObjCSS .filters-btn {
    padding: 3px 11px;
    font-size: 11px;
}
.list-aap-container .searchBar-filters .search-bar{
    height: 29px;
    font-size: 11px;
}
.list-aap-container .searchBar-filters .main-search-bar-addon{
    height: 29px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px){
.list-aap-container .searchBar-filters.pull-left{
    width: 100% !important;
}
}
.list-aap-container .searchBarInMenu.pull-right {
    border: 1px solid #dadada;
    height: 40px;
    border-left: 0px;
    cursor: pointer;
}
@media (min-width: 768px) {
    .proposition_list .end-project-date {
        float: right;
    }
    .proposition_list a:hover, .proposition_list a:focus {
        text-decoration: none;
    }

}
.single_evaluate .moreLinkaap,.proposition_list .moreLinkaap {
        padding: 0px;
        border-color: transparent;
        color: #7da53d;
    }
    .proposition_list .moreLinkaap.less {
        margin-top: -20px;
    }
    .proposition_list .template-tag-panel .btn-tag {
        font-weight: 300;
        padding: 2px 2px 4px;
        background: transparent;
        font-weight: 600;
        color: #2C3E50;
    }
    .proposition_list a.template-tag-panel:hover .btn-tag, .proposition_list a.template-tag-panel:focus .btn-tag, .proposition_list a.template-tag-panel:active .btn-tag {
        color: #93C020;
    }
    .proposition_list ul.tag-list {
        margin-top: -15px;
    }
    .proposition_list .urgent-state,.project-detail .urgent-state {
        background-color: transparent !important;
        border: 1px solid #e87350 !important;
        border-radius: 0px !important;
        cursor: default !important;
        float: left;
        margin-left: 5px;
        margin-top: 5px;
        padding: 5px 16px 5px 16px;
        font-size: 12px !important;
        font-weight: bold;
        color: #e87350 !important;
    }
    .proposition_list .select2-container-multi .select2-search-choice-close {
        left: 4px;
    }

    .proposition_list .panel-body.evaluator-panel {
        padding: 10px;
    }
    

    /***************gova***************/
    .proposition_list .morecontent {
        display: none;
    }
    .proposition_list .morecontent * {
        font-size: 14px !important;
    }
    
    .proposition_list .statusicon {
        color: #7da53d;
    }
    
    .proposition_list .statusicondanger{
        color: #b94a48;
    }
    
    .proposition_list .unseen-proposition {
        box-shadow: inset 0 0 3px 3px #dcdc9a !important;
    }
    
    
    .proposition_list .list-group-item.unseen-proposition.bdgdiv::before{
        position: absolute;
        content: attr(data-label);
        top: 11px;
        left: -14px;
        padding: 0.5rem;
        width: 50px;
        background: #7da53d;
        color: white;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
        z-index: 10;
    }
@media (min-width: 768px){
    .modalValidater .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
        .modalValidater.in .modal-dialog {
        top: 110px;
    }
}
.modalValidater.modal {
    background-color: rgba(44, 62, 80, 0.8);
    padding-top: 150px;
}

/*List*/

@media (max-width: 767px) {
    #filterContainerL .visible-xs,#filterContainer .visible-xs {
        display: block !important;
    }
    .block {
        display: block !important;
        width: 100%;
        height: 1px !important;
    }
}

.modalValidater .title {
    font-size: 25px;
    font-weight: bold;
}
.modalValidater ul.c-controls {
    list-style: none;
    margin: 0px;
    min-height: 44px;
}

.modalValidater ul.c-controls li {
    margin-top: 8px;
    float: left;
}


.modalValidater .name {
    font-size: 15px;
    font-weight: 700;
}
.modalValidater .img-contain img {
    width: 50px;
    height: 50px;
    min-height: 50px !important;
    object-fit: cover;
}

.modalValidater .c-info {
    padding: 5px 10px;
    font-size: 1.25em;
}
.modalValidater a.list-group-item {
    border: 0px !important;
}
.modalValidater #contact-list {
    max-height: 350px;
    overflow-y: auto;
}
.proposition_list  #wizardLinks{
    z-index: 0;
}
.proposition_list .compact-container{
    width: 100%;
    height: 119px;
    position: relative;
    border: 1px solid #80808000;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px 25px;
}

.view-mode{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    position: relative;
    float:right
}
.view-mode a:hover{
    color: #7da53d
}

/*anatole*******/
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4 !important;
    border: 1px solid #aaa !important;
    border-radius: 4px !important;
    cursor: default !important;
    float: left;
    color: black !important;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
}

.st-enable-btn {
    color: #fff;
    border: 1px solid #7da53d;
    text-align: center;
    font-size: 14px;
    margin: 0px;
    margin-left: 3px;
    padding: 5px 12px;
    background: #7da53d;
}

.st-enable-btn:hover {
    color: #7da53d;
    border: 1px solid #7da53d;
    background: #fff;
}
.questionList{list-style-type: none;}
[data-countvalue]{
    float: right;
    background: #7da53d !important;
}
.faceMocion{
    z-index: 1000000 !important;
}
/***************************MAP*************************/
#mapOfResultsAnswL .leaflet-container{
    /*position: fixed !important;
    width: 100%;
    height: 50% !important;
    top: 73% !important;
    transform: translateY(-50%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);*/
    /* position: relative !important;
    width: 100%;
    height: 100% !important;
    top: 73% !important;
    transform: translateY(-50%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%) */
}
/* @media (max-width: 992px) {
    #mapOfResultsAnswL .leaflet-container{
        position: relative !important;
        width: 100%;
        height: 100% !important;
        top: 73% !important;
        transform: translateY(-50%);
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    }
} */

#mapOfResultsAnswL{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
#mapOfResultsAnswL .popup-section{display: none;}
.list-item-progress.prop-compact-progression{
    position: absolute;
    top:2px;
    right:5px;
}
.project-bulb{
    position: absolute;
    top: 13px;
}
.social-share-button-preview,
#central-container .btn-show-map,
#central-container #listRoles
{
    display: none !important;
}
.footerSearchContainer .pageTable >ul{
    float: right;
}

@media screen and (max-width: 767px) {
	.proposition_list .col-btn-group-vertical {
		position: relative;
		top: initial;
		right: initial;
		transform: none;
		float: left;
		width: 100%;
	}
	.proposition_list .col-btn-group-vertical .btn-group-vertical a,
	.proposition_list .col-btn-group-vertical .btn-group-vertical button,
	.proposition_list .col-btn-group-vertical .btn-group-vertical span
	{
		width: auto !important;
		display: inline !important;
	}
	.proposition_list .col-btn-group-vertical .btn-group-vertical {
		position: relative;
		display: block;
		vertical-align: middle;
		text-align: center;
	}
	.proposition_list .collapse-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
}