/*PROPOSITIONS ***********************************************************/

.morecontent {
    display: none;
}
.markdown{
    white-space: initial !important;
}
.aapnav {
    font-family: 'Lexend Exa', sans-serif;
    position: relative;
    /*top: 15px;*/
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    border: 2px solid #EBECF1;
    /*border-radius: 30px;*/
    margin: 20px;
    /*animation: slide-in 1s ease-out;*/
}
.aapnav ul {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    margin: 0;
    padding: 0 30px;
    list-style-type: none;
}
.aapnav ul li:not(:last-child) {
    margin-right: 40px;
}
.aapnav ul li {
    border: 2px solid transparent;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 5px;
    transition: background 0.2s;
}
.aapnav ul li a {
    color: #3d4c58;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s;
    font-size: 14px;
    cursor: pointer;
}
.aapnav ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: block;
    margin: 12px -12px;
    padding: 0;
    background: #FFA91B;
    border: 2px solid #F7C833;
    border-right: 2px solid #F89329;
    border-bottom: 2px solid #F89329;
    border-radius: 5px;
    transition: opacity 0.2s, visibility 0.2s;
}
.aapnav ul li ul li {
    margin: -2px 0 0 -2px;
    width: calc(100% - 20px);
    line-height: 1.7;
}
.aapnav ul li ul li a {
    color: #2375D8;
}
.aapnav ul li:hover, .aapnav ul li.active {

    border-bottom: 2px solid #a5d952;
}
.aapnav ul li:hover a, .aapnav ul li.active a {
    color: #3d4c58;
    font-weight: bold;
}
.aapnav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    box-shadow: 0px 3px 5px 2px #EBECF1;
}

@media (max-width: 767px) {
    .aapnav {
        margin: 0px;
    }
    .aapnav ul li {
        padding: 5px;
        padding-right: 5px;
        padding-left: 5px;
        margin: 0px;
        width: 50%;
        margin: 0px;
        width: 49%;
        display: inline-block;
    }
    .aapnav ul li:not(:last-child)  {
        margin-right: 0px;
    }
    .aapnav ul {
        display: block;
        padding: 0 10px;
    }
}
.aapnav ul li:hover ul li a {
    color: #F9F8FD;
    font-size: 12px;
}
@keyframes slide-in {
    0% {
        top: -50px;
    }
    40% {
        top: 20px;
    }
    70% {
        top: 10px;
    }
    100% {
        top: 15px;
    }
}

.aapswitch {
    background-color: #a3a0a0 !important;
    border-color: #a3a0a0 !important;
/*        font-weight: bold;
    font-size: 15px;
    color: #fff;
    margin: 10px;*/
}

.aaapbtnchart {
    background-color: #7282c6 !important;
    border-color: #7282c6 !important;
}
.oceco-styled-table thead tr{
    background-color: #7da53d !important;
}
.tododialog h1, .validatedialog h1, .paydialog h1, .workerdialog h1, .financerdialog h1, .estimatedialog h1, .payfidialog h1,.todoinput {
    color: #7da53d !important;
}
.light-theme .current {
    background: #7da53d !important;
    color: #FFF;
    border-color: #7da53d !important;
    box-shadow: 0 1px 0 rgb(255 255 255), 0 0 2px rgb(0 0 0 / 30%) inset;
    cursor: default;
}
/*@media (max-width: 767px){*/
    .breadcrumb {
        padding: 10px;
        font-size: 15px !important;
        color: #fff !important;
        letter-spacing: 1px !important;
        border-radius: 8px !important;
        background: transparent;
    }
    .breadcrumb li {
        font-size: 12px !important;
    }
    ul .btn-breadcrumb{
        display: inline-block !important;
    }
    ul .btn-breadcrumb .fa-2x{
        font-size: 1.5em !important;
    }
    .breadcrumb li a {
        text-decoration: none !important;
        color: #aaa
    }

    .breadcrumb li.active a {
        text-decoration: none !important;
        color: #000
    }

    .breadcrumb>li+li:before {
        padding: 0 5px;
        color: #7da53d;
        content: '\f101';
        font-family: FontAwesome;
    }
/*}*/

.aapconfigdiv{
    background-color: #f5f5f5;
    padding: 10px;
￼   font-size: 15px;
    border-radius: 7px;
    margin-bottom: 15px;
}

/*.aap-breadrumbbtn {
    border: solid 2px #3f4e58;
    border-radius: 10px;
    font-weight: bold;
    background-color: #fff;
    color: #3f4e58;
}*/
.active-view,.aap-breadrumbbtn{
    top: -3px !important;
    position: relative !important;
    /* margin: 0px !important; */
    padding: 6px 6px 6px 6px !important;
    color: #fff !important;
    /* text-align: center !important; */
    /* text-shadow: 0 3px 2px rgb(0 0 0 / 30%); */
    background: #7da53d !important;
    border: 0 !important;
    /* border-bottom: 3px solid #3f4e58; */
    cursor: pointer !important;
    /* -webkit-box-shadow: inset 0 -3px #fff !important; */
    /* box-shadow: inset 0 -3px #fff !important; */
    /* font-size: 14px !important; */
    border-radius: 4px !important;
    /* margin-bottom: 4px !important;*/
}
.aap-breadrumbbtn:hover, .aap-breadrumbbtn:active {
    top: -3px !important;
    background: #3f4e58 !important;
    /* border-bottom: 3px solid #7da53d; */
    color: #fff !important;
    text-decoration: none;
}
.aap-breadrumbbtn-2 {
    background: #7da53d !important;
    color: #fff !important;
    text-decoration: none !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.aap-breadrumbbtn-2:hover, .aap-breadrumbbtn-2:active {
    background: #3f4e58 !important;
    color: #fff !important;
}
@media (min-width:768px) {
    .menu-aap-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#sticky.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
}

#btn-gotoco {
    /*height: 0px;
    width: 45px;*/
    position: fixed;
    right: 0;
    top: 60%;
    z-index: 1000;
    /*transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
    /*display: block;
    background: #0bcb9a;
    height: 45px;
    padding-top: 10px;
    width: 45px;
    text-align: center;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;*/
}

/* STYLE BY NICOSS */
/*@media (min-width: 768px){
    .breadcrumb {
        padding: 0px;
        background: #f5f5f5;
        list-style: none;
        overflow: hidden;
        margin-top: 20px;
    }
    .breadcrumb>li+li:before {
        padding: 0;
    }
    .breadcrumb li {
        float: left;
    }
    .breadcrumb li.active a {
        background: #7da53d ;
        color: #fff;
    }
    .breadcrumb li.completed a {
        background: hsla(153, 57%, 51%, 1);
    }
    .breadcrumb li.active a:after {
        border-left: 30px solid #7da53d ;
    }
    .breadcrumb li.completed a:after {
        border-left: 30px solid hsla(153, 57%, 51%, 1);
    }

    .breadcrumb li a {
        color: #3f4e58;
        text-decoration: none;
        padding: 10px 0 10px 45px;
        position: relative;
        display: block;
        float: left;
        font-size: 14px;
    }
    .breadcrumb li a:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;           !* Go big on the size, and let overflow hide *!
        border-bottom: 50px solid transparent;
        !*border-left: 30px solid hsla(0, 0%, 83%, 1);*!
        border-left: 30px solid #f5f5f5;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        left: 100%;
        z-index: 2;
    }
    .breadcrumb li a:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;           !* Go big on the size, and let overflow hide *!
        border-bottom: 50px solid transparent;
        border-left: 30px solid #3f4e58;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        margin-left: 1px;
        left: 100%;
        z-index: 1;
    }
    .breadcrumb li:first-child a {
        padding-left: 15px;
    }
    .breadcrumb li a:hover { background: #7da53d;color: #fff; }
    .breadcrumb li a:hover:after { border-left-color: #7da53d   !important; }


}*/
.container-filters-menu .dropdown .btn-menu, .container-filters-menu .filters-btn {
    border: 1px solid #7da53d!important;
}
.container-filters-menu .searchBar-filters .input-group-addon {
    background-color: #7da53d!important;
}
.container-filters-menu #input-sec-search .input-group-addon {
    color: #7da53d;
    border: 1px solid #7da53d;
    border-right-width: 0px;
}
.searchBar-filters .main-search-bar-addon, .searchBar-filters .main-search-bar {
    border: 1px solid #9fbd38!important;
}

@media (max-width: 767px){
    .showHide {
        color: #9fbd38;
    }
    .showHide:hover, .showHide:active, .showHide:focus{
        background-color: #9fbd38;
        color: #fff;
    }
    /* .container-filters-menu .searchBar-filters {
        display: none!important;
    } */
    .container-filters-menu .dropdown .dropdown-menu {
        border: 1px solid #9fbd38!important;
    }
    .searchBarInMenu #main-search-bar-addon{
        background-color: #9fbd38!important;
    }
    .container-filters-menu {
        border-top: 2px solid #9fbd38;
        min-height: 300px!important;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    }
}

/* animation btn css */
.btnPdfAnimation {
    transition: all .25s ease;
}

.pdfloading-animate {
    /*    position: absolute;
        width: 60px;
        height: 60px;*/
    z-index: 100;
    border-radius: 50%;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: all .25s ease;
    animation: pdfloading infinite .8s linear;
}
.pdfloading-animate:after {
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-left: 3px solid #e21a1a;
    animation: loading infinite .8s ease .05s;
    /*position: absolute;*/
}

.btnPdfAnimation.pdfloading {
    width: 60px;
}

.btnPdfAnimation.pdfloading .btnpdftext, .btnPdfAnimation.pdfloading i {
    display: none;
}

.btnPdfAnimation .btnpdftext, .btnPdfAnimation i {
    display: inline-block;
    padding-left: 3px;
}

.btnPdfAnimation.pdfloading .pdfloading-animate {
    opacity: 1;
    display: flex;
}

.btnPdfAnimation .pdfloading-animate {
    display: none;
}

.generatebtnstyle {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    letter-spacing: 1px;
}

.generatepdfbtnstyle.generatepdfbtn {
    color: #b94a48;
    border: solid 2px #b94a48;
}

.generatepdfbtnstyle.generateeditbtn {
    color: #bd8753;
    border: solid 2px #f3aa09;
}

.generatepdfbtnstyle.generatedelbtn {
    color: #b94a48;
    border: solid 2px #b94a48;
}

@keyframes pdfloading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.taskdone{
    color: #2db67e;
}

.tasktodo{
    color: #ecb22f;
}

.tododialog .modal-content, .validatedialog .modal-content, .paydialog .modal-content, .workerdialog .modal-content, .financerdialog .modal-content, .estimatedialog .modal-content, .payfidialog .modal-content{
    /*background-color: #f2f2f2;*/
    /*border-radius: 20px;*/
    /*background-color: #dae1e7;*/
    border-radius: 0px;
    border-width: 0px;
}

.financerdialog .fi-name {
    width: 45%;
    margin: 1em 1% 1em 3%;
}

.workerdialog .su-worker {
    width: 65%;
    margin: 1em 1% 1em 3%;
}

.workerdialog .su-btn {
    width: 25%;
    margin: 1em 1% 1em 3%;
}

.workerdialog .su-wtype {
    width: 95%;
    margin: 1em 1% 1em 3%;
}

.financerdialog .fi-financer {
    width: 95%;
    margin: 1em 1% 1em 3%;
}

.financerdialog .fi-mail {
    width: 45%;
    margin: 1em 1% 1em 3%;
}

.financerdialog .fi-fond, .financerdialog .fi-montant, .estimatedialog .e-price, .estimatedialog .e-days {
    width: 45%;
    margin: 1em 1% 1em 3%;
}

.label-esti {
    width: 45%;
    margin: 1em 1% 0em 3%;
}


/*.financerdialog .modal-content .mainc{
    height: 70px;
}*/

.validatedialog .modal-content .mainc{
    height: 70px;
}

.paydialog .modal-content .mainc{
    height: 115px;
}

.workerdialog .modal-content .mainc{
    min-height: 115px;
}

.validatedialog .todoinput, .paydialog .todoinput, {
    width: 90% !important;
}

#switchcom div{
    margin: 1em 3%;
}

#switchcom button{
    border-color: #ececec;
    border-width: 2px;
}

.switchcombtn.active {
    background-color: #ececec;
}

.tododialog h1, .validatedialog h1, .paydialog h1, .workerdialog h1 , .financerdialog h1, .estimatedialog h1, .payfidialog h1{
    color: #3d8d71;
    font-size: 2.5em;
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: center;
    text-transform: initial;
}

.tododialog #todos-list, .financerdialog #financer-list, .estimatedialog #estimate-list {
    list-style: none;
    overflow-y: scroll;
    max-height: 250px;
}

.tododialog #todos-list li, .financerdialog #financer-list li, .estimatedialog #estimate-list li {
    list-style: none;
    padding: 10px;
    border: 1px solid #e3dada;
    margin-top: 12px;
    border-radius: 5px;
    background: #fff;
    justify-content: space-between!important;
    display: flex!important;
}

.tododialog #todos-list .todo-content, .financerdialog #financer-list .todo-content {
    align-items: center!important;
    flex-direction: row!important;
    display: flex!important;
}

.todo-btn {
    align-items: center!important;
    flex-direction: row!important;
    display: flex!important;
}

.esti-btn {
    align-items: center!important;
    flex-direction: column!important;
    display: flex!important;
}

.esti-btn button {
    border-width: 0;
    background-color: #fff;
    border-radius: 3px;
}

.esti-btn button.estibtnedit {
    color: #5f9ea0;
}

.esti-btn button.estibtndelete {
    color: #866a6a;
}

.esti-btn span {
    width: -webkit-fill-available;
    border-bottom: 1px solid #cccccc;
}

.tododialog #todos-list .todo-content .td-title, .financerdialog #financer-list .todo-content .td-title, .estimatedialog #estimate-list .todo-content .td-title {
    margin-left: .5rem!important;
    border-left: solid 2px green;
    padding-left: 10px;
}

.tododialog #todos-list .todo-content .checkicon {
    color: green;
    font-size: 19px;
}

.tododialog #todos-list .todo-content .td-datetime, .financerdialog #financer-list .todo-content .td-datetime, .estimatedialog #estimate-list .todo-content .td-datetime {
    font-size: 15px;
    color: rgba(0,0,0,.5)!important;
    margin-top: .25rem!important;
    flex-direction: row!important;
    display: flex!important;
}

.tododialog .td-datetimelabel, .financerdialog .td-datetimelabel , .estimatedialog .td-datetimelabel{
    margin-left: .5rem!important;
}

.tododialog .td-datetimelabel2, .financerdialog .td-datetimelabel2, .estimatedialog .td-datetimelabel2 {
    margin-left: 1rem!important;
}

.actionbtntodoedit {
    color: #5f9ea0;
    background-color: #fff;
    border-radius: 3px;
    border: solid 1px #5f9ea0;
}

.actionbtntododelete {
    color: #866a6a;
    background-color: #fff;
    border-radius: 3px;
    border: solid 1px #866a6a;
}

.containert.newform-todo {
    width: 90%;
    margin: 1.5em auto;
    border-radius: 20px;
    padding-bottom: 2em;
    transition: .5s;
    -webkit-box-shadow: 0px 9px 40px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 9px 40px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 9px 40px 0px rgba(0,0,0,0.35);
}

#containerv.new-form-validate-work {
    width: 90%;
    margin: 1.5em auto;
    border-radius: 20px;
    padding-bottom: 2em;
    transition: .5s;
    -webkit-box-shadow: 0px 9px 40px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 9px 40px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 9px 40px 0px rgba(0,0,0,0.35);
}


.newform-todo h1 {
    font-size: 2.5em;
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: center;
}

.todoinput{
    /*width: 90%;
    !*background-color: #f2f2f2;*!
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    color: #3d8d71;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    !*border-radius: 20px;*!
    border-radius: 0px;
    background-color: #fafafa;
    padding: .5em;
    outline: none;
    border: 2px solid #ececec;
    transition: .7s;*/
}

.todoinput:focus {
    /* color: #3d8d71;
     background-color: #fafafa;
     border: 2px solid #3d8d71;*/
}
.todoinput::-webkit-input-placeholder {
    /*color: #ececec;*/
}
.todoinput::-moz-placeholder {
    /*color: #ececec;*/
}
.todoinput:-moz-placeholder {
    /*color: #ececec;*/
}
.todoinput:-ms-input-placeholder {
    /*color: #ececec;*/
}

#add-button, #modif-button {
    width: 100px;
    background-color: #3d8d71;
    display: block;
    margin: 1em auto;
    /*color:  #f2f2f2;*/
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    font-weight: 900;
    outline: none;
    border-radius: 18px;
    padding: .5em;
    border: 1px solid #3d8d71;
    cursor: pointer;
    transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
}

.tododialog #add-tododesc .duedate, .financerdialog #add-tododesc .duedate {
    line-height: initial !important;
}

#add-button:hover, #modif-button:hover {
    cursor: pointer;
    background-color: #ff5729;
    border: 1px solid #ff5729;
}

#single-line {
    margin-top: 2em;
    background-color: #ececec;
    height: 1px;
    width: 100%;
}

.newform-todo ul li {
    padding: .75em .5em .75em .5em;
    position: relative;
    transition: .5s;
    list-style-type: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid #ececec;
}

.newform-todo ul li:hover {
    background-color: #3d8d71;
    color: #00585e;
}
.newform-todo ul li .text-wrap {
    display: block;
    margin-right: 3.5em;
    margin-left: 1.75em;
}
.newform-todo .not-done {
    position: absolute;
    left: 0;
    top: 0;
    padding: .75em .5em;
}
.newform-todo .not-done:hover {
    color: #fafafa;
    cursor: pointer;
}
.newform-todo .done {
    text-decoration: line-through;
    color: #ececec;
}
.newform-todo .fa-check-circle {
    color: #ececec;
}
.newform-todo .delete {
    position: absolute;
    right: 0;
    top: 0;
    padding: .75em .5em;
}
.newform-todo .delete:hover {
    color: #fafafa;
    cursor: pointer;
}
.newform-todo .edit {
    position: absolute;
    right: 1.8em;
    top: 0;
    padding: .75em .5em;
}
.newform-todo .edit:hover {
    color: #fafafa;
    cursor: pointer;
}
.newform-todo .in-edit {
    color: #ff5729;
}
.newform-todo .in-edit:hover {
    color: #ff5729;
}
.newform-todo .editable {
    color: #ff5729;
    background-color: #fafafa;
}

@media screen and (max-width: 800px) {
    .ocecowebview {
        display: none;
    }

    .todoinput{
        width: 90% !important;
        margin: 1em 3% !important;
    }

    .label-mobi{
        margin-left: 3%;
    }
}

@media screen and (min-width: 800px) {
    .label-mobi {
        display: none;
    }

    .todoinput{
        width: 90%;
        float: left;
        margin: 1em 3%;
    }
    #add-button, #modif-button {
        width: 20%;
        float: left;
    }
    .newform-todo .show-todos {
        float: left;
        width: 20%;
        margin-left: 10%;
    }

    .tododialog #add-tododescr, .financerdialog #add-tododescr {
        display: flex;
    }


    .tododialog .duedate,.tododialog .taskname ,.tododialog .credit,.tododialog .member {
        width: 45%;
        margin: 1em 1% 1em 3%;
    }

    .tododialog #add-tododesc .member, .financerdialog #add-tododesc .member {
        width: 35%;
        margin: 1em 3% 1em 1.5%;
    }

    .tododialog #add-todo .credit, .financerdialog #add-todo .credit {
        width: 20%;
        margin: 1em 0% 1em 0;
    }
}

@media screen and (min-width: 1024px) {
    #container.newform-todo {
        width: 960px;
    }
}

.selectMultiple {
    /*width: 240px;*/
    position: relative;
    padding: 0 !important;
}
.selectMultiple select {
    display: none;
}
.selectMultiple > div {
    position: relative;
    z-index: 1;
    /*padding: 8px 12px 2px 12px;
    border-radius: 8px;*/
    border-radius: 20px;
    height: 36px;
    background: #fff;
    font-size: 14px;
    /*min-height: 44px;*/
    box-shadow: 0 4px 16px 0 rgba(22, 42, 90, .12);
    transition: box-shadow 0.3s ease;
}
.selectMultiple > div:hover {
    box-shadow: 0 4px 24px -1px rgba(22, 42, 90, .16);
}
.selectMultiple > div .arrow {
    right: 1px;
    top: 0;
    bottom: 0;
    cursor: pointer;
    width: 28px;
    position: absolute;
}
.selectMultiple > div .arrow:before, .selectMultiple > div .arrow:after {
    content: '';
    position: absolute;
    display: block;
    width: 2px;
    height: 8px;
    border-bottom: 8px solid #99a3ba;
    top: 43%;
    transition: all 0.3s ease;
}
.selectMultiple > div .arrow:before {
    right: 12px;
    transform: rotate(-130deg);
}
.selectMultiple > div .arrow:after {
    left: 9px;
    transform: rotate(130deg);
}
.selectMultiple > div span {
    color: #99a3ba;
    /*	 display: block;
         position: absolute;
         left: 12px;
         cursor: pointer;
         top: 8px;
         line-height: 28px;*/
    transition: all 0.3s ease;

    top: 50%;
    position: absolute;
    transform: translate(0, -50%);
}
.selectMultiple > div span.hide {
    opacity: 0;
    visibility: hidden;
    transform: translate(-4px, 0);
}
.selectMultiple > div a {
    position: relative;
    padding: 6px 24px 6px 8px;
    line-height: 28px;
    color: #1e2330;
    display: inline-block;
    vertical-align: top;
    margin: 0 6px 0 0;
}
.selectMultiple > div a em {
    font-style: normal;
    display: block;
    white-space: nowrap;
}
.selectMultiple > div a:before {
    content: '';
    left: 6px;
    top: 4px;
    bottom: 6px;
    width: 100%;
    position: absolute;
    display: block;
    background: rgba(228, 236, 250, .7);
    z-index: -1;
    border-radius: 4px;
}
.selectMultiple > div a i {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 28px;
    display: block;
}
.selectMultiple > div a i:before, .selectMultiple > div a i:after {
    content: '';
    display: block;
    width: 2px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: #4d18ff;
    border-radius: 1px;
}
.selectMultiple > div a i:before {
    transform: translate(-50%, -50%) rotate(45deg);
}
.selectMultiple > div a i:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.selectMultiple > div a.notShown {
    opacity: 0;
    transition: opacity 0.3s ease;
}
.selectMultiple > div a.notShown:before {
    width: 28px;
    transition: width 0.45s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0.2s;
}
.selectMultiple > div a.notShown i {
    opacity: 0;
    transition: all 0.3s ease 0.3s;
}
.selectMultiple > div a.notShown em {
    opacity: 0;
    transform: translate(-6px, 0);
    transition: all 0.4s ease 0.3s;
}
.selectMultiple > div a.notShown.shown {
    opacity: 1;
}
.selectMultiple > div a.notShown.shown:before {
    width: 100%;
}
.selectMultiple > div a.notShown.shown i {
    opacity: 1;
}
.selectMultiple > div a.notShown.shown em {
    opacity: 1;
    transform: translate(0, 0);
}
.selectMultiple > div a.remove:before {
    width: 28px;
    transition: width 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0s;
}
.selectMultiple > div a.remove i {
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.selectMultiple > div a.remove em {
    opacity: 0;
    transform: translate(-12px, 0);
    transition: all 0.4s ease 0s;
}
.selectMultiple > div a.remove.disappear {
    opacity: 0;
    transition: opacity 0.5s ease 0s;
}
.selectMultiple > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    z-index: 2;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    border-radius: 8px;
    transform: translate(0, 20px) scale(0.8);
    transform-origin: 0 0;
    filter: drop-shadow(0 12px 20px rgba(22, 42, 90, .08));
    transition: all 0.4s ease, transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44), filter 0.3s ease 0.2s;
}
.selectMultiple > ul li {
    color: #1e2330;
    background: #fff;
    padding: 12px 16px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease 0.3s, opacity 0.5s ease 0.3s, border-radius 0.3s ease 0.3s;
}
.selectMultiple > ul li:first-child {
    border-radius: 8px 8px 0 0;
}
.selectMultiple > ul li:first-child:last-child {
    border-radius: 8px;
}
.selectMultiple > ul li:last-child {
    border-radius: 0 0 8px 8px;
}
.selectMultiple > ul li:last-child:first-child {
    border-radius: 8px;
}
.selectMultiple > ul li:hover {
    background: #4d18ff;
    color: #fff;
}
.selectMultiple > ul li:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    background: rgba(0, 0, 0, .4);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%, -50%);
    transform-origin: 50% 50%;
}
.selectMultiple > ul li.beforeRemove {
    border-radius: 0 0 8px 8px;
}
.selectMultiple > ul li.beforeRemove:first-child {
    border-radius: 8px;
}
.selectMultiple > ul li.afterRemove {
    border-radius: 8px 8px 0 0;
}
.selectMultiple > ul li.afterRemove:last-child {
    border-radius: 8px;
}
.selectMultiple > ul li.remove {
    transform: scale(0);
    opacity: 0;
}
.selectMultiple > ul li.remove:after {
    animation: ripple 0.4s ease-out;
}
.selectMultiple > ul li.notShown {
    display: none;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.35s ease, opacity 0.4s ease;
}
.selectMultiple > ul li.notShown.show {
    transform: scale(1);
    opacity: 1;
}
.selectMultiple.open > div {
    box-shadow: 0 4px 20px -1px rgba(22, 42, 90, .12);
}
.selectMultiple.open > div .arrow:before {
    transform: rotate(-50deg);
}
.selectMultiple.open > div .arrow:after {
    transform: rotate(50deg);
}
.selectMultiple.open > ul {
    transform: translate(0, 12px) scale(1);
    opacity: 1;
    visibility: visible;
    filter: drop-shadow(0 16px 24px rgba(22, 42, 90, .16));
}
@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    25% {
        transform: scale(30, 30);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(50, 50);
    }
}

.btnValidateWork, .btnWorker{
    border-radius: 50px;
    padding: 5px;
}

.checkicon{
    cursor: pointer;
}

.ocecotableprogress {
    max-width: 200px;
    margin-bottom: 20px !important;
    height: 15px;
    border-radius: 10px;
    background-color: #dddddd;
}

.ocecotableprogress span{
    position: absolute;
    font-size: 13px;
    font-weight: bold;
}

.depenseoceco .btn-secondary {
    border-color: #2C3E50;
}

.btnValidateWork i , .btnWorker i {
    margin: 3px;
    font-size: 17px;
}

.validationlabel{
    font-size: 12px;
}

.wrapper-validateline {
    --background: #62abff;
    --icon-color: #414856;
    --shape-color-01: #b8cbee;
    --shape-color-02: #7691e8;
    --shape-color-03: #fdd053;
    --width: 90px;
    --height: 90px;
    --border-radius: var(--height);
    width: var(--width);
    height: var(--height);
    position: relative;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-validateline .btn-validateline::before, ..wrapper-validateline .btn-validateline::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4px;
    background: #fff;
}
..wrapper-validateline .btn-validateline::before {
    width: 4px;
    height: 28px;
}
..wrapper-validateline .btn-validateline::after {
    width: 28px;
    height: 4px;
}
.wrapper-validateline .tooltip-validateline {
    width: 90px;
    height: 75px;
    border-radius: 70px;
    position: absolute;
    background-color: #cccccc;
    z-index: 2;
    padding: 0 15px;
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
    opacity: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: opacity 0.15s ease-in, top 0.15s ease-in, width 0.15s ease-in;
}

.tooltip-validateline div {
    font-size: 12px;
}

.tooltip-validateline div {
    width: 80px;
    /*	display: flex;
        flex-direction: column;
        flex:1;*/
}

.tooltip-validateline div {
    height: 40px;
    /*	display: flex;
        flex-direction: column;
        flex:1;*/
}

.wrapper-validateline .tooltip-validateline > i:hover {
    opacity: 1;
}
.wrapper-validateline .tooltip-validateline::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: -8px;
    transform: rotate(45deg);
    z-index: 0;
    background-color: #cccccc;
}

.wrapper-validateline input {
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    cursor: pointer;
    position: absolute;
    z-index: 5;
    opacity: 0;
}

.wrapper-validateline input:checked ~ .btn-validateline {
    animation: plus-animation 0.5s ease-out forwards;
}
.wrapper-validateline input:checked ~ .tooltip-validateline {
    width: 320px;
    height: 80px;
    animation: stretch-animation 1s ease-out forwards 0.15s;
    top: -70px;
    right: 0px;
    opacity: 1;
    background-color: #cccccc;
}

.pr_div table {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.subtodolisttable .tdname {
    display: flex;
}

.subtodolisttable .check {
    display: grid;
    align-content: center;
}

.subtodolisttable .contributors {
    color: #5f5f5d;
    font-size: 13px;
}

.subtodolisttable .task {
    font-weight: bold;
    text-align: center;
    width: 180px;
}

.payed .payedstatus, .workertype {
    color: #607D8B;
    font-size: 13px;
    font-weight: bold;
}

.payed .payedamount {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.payed .payedlabel {
    font-size: 13px;
}

.oceco-styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.oceco-styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.oceco-styled-table th,
.oceco-styled-table td {
    padding: 12px 15px;
}

.oceco-styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.oceco-styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.oceco-styled-table tbody tr:nth-of-type(odd) {
    background-color: #e5ffe5;
}

.oceco-styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.oceco-styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.oceco-styled-table tbody.oceco-blanc-table tr{
    background-color: #fff;
}

.btn-group.special {
    display: flex;
}

.special .btn {
    flex: 1
}

.table-bordered {
    border-collapse: separate;
    border-spacing: 5px 12px;
    font-weight: bold;
    background-color: whitesmoke;
}

.table-bordered TH,  .table-bordered TD{
    border: 0px;
//border-right: #888b87 1px solid;
    font-size: 14px;
}

.toggle {
    --size: 1.125rem;
    --width: calc(1.125rem * 2);
    display: inline-grid;
    align-items: center;
    width: var(--width);
    height: var(--size);
    cursor: pointer;
}

.toggle::before {
    content: "";
    grid-area: 1 / -1;
    width: var(--width);
    height: var(--size);
    transition: all 250ms ease;
    border-radius: var(--width);
    background-color: #000;
}

.toggle:hover::before {
    box-shadow: 0 0 0 2px #aef;
}

.toggle::after {
    content: "";
    grid-area: 1 / -1;
    width: calc(var(--size) * 0.8);
    height: calc(var(--size) * 0.8);
    transform: translateX(10%);
    transform-origin: center center;
    transition: all 250ms ease;
    border-radius: 100%;
    background: #fff;
}

.toggle:checked::before {
    background-color: #14bd2a;
}

.toggle:checked::after {
    transform: translateX(calc(var(--width) - var(--size) * 0.8 - 10%));
}

.toggle:disabled {
    pointer-events: none;
    filter: grayscale(1);
}

.toggle:disabled::before {
    background: #5eea37;
}

.candidatebtn-div{
    text-align: center;
}

#coremudashboard .tbdaction {
    display: none;
}

:root {
    --color-text: #FFF;
    --color-front: hsl(250deg, 100%, 40%);
    --color-back: hsl(252deg, 100%, 60%);
}

.funding_body_depense {
    background-color: #f5f5f5;
    padding: 20px;
}

.funding_body_table {
    background-color: #fff;
}

.funding_body_table_thead {
    color: #7da53d;
}

.btn-group.depenseoceco {
    display: flex;
}

.depenseoceco .btn {
    flex: 1
}

.pr_div {
    display: flex;
}

.pr_div table {
    flex: 1
}


.mr-3, .mx-3 {
    margin-right: 1rem !important;
}

.media-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.mb-0, .my-0 {
    margin-bottom: 0 !important;
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.selected-price {
    background-color: #e5ffe5;
}

/*.select2-container-disabled.aapstatus-container .select2-search-field .select2-input:not(.select2-default) {
    display: none;
}*/

/*.statustags-container .bd-enable-btn<?= $kunik ?> {
    display: inline-block;
    background-color: rgba(173, 210, 141, 0.8);
    color: #0a0a0b;
}*/

.statustags-container:hover {
    cursor: pointer;
}

/*.statustags-container .bd-enable-btn<?= $kunik ?>[data-loc="edit"] {
    display: none;
}*/

.statustags-container .bd-enable-btn<?= $kunik ?>[data-loc="save"] {
                                             display: none;
                                         }

.smallspan {
    margin-top: 20px;
    color: #7da53d;
}

.newpropositiontable {
    background-color: transparent !important;
    border: 0px !important;
}

.newpropositiontable tr  {
    border : 0px !important;
}

.newpropositiontable td:not(last-child) {
    background-color: white !important;
}

.newpropositiontable:nth-child(1) td {
    width: 60%;
    border: 0 0 0 1px important;
}

.newpropositiontable:nth-child(2) td {
    width: 40%;
}

.newpropositiontable:last-child {
    background-color: transparent !important;
}

.badgetag {
    position: relative;
    display: inline-block;
    border-radius: 6px;
    clip-path: polygon(10px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 10px);
    background: #dfe3e3;
    padding: 8px 20px;
    margin: 0 8px;
    font-weight: 600;
    /*font-size: 18px;*/
    color: #b380d0;
    transition: clip-path 500ms;
}

.badgetag:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background: var(--color-back);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 6px 0;
    transition: transform 500ms;
}

.badgetag:hover {
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 0px);
}

.tag:hover:after {
    transform: translate(-100%, -100%);
}


.select2-container-multi.aapstatus-container .select2-choices .select2-search-choice {
    border: 1px solid transparent !important;
}

.leaderboard__profiles {
    background-color: #fff;
    border-radius: 0 0 6px 6px;
    padding: 7px 7px 10px;
    display: grid;
    row-gap: 4px;
}

.leaderboard__profile {
    min-height: 60px !important;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    padding: 5px 5px 5px 5px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
    cursor: pointer;
    transition: transform 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98), box-shadow 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
    background-color: #f9f9f9;
}

.leaderboard__picture {
    max-width: 100%;
    width: 30px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #ebeef3, 0 0 0 22px #f3f4f6;
}

.leaderboard__name {
    /*color: #979cb0;*/
    color: #5a6aa9;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.64px;
    margin-left: 6px;
    padding: 10px;
}

.leaderboard__name_candidate {
    color: #979cb0;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.64px;
    padding-left : 0;
    padding-right: 0;
}

.leaderboard__value {
    /*color: #35d8ac;*/
    color: #5a6aa9;
    font-weight: 700;
    font-size: 17px;
    text-align: right;
}

.leaderboard__value.leaderboard__price {
    color: #35d8ac;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
}

.leaderboard__value > span {
    opacity: 0.8;
    font-weight: 600;
    font-size: 13px;
    margin-left: 3px;
}

.leaderboard__editbtn {
    display: none;
}

.leaderboard__profiles:hover .leaderboard__editbtn {
    display: inline;
    border-radius: 8px;
    font-size: 15px;
    padding: 2px 5px;
    margin: 2px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 2px solid #4DB7FE;
    background-color: #fff;
    color: #4b4b4b;
}

.budgetcustom-dropdown .btn:active, .budgetcustom-dropdown .btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none;
}

.budgetcustom-dropdown .btn.btn-custombadge {
    /*border: 1px solid #efefef;*/
    background-color: transparent;
}

.budgetcustom-dropdown .title-wrap {
    padding-top: 10px;
    padding-bottom: 10px;
}

.budgetcustom-dropdown .title {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.budgetcustom-dropdown .action-list-toggle {
    color: #888;
    display: inline-block;
    padding-right: 0px;
    position: relative;
}

.budgetcustom-dropdown .action-list-toggle[data-active='true'] {
    color: #79d531;
    font-size : 15px;
}

.budgetcustom-dropdown .action-list-toggle .wrap-icon {
    font-size: 30px;
}

.budgetcustom-dropdown .action-list-toggle .number {
    width: 18px;
    height: 18px;
    line-height: 20px;
    border-radius: 50%;
    background: #93a7bb;
    position: absolute;
    font-size: 13px;
    /*top: -10px;*/
    right: -10px;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
}

span.numberAction {
    width: 21px;
    height: 21px;
    line-height: 20px;
    border-radius: 50%;
    background: #93a7bb;
    position: absolute;
    font-size: 13px;
    top: -15px;
    right: -15px;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
}

button.numberAction {
    position: absolute !important;
    right: 10px !important;
    padding: 2px 5px;
    position: absolute;
    right: 10px;
    padding: 2px 8px;
    border-radius: 5px;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
}

button.numberAction.active {
    border: 1px solid #f0ad4e !important;
    background-color: #eea236 !important;
}

/*.newpropositiontable tr.haveroundbadge:not(.trtotal):after {
    content: attr(data-count);
    width: 22px;
    height: 22px;
    line-height: 20px;
    border-radius: 50%;
    background: #93a7bb;
    position: absolute;
    font-size: 13px;
    !* top: -10px;*!
    right: 10px;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
}*/

.budgetcustom-dropdown .action-list-toggle[data-active='true'] .number {
    background: #79d531;
}

.budgetcustom-dropdown .dropdown-menu {
    border: 1px solid transparent;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    margin-top: 0px !important;
    padding-top: 0;
    padding-bottom: 0;
    padding: 10px;
    left: 0 !important;
    -webkit-transition: .3s margin-top ease, .3s opacity ease, .3s visibility ease;
    -o-transition: .3s margin-top ease, .3s opacity ease, .3s visibility ease;
    transition: .3s margin-top ease, .3s opacity ease, .3s visibility ease;
    min-width: 250px;
}

.budgetcustom-dropdown .dropdown-menu.active {
    opacity: 1;
    visibility: visible;
    margin-top: 10px !important;
}

.budgetcustom-dropdown .budgetcustom-notifications {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 200px;
    overflow-y: scroll;
    border-bottom: 1px solid #efefef;
}

.budgetcustom-dropdown .budgetcustom-notifications > li {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}

.budgetcustom-dropdown .budgetcustom-notifications > li:last-child {
    margin-bottom: 0;
}

.budgetcustom-dropdown .budgetcustom-notifications > li > a {
    display: block;
    padding: 20px;
    color: #bfbfbf;
}

.budgetcustom-dropdown .budgetcustom-notifications > li > a:hover {
    background: #f9f9f9;
}

.budgetcustom-dropdown .budgetcustom-notifications > li > a .img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
}

.budgetcustom-dropdown .budgetcustom-notifications > li > a .img img {
    width: 40px;
    border-radius: 50%;
}

.budgetcustom-dropdown .budgetcustom-notifications > li > a .text {
    margin-top: 0px;
}

.budgetcustom-dropdown .budgetcustom-notifications > li > a .text strong {
    font-weight: 700;
    color: #000;
}

.budgetcustom-dropdown .budgetcustom-notifications > li.unread a {
    background: #fffaef;
}

.check-estimates {
    background-color: #bddba3;
}

.check-estimates span {
    color: #000;
    font-size: 13px;
}

.block-candidate {
    background-color: #f0f3f7;

}

.block-candidate:hover {
    background-color: #c0d5f3;
}

.block-candidate:hover span {
    background-color: #c0d5f3;
    font-size: 15px;
}

.block-candidates span {
    color: #000;
}

.block-candidate-deny {
    background-color: #fcf0f0;
}

.block-candidate-deny:hover {
    background-color: #fce5e5;
}

.block-candidate-deny i {
    color: #ef5454;
}

.block-candidate-deny:hover span {
    background-color: #FFEBEE;
}

.block-candidate-deny span {
    color: grey
}

.badge-estimate{
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 2px;
    display: inline-block;
}

.badge-estimate.badgetimes{
    color: #f36C6C;
}
.badge-estimate.badgecheck{
    color: #35d8ac;
}

.validerow {
    padding: 15px;
    text-align: center;
    border: 2px solid #bddba3;
}

.lddtag{
    background: #90c53f;
    color: #46483d;
    display: inline-block;
    border-radius: 3px;
    padding: 2px 5px 3px;
    border-radius: 2px;
    font-weight: 600;
    margin: 5px 2px;
}

.dismiss-popup-btn {
    position: absolute;
    top: 8px;
    right: -60px;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
}
/**/
.dismiss-popup-btn button {
    border-radius: 0px !important;
}

.smallspan-description {
    max-width: 700px !important;
}

.newbtncandidate {
    border-color: #2e1d70;
    color : #2e1d70 !important;
    background-color: #ffffff;
    font-weight: bold;
}

.newbtncandidate:hover {
    border-color: #fff;
    background-color : #2e1d70 !important;
    color: #79d531 !important;
}

.smallspan[data-active='false'] ,
.leaderboard__container[data-active='false'] ,
.arrow-down-comment[data-active='false']:not(.adc-price)  ,
.denycomment[data-active='false']
{
    display: none;
}

.leaderboard__container {
    /*width: 300px;*/
    width 90%;
}

.leaderboard__container[data-type='price'] .leaderboard__name {
    font-size: 17px;
}

.leaderboard__container[data-type='price'] .leaderboard__value {
    font-size: 13px;
}

.denycomment {
    padding: 10px;
    border: 2px solid #e2e2e2;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}

.pricecomment {
    padding: 10px;
    border: 2px solid #e2e2e2;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.arrow-down-comment {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 7px solid #93a7bb;
    margin-left: 50%;
}

.action-btn-group {
    display: flex;
}

.action-btn-group .btn {
    flex: 1
}

.actionbox {
    width: 100px;
    height: 100px;
    color: #fff;
    font-size: 11px;
}

.actionbox i{
    font-size: 40px;
}

.actionrow {
    display: flex;
}

.budgetbadgebtn , .budgetbadgebtn[data-loc="save"] {
    /*display: none;*/
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-out;
}

td:hover .budgetbadgebtn:not([data-loc="save"]) {
    /*display: inline-block;*/
    visibility: visible;
    opacity: 1;

    border: 1px solid #009688;
    background-color: rgba(173, 210, 141, 0.8);
    color: #000000;
    padding: 1px 10px;

    box-shadow: 0 2px 0 #d1f6d5;
}

.budgetbadgebtn:hover {
    box-shadow: 0 1px 0 #cbf5b9;
    transform: translateY(2px);
}

.budgetbadgebtn.locklinestate {
    visibility: visible !important;
    opacity: 1 !important;
    color: #d66e6e !important;
}

.smallspan[data-type="deny"] , .toogle-maximum.toogledeny , .leaderboard__profiles.toogledeny {
    background-color: #fde7e7 !important;
}

.smallspan[data-type="price"] , .toogle-maximum.toogleprice , .leaderboard__profiles.toogleprice {
    background-color: #cde2e4 !important;
}

.nowrap {
    white-space: nowrap;
}

.actiondropdown .dropdown-menu {
    right: 0;
    left: auto;
    top: 30px;
}

.actiondropdown .dropdown-menu-item {
    padding : 10px;
}

.actiondropdown .actionnumber {
    margin-left: 10px;
    padding: 0px 10px;
    border-radius: 5px;
    border-color: #7da53d !important;
    border: 2px solid;
}

.candidat-times {
    background-color: #e86666 !important;
}

#modal-form-bootbox #ajax-modal-modal-body .container {
    width: 100%;
}

#modal-form-bootbox #ajax-modal-modal-body .container {
    width: 100%;
}

.budgetbadgebtn{
    margin: 0px 3px;
}
