    /* This for loop creates the necessary css animation names Due to the split circle of progress-left and progress right, we must use the animations on each side. */
    .progress[data-percentage="10"] .progress-right .progress-bar {
        animation: loading-1 1.5s linear forwards;
    }

    .progress[data-percentage="10"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="20"] .progress-right .progress-bar {
        animation: loading-2 1.5s linear forwards;
    }

    .progress[data-percentage="20"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="30"] .progress-right .progress-bar {
        animation: loading-3 1.5s linear forwards;
    }

    .progress[data-percentage="30"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="40"] .progress-right .progress-bar {
        animation: loading-4 1.5s linear forwards;
    }

    .progress[data-percentage="40"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="50"] .progress-right .progress-bar {
        animation: loading-5 1.5s linear forwards;
    }

    .progress[data-percentage="50"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="60"] .progress-right .progress-bar {
        animation: loading-5 1.5s linear forwards;
    }

    .progress[data-percentage="60"] .progress-left .progress-bar {
        animation: loading-1 1.5s linear forwards 1.5s;
    }

    .progress[data-percentage="70"] .progress-right .progress-bar {
        animation: loading-5 1.5s linear forwards;
    }

    .progress[data-percentage="70"] .progress-left .progress-bar {
        animation: loading-2 1.5s linear forwards 1.5s;
    }

    .progress[data-percentage="80"] .progress-right .progress-bar {
        animation: loading-5 1.5s linear forwards;
    }

    .progress[data-percentage="80"] .progress-left .progress-bar {
        animation: loading-3 1.5s linear forwards 1.5s;
    }

    .progress[data-percentage="90"] .progress-right .progress-bar {
        animation: loading-5 1.5s linear forwards;
    }

    .progress[data-percentage="90"] .progress-left .progress-bar {
        animation: loading-4 1.5s linear forwards 1.5s;
    }

    .progress[data-percentage="100"] .progress-right .progress-bar {
        animation: loading-5 1.5s linear forwards;
    }

    .progress[data-percentage="100"] .progress-left .progress-bar {
        animation: loading-5 1.5s linear forwards 1.5s;
    }



    /*Style by nico*/
    /*EVALUATION*/
    .single_evaluate, .single_task, .single_funding, .single_governance {
        position: relative;
        margin-bottom: 40px;
        transition: .3s;
        box-shadow: 0 2px 5px 0 rgb(63 78 88), 0 2px 10px 0 rgb(63 78 88);
        border-radius: 3px;
    }

    .single_evaluate img {
        width: 100%;
        /*position: absolute;*/
        min-height: 420px;
        -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
        transition: .3s;
        border: 1px solid #ddd;
        border-radius: 5px;
        object-fit: cover;
        object-position: center;
    }

    .single_evaluate:hover img{
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 50%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 50%);

    }

    .evaluate_content h4, .single_task h4, .single_funding h4, .single_governance h4 {
        font-size: 22px;
        font-weight: 700;
        border-bottom: 1px dashed #3f4e58;
        line-height: 2;
        text-transform: none;
        color: #3f4e58;
    }

    .evaluate_content h4 span {
        font-size: 20px;
        font-weight: 800;
        float: right;
        font-style: italic;
        color: #9ebc37;
    }

    .evaluate_content {
        display: flex;
        flex-direction: column;
    }

    .evaluate_content p {
        font-weight: 200;
        font-size: 16px;
        letter-spacing: 1px;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
    }

    .evaluate_content .btn-component, .single_task .btn-component, .single_funding .btn-component, .single_governance .btn-component {
        flex-basis: 100%;
        /*display: flex;*/
        flex-direction: row;
        align-items: flex-end;
    }
    .evaluate_content .btn-evaluate, .single_task .btn-participate, .single_funding .btn-financing, .single_governance .btn-opinion {
        color: white;
        background-color: #93C020;
        border-color: #93C020;
        font-size: 18px;
        font-weight: 700;
        border-radius: 2px;
        padding : 6px 25px;
    }


    /*TACHE*/

    .single_task h4 span, .single_funding h4 span, .single_governance h4 span {
        font-size: 24px;
        font-weight: 800;
        float: right;
        color: #3f4e58;
    }
    .task-row {
        padding: 15px;
    }
    /*checkbox*/
    .single_task .input_wrapper{
        width: 70px;
        height: 35px;
        position: relative;
        cursor: pointer;
        margin-bottom: 5px;
    }

    .single_task .input_wrapper input[type="checkbox"]{
        width: 70px;
        height: 35px;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #3f4e58;
        border-radius: 2px;
        position: relative;
        outline: 0;
        -webkit-transition: all .2s;
        transition: all .2s;
    }

    .single_task .input_wrapper input[type="checkbox"]:after{
        position: absolute;
        content: "";
        top: 3px;
        left: 3px;
        width: 28px;
        height: 28px;
        background: #dfeaec;
        z-index: 2;
        border-radius: 2px;
        -webkit-transition: all .35s;
        transition: all .35s;
    }

    .single_task .input_wrapper svg{
        position: absolute;
        top: 50%;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        fill: #fff;
        -webkit-transition: all .35s;
        transition: all .35s;
        z-index: 1;
    }

    .single_task .input_wrapper .is_checked{
        width: 18px;
        left: 15%;
        -webkit-transform: translateX(190%) translateY(-30%) scale(0);
        transform: translateX(190%) translateY(-30%) scale(0);
    }

    .single_task .input_wrapper .is_unchecked{
        width: 15px;
        right: 15%;
        -webkit-transform: translateX(0) translateY(-30%) scale(1);
        transform: translateX(0) translateY(-30%) scale(1);
    }

    /* Checked State */
    .single_task .input_wrapper input[type="checkbox"]:checked{
        background: #93C020;
    }

    .single_task .input_wrapper input[type="checkbox"]:checked:after{
        left: calc(100% - 37px);
    }

    .single_task .input_wrapper input[type="checkbox"]:checked + .is_checked{
        -webkit-transform: translateX(0) translateY(-30%) scale(1);
        transform: translateX(0) translateY(-30%) scale(1);
    }

    .single_task .input_wrapper input[type="checkbox"]:checked ~ .is_unchecked{
        -webkit-transform: translateX(-190%) translateY(-30%) scale(0);
        transform: translateX(-190%) translateY(-30%) scale(0);
    }

    /* TABLE */
    .single_task .align-items-center {
        align-items: center !important;
        text-align: center;
    }
    .single_task .table {
        width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
    }

    .single_task .table th,
    .single_task .table td {
        padding: 1rem;
        vertical-align: top;
        border-top: 1px solid #e9ecef;
    }

    .single_task .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #e9ecef;
    }

    .single_task .table tbody + tbody {
        border-top: 2px solid #e9ecef;
    }

    .single_task .table .table {
        background-color: #f8f9fe;
    }
    .single_task .table-responsive {
        display: block;
        overflow-x: auto;
        width: 100%;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .single_task .table thead th {
        font-size: .65rem;
        padding-top: .75rem;
        padding-bottom: .75rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-bottom: 1px solid #e9ecef;
    }

    .single_task .table th {
        font-weight: 600;
    }
    .single_task .table td,
    .single_task .table th {
        font-size: .8125rem;
        white-space: nowrap;
    }

    .single_task .table.align-items-center td,
    .single_task .table.align-items-center th {
        vertical-align: middle;
    }

    .single_task .table .thead-dark th {
        color: #4d7bca;
        background-color: #1c345d;
    }

    .single_task .table .thead-light th {
        color: #8898aa;
        background-color: #f6f9fc;
    }

    .single_task .table-flush td,
    .single_task .table-flush th {
        border-right: 0;
        border-left: 0;
    }

    .single_task .table-flush tbody tr:first-child td,
    .single_task .table-flush tbody tr:first-child th {
        border-top: 0;
    }

    .single_task .table-flush tbody tr:last-child td,
    .single_task .table-flush tbody tr:last-child th {
        border-bottom: 0;
    }

    .single_task .text-simple, .single_funding .text-simple, .single_governance .text-simple {
        font-size: 16px;
        color: #3f4e58;
        line-height: 36px;
    }
    .single_task .price, .single_governance .price {
        padding: 10px;
        color: #93C020!important;
        background-color: #ffffff;
        border-radius: 4px;
    }
    .single_task .mb-0 {
        margin-bottom: 0 !important;
    }
    .single_task .media-body, .single_funding  .media-body{
        flex: 1 1;
    }
    .single_task .media, .single_funding  .media {
        display: flex;
    }
    .single_funding  .media {
        padding-top: 15px;
    }
    .single_task .line-dark, .single_funding .line-dark, .single_governance .line-dark {
        background-color: #d4d4d4;
    }
    .single_task .line-light, .single_funding .line-light, .single_governance .line-light{
        background-color: #ebebeb
    }

    .avatar {
        font-size: 1rem;
        display: inline-flex;
        width: 48px;
        height: 48px;
        color: #fff;
        border-radius: 50%;
        background-color: #adb5bd;
        align-items: center;
        justify-content: center;
    }

    .avatar img {
        width: 100%;
        border-radius: 50%;
    }

    .avatar-sm {
        font-size: .875rem;
        width: 36px;
        height: 36px;
    }

    .avatar-group .avatar {
        position: relative;
        z-index: 2;
        border: 1px solid #93C020;
    }

    .avatar-group .avatar:hover {
        z-index: 3;
    }

    .avatar-group .avatar + .avatar {
        margin-left: -1px;
    }
    .justify-center {
        justify-content: center;
    }

    /*FINANCEMENT*/

    .single_funding h4 span {
        font-size: 24px;
        font-weight: 800;
        float: right;
        color: #3f4e58;
    }
    .single_funding .valueAbout{
        border-left: 1px solid #dbdbdb;
    }


    .single_funding .contentInformation{
        border-bottom: 1px solid #dbdbdb;
    }

    .single_funding .labelAbout span{
        width: 20px;
        padding-right: 5px;
        text-align: -moz-center;
        text-align: center;
        text-align: -webkit-center;
        float: left;
    }
    .single_funding .labelAbout span i{
        font-size: 14px;
    }

    .single_funding .md-editor > textarea {
        padding: 10px;
    }

    .single_funding .descriptiontextarea label{
        margin-left:10px;
    }

    .single_funding .progress-bar-success {
        background-color: #93C020;
    }

    .single_funding .progress-bar-info {
        background-color: #fff;
    }

    .single_funding .widget {
        width: 100%;
        float: left;
        margin: 0px;
        list-style: none;
        text-decoration: none;
        -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 1px 1px 0px rgb(0 0 0);
        box-shadow: 0px 1px 1px 0px rgb(0 0 0);
        color: #FFF;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        padding: 10px 10px;
        /* margin-bottom: 20px; */
        /* min-height: 120px; */
        position: relative;
    }
    /*.single_funding .widget.widget-black {
      background: #ffffff;
     }*/
    .single_funding .widget .widget-title,
    .single_funding .widget .widget-subtitle,
    .single_funding .widget .widget-int,
    .single_funding .widget .widget-big-int {
        width: 100%;
        float: left;
        text-align: center;
    }
    .single_funding .text-success1{color:green;}
    .single_funding .widget .widget-title {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
        line-height: 20px;
        text-transform: none;
        margin-top: 0px!important;
    }
    .widget-title {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
        line-height: 20px;
        text-transform: none;
        margin-top: 0px!important;
    }

    .single_funding .labelFunding, .single_governance .labelGovernance {
        font-size: 16px;
    }

    /*GOUVERNANCE STYLE*/
    .single_governance .progress {
        width: 60px;
        height: 60px;
        line-height: 150px;
        background: none;
        margin: 0 auto;
        box-shadow: none;
        position: relative;
    }

    .single_governance .progress:after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 7px solid #ffffff;
        position: absolute;
        top: 0;
        left: 0;
    }

    .single_governance .progress > span {
        width: 50%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    .single_governance .progress .progress-left {
        left: 0;
    }

    .single_governance .progress .progress-bar {
        width: 100%;
        height: 100%;
        background: none;
        border-width: 7px;
        border-style: solid;
        position: absolute;
        top: 0;
        border-color: #93C020;
    }

    .single_governance .progress .progress-left .progress-bar {
        left: 100%;
        border-top-right-radius: 75px;
        border-bottom-right-radius: 75px;
        border-left: 0;
        -webkit-transform-origin: center left;
        transform-origin: center left;
    }

    .single_governance .progress .progress-right {
        right: 0;
    }

    .single_governance .progress .progress-right .progress-bar {
        left: -100%;
        border-top-left-radius: 75px;
        border-bottom-left-radius: 75px;
        border-right: 0;
        -webkit-transform-origin: center right;
        transform-origin: center right;
    }

    .single_governance .progress .progress-value {
        display: flex;
        border-radius: 50%;
        font-size: 36px;
        text-align: center;
        line-height: 20px;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-weight: 300;
    }

    .single_governance .progress .progress-value div {
        font-size: 15px;
        margin-top: 10px;
    }

    .single_governance .progress .progress-value span {
        font-size: 15px;
        text-transform: uppercase;
    }

    @media (max-width: 767px) {
        .evaluate_content h4 {
            font-size: 20px;
        }
        .single_evaluate img {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 50%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 50%);
            min-height: auto;
        }
        .evaluate_content p {
            font-weight: 200;
            font-size: 14px;
        }
        .evaluate_content .btn-evaluate, .single_task .btn-participate, .single_funding .btn-financing, .single_governance .btn-opinion {
            font-size: 16px;
            padding : 6px 12px;
        }
        .evaluate_content .btn-component, .single_task .btn-component, .single_funding .btn-component, .single_governance .btn-component {
            justify-content: center;
        }
    }




    /*Liste project*/

    .product_list {
        position: relative;
        margin-bottom: 40px;
        transition: .3s;
        box-shadow: 0 2px 5px 0 rgb(63 78 88), 0 2px 10px 0 rgb(63 78 88);
        border-radius: 3px;
    }

    .product_list img {
        width: 100%;
        /*position: absolute;*/
        min-height: 420px;
        transition: .3s;
        border: 1px solid #ddd;
        border-radius: 5px;
        object-fit: cover;
        object-position: center;
    }



    .product_content h4 {
        font-size: 22px;
        font-weight: 700;
        border-bottom: 1px dashed #3f4e58;
        line-height: 2;
        text-transform: none;
        color: #3f4e58;
    }

    .product_content h4 span {
        font-size: 20px;
        font-weight: 800;
        float: right;
        font-style: italic;
        color: #9ebc37;
    }

    .product_content {
        display: flex;
        flex-direction: column;
    }

    .product_content p {
        font-weight: 200;
        font-size: 16px;
        letter-spacing: 1px;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
    }

    .product_content .btn-component {
        flex-basis: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
    .product_content .btn-evaluate {
        color: white;
        background-color: #93C020;
        border-color: #93C020;
        font-size: 18px;
        font-weight: 700;
        border-radius: 2px;
        padding : 6px 25px;
    }

    .product_list .progress {
        width: 75px;
        height: 75px;
        line-height: 150px;
        background: none;
        margin: 0 auto;
        box-shadow: none;
        position: relative;
    }

    .product_list .progress:after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 10px solid #3f4e58;
        position: absolute;
        top: 0;
        left: 0;
    }

    .product_list .progress > span {
        width: 50%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    .product_list .progress .progress-left {
        left: 0;
    }

    .product_list .progress .progress-bar {
        width: 100%;
        height: 100%;
        background: none;
        border-width: 10px;
        border-style: solid;
        position: absolute;
        top: 0;
        border-color: #93C020;
    }

    .product_list .progress .progress-left .progress-bar {
        left: 100%;
        border-top-right-radius: 75px;
        border-bottom-right-radius: 75px;
        border-left: 0;
        -webkit-transform-origin: center left;
        transform-origin: center left;
    }

    .product_list .progress .progress-right {
        right: 0;
    }

    .product_list .progress .progress-right .progress-bar {
        left: -100%;
        border-top-left-radius: 75px;
        border-bottom-left-radius: 75px;
        border-right: 0;
        -webkit-transform-origin: center right;
        transform-origin: center right;
    }

    .product_list .progress .progress-value {
        display: flex;
        border-radius: 50%;
        font-size: 36px;
        text-align: center;
        line-height: 20px;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-weight: 300;
    }

    .product_list .progress .progress-value div {
        font-size: 15px;
        margin-top: 10px;
    }

    .product_list .progress .progress-value span {
        font-size: 15px;
        text-transform: uppercase;
    }

    .sheet-swipper .swiper {
        width: 100%;
        height: 100%;
    }

    .sheet-swipper .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        width: 100% !important;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .sheet-swipper .swiper-slide img {
        display: block;
        width: 100% !important;
        height: 100%;
        object-fit: cover;
    }