.daily-forecast-container{
    width:100%;
    position: absolute;
    top: -170px;
}
@media only screen and (max-width: 767px){
    .daily-forecast-container{
        position: relative;
        top:0;
    }
}
.daily-forecast-header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 15px 10px;
}
@media only screen and (max-width: 767px){
    .daily-forecast-header{
        color: black;
    }
    .daily-forecast-header .day-navigation li:nth-child(2) {
        font-size: 20px !important;
    }
}
.daily-forecast-header .day-navigation li{
    list-style: none;
    display: inline-block;
}
.btn-day-navigation{
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 100%;
    cursor: pointer;
    text-align: center;
    line-height: 28px;
    transition: .3s;
}
.btn-day-navigation:not(.disabled):hover{
    background-color: white;
    color: #00e5c1;
}
.btn-day-navigation.disabled{
    opacity: .5;
    cursor: not-allowed;
}
.daily-forecast-header .day-navigation li:nth-child(2){
    padding: 0px 20px;
    font-size: 26px;
}

.daily-forecast-body{
    padding: 20px 5px 20px 5px;
    display: flex;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #eaeaea;
}

@media only screen and (max-width: 767px){
    .wind-wave-forecast-container .time-navigation{
        display: flex;
        justify-content: center;
    }
    .wind-wave-forecast-container .time-navigation li{
        margin: 0px 5px;
    }
}

.wind-wave-forecast-container .time-navigation li{
    display: inline-block;
    padding: 2px 10px;
    border: 1px solid #eaeaea;
    border-radius: 40px;
    font-size: 12px;
    cursor: pointer;
    opacity: .6;
    transition: .3s;
    font-weight: bold;
}
.wind-wave-forecast-container .time-navigation li:hover, .wind-wave-forecast-container .time-navigation li.active{
    background-image: linear-gradient(to top, #00e5c1, #348ecc);
    opacity: 1 !important;
    border:1px solid #00e5c1;
    color: white;
}

.card-forecast{
    min-width: 100px;
    background-image: linear-gradient(to top, #00e5c1, #348ecc);
    border-radius: 5px;
    padding: 10px;
    color: white;
    margin: 5px;
    display: flex;
}
@media only screen and (max-width: 767px){
    .card-forecast{
        min-width: 100px;
        background-image: linear-gradient(to top, #00e5c1, #348ecc);
        border-radius: 5px;
        padding: 10px;
        color: white;
        margin: 5px 0px;
        display: flex;
    }
    .tind-forecast-header, .weather-forecast-header{
        margin-top: 20px;
    }
}
.card-forecast-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px;
    border-right: 1px solid rgba(255, 255, 255, .4);
    padding-right: 10px;
}
.card-forecast-header img{
    width: 40px;
    height: auto;
}
.card-forecast-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
}
.card-forecast-body p{
    font-weight: bold;
    margin:0;
}
.card-forecast-body img{
    width: 30px;
}
.card-forecast-body ul{
    width: 100%;
}
.forecast-item{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
}
.forecast-item span:first-child{
    font-size: 12px;
}
.forecast-item span:last-child{
    font-weight: bold;
}
.wave-forecast img.direction{
    transform: rotate(35deg);
}
.wind-forecast img.direction{
    transform: rotate(-90deg);
}

.tind-forecast-header, .weather-forecast-header{
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 12px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to top, #00e5c1, #348ecc);
    color: white;
    border-radius: 5px;
}
.tind-forecast-header img, .weather-forecast-header img{
    width: 35px;
    height: auto;
    margin-right: 10px;
}
.tind-forecast-body{
    padding: 10px;
}
.tind-forecast-body ul{
    border-bottom: 1px solid rgba(151, 151, 151,.2);
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
}
.tind-forecast-body li{
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px;
    width: 90px;
}
.tind-forecast-body li:first-child{
    padding-right: 20px;
    color: #707070;
}
.tind-forecast-body li:not(:first-child){
    text-align: right;
    text-transform: lowercase;
}
.tind-forecast-body li:not(:first-child){
    font-weight: bold;
    color: #348ecc;
}

.weather-forecast-body{
    text-align: center;
}
.weather-forecast-body p{
    margin: 0px;
}
.weather-forecast-body .temperature{
    font-weight: bold;
    font-size: 25px;
}
#day-cloud{
    width: 100px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    transition: background-image .4s ease-in-out;
}

#weather-data-inavailable{
    flex-direction:column;
    align-items:center;
    color: #707070;
    display:flex;
}