

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  height: 200px;
  margin-top: 10vw;
  background-color: #204c7d;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}

.explication{
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.dropdown-toggle{
  color: #2A353D;
}
.adminToolBar{
    display: none;
  }

  .custom-select {
    position: relative;
    font-family: Arial;
  }

  .custom-dropdown--large {
      font-size: 1.5em;
  }

  .custom-dropdown--small {
      font-size: .7em;
  }

  .custom-dropdown__select{
      font-size: inherit; /* inherit size from .custom-dropdown */
      padding: .5em; /* add some space*/
      margin: 0; /* remove default margins */
  }

  .custom-dropdown__select--white {
      background-color: transparent;
      color: #444;    
  }

@supports (pointer-events: none) and
      ((-webkit-appearance: none) or
      (-moz-appearance: none) or
      (appearance: none)) {

    .custom-dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

    .custom-dropdown__select {
        padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
        border: 0;
        border-radius: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;    
    }

    .custom-dropdown::before,
    .custom-dropdown::after {
        content: "";
        position: absolute;
        pointer-events: none;
    }

    .custom-dropdown::after { /*  Custom dropdown arrow */
        content: "\25BC";
        height: 1em;
        font-size: .625em;
        line-height: 1;
        right: 1.2em;
        top: 50%; margin-top: -.5em;
    }

    .custom-dropdown::before { /*  Custom dropdown arrow cover */
        width: 2em;
        right: 0; top: 0; bottom: 0;
        border-radius: 0 3px 3px 0;
    }

    .custom-dropdown__select[disabled] {
        color: rgba(0,0,0,.3);
    }

    .custom-dropdown.custom-dropdown--disabled::after {
        color: rgba(0,0,0,.1);
    }

    /* White dropdown style */
    .custom-dropdown--white::before {
        top: .5em; bottom: .5em;
        background-color: #fff;
        /*border-left: 1px solid rgba(0,0,0,.1);*/
    }

    .custom-dropdown--white::after {
        color: rgba(0,0,0,.9);
    }

    /* FF only temp fix */
    @-moz-document url-prefix() {
        .custom-dropdown__select              { padding-right: .9em }
        .custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
        .custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
    }
}

#particles-js {
    background-color: #2A353D;
    position: absolute;
    height: 100%;
    width: 100%;
}

.backLeft{
  width: 3vw;
  margin-top: 14vw;
  margin-left: -8vw;
}

.backRight{
  transform: rotate(180deg);
  width: 3vw;
  margin-top: 14vw;
  margin-left: 1vw;
}

.filtres{
  width: 24%;
  margin-left: 5vw;
  position: relative;
}

.containCard{
      /*border-radius: 10px 10px 10px 10px;
      box-shadow: 0px 0px 10px gray;*/
      margin-left: 2vw;
      margin-right: 7vw;
}

#filterContainer{
  margin-top: 5.1vw;
  margin-left: -22vw;
  font-size: 1vw;
  background-color: transparent;
}

.afficheCard{
  margin-left: 4vw;
  margin-right: -25vw;
  margin-top: 4vw;
}

.title{
  text-align: initial;
  font-family:'Homestead-Display';
  margin-top: -9vw;
  margin-left: 46vw;
  font-size: 36px;
  color:white;
}

.logoPixel{
  margin-left: 20vw;
  margin-top: 6vw;
  width: 17vw;
}

.titleSecond{
  font-family:'Homestead-Display';
  margin-top:2vw;
  color: white;
}

.description{
  text-align:initial;
  margin-left: 22%;
  font-family: 'Montserrat Regular';
  margin-top: 2vw;
  color:white;
}

.titleThird{
  color: #2A353D;
  position: relative;
  margin-top: -5%;
  margin-left: -1%;
  font-family:'Montserrat-Bold';
}

.imgPixel{
  margin-right: -0.5%;
  position: relative;
  width: 22vw;
}

.bloc_profil{
  width:72%;
  height:auto;
  position: absolute;
  z-index: 1;
}

.imgProfil{
  border-radius: 4px;
  width: 19vw;
  margin-left: 5%;
  padding: 20px;
}

  .plus{
    width:5vw;
    margin-left: 2vw;
  }

  .carousel-indicators .active {
    background-color: yellow;
    border : 1px solid yellow;
  }

  .carousel-indicators{
    top: 28vw;
  }

@media (max-width:1100px) and (min-width:500px){
  .containCard {
    margin-left: -1vw;
    margin-right: 4vw;
  }

  .logoPixel {
    margin-left: 6vw;
    margin-top: 16vw;
    width: 15vw;
    position: absolute;
  }

  .carousel-indicators{
    top: 32vw;
  }

  .plus{
    width: 5vw;
    left: 9%;
    margin-top: -18%;
    position: relative;
  }

  .text{
    font-size: 14px;
  }

  .imgProfil{
    margin-left: 9%;
    padding: 9px;
    width: 37vw;
  }

  .bloc_profil{
    width : 88%;
  }

  .imgPixel{
    width: 31vw;
  }

  .custom-dropdown::after {
    content: "\25BC";
    height: 1em;
    right: 3.2em;
  }

  .title {
    margin-left: 20vw;
    font-size: 24px;
    margin-top: -5vw;
  }

  .description{
    margin-left: 0%;
  }

  .titleThird{
    margin-top: -7%;
    margin-left: -2%;
    font-size: 3vw;
  }

  #filterContainer {
    margin-top: 4.1vw;
    margin-left: -25vw;
    font-size: 2vw;
  }

  .containerCard {
    margin-left: 3vw;
    margin-right: 0vw;
  }
}

@media (max-width:500px){
  .title{
    text-align: initial;
    font-family:'Homestead-Display';
    margin-top: -16vw;
    margin-left: 25vw;
    font-size: 16px;
    color:white;
  }

  .backRight{
    width: 8vw;
    margin-top: -2vw;
    margin-left: -58vw;
  }

  .backLeft{
    width: 8vw;
    margin-top: -2vw;
    margin-left: 30vw;
  }

  .carousel-indicators{
    top:11vw;
  }

.containCard {
    margin-left: 3vw;
    margin-right: 15vw;
    margin-top: 13%;
}
  .text{
    font-style: 12px;
    margin-left: 6vw;
  }

  .filtres{
    width: 48%;
  }

  .plus{
    width: 15vw;
    margin-top: 20vw;
    position: relative;
    left: -4%;
  }

  .logoPixel{
    margin-left: 12vw;
    margin-top: 6vw;
    width: 17vw;
  }

  .titleSecond{
    font-family:'Homestead-Display';
    font-size: 28px;
  }

  .description{
    margin-left: 0%;
  }

  .titleThird{
    margin-top: -16%;
    margin-left: -3%;
    font-family:'Montserrat-Bold';
    font-size: 7vw;
  }

  .imgPixel{
    width: 70vw;
  }

  #filterContainer{
    margin-top: 9.1vw;
    margin-left: -54vw;
    font-size: 4vw;
  }

  .imgProfil {
    border-radius: 4px;
    width: 66vw;
    margin-left: -6%;
    padding: 20px;
  }

}