

a:hover {
  text-decoration: none;
}


@media (max-width: 978px) {

  .col-footer-ph{
    display: none;
  }
}
#bg-homepage{
  width: 100%;
  border-top: 1px solid #ccc;
}
.coFormbody h4 {
  font-size: 25px;
}
#show-bottom-add {
  background-color: transparent !important;
  font-size: 50px !important;
  color: #098048 !important;
  padding-left: 10px !important;
  bottom: 1000px !important;
  margin-left: 2% !important;
}
.coFormbody {
  padding-left: 50px !important;
  padding-right: 50px !important;
}
@media (min-width: 992px){
  .coFormbody  h2 {
    background-color: #327753!important;
    color: white;
    width: 100%;
    margin-bottom: 20px !important;
    font-size: 36px;
    padding: 15px !important;
  }

}

@media (max-width: 992px){

  .coFormbody h2 {
    background-color: #327753!important;
    color: white;
    padding: 20px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 28%);
  }

}

.navbar_affix #menuTopRight.padding-top-35 {
    padding-top: 10px!important;
}
.navbar_affix #menuTopRight.margin-top-20 {
    margin-top: 0px!important;
}
.navbar_affix .dropdown-menu-top a.dropdown-toggle {
    padding-top: 0px !important;
    font-size: 30px !important;
}

#modalRegister .form-register-inputs .agreeContent {
  display: none;
}
@media (min-width: 768px) {
    .navbar_affix #menuTopLeft .lbh-menu-app, .navbar_affix #menuTopLeft .lbh-urlExtern, .navbar_affix #menuTopLeft .lbh-anchor {
        margin-top: 10px !important;
    }
    /* .navbar_affix #menuTopLeft .menu-btn-top img.image-menu {
        height: 65px!important;
        width: auto!important;
    } */
    .navbar_affix #menuTopLeft .menu-btn-top {
      padding-top: 0px !important;
    }
}
@media (max-width: 767px) {
    .navbar_affix.fadeInDown, #mainNav.fadeIn {
        -webkit-animation-name: none;
        animation-name: none;
    }
}
#modalRegister .form-register-inputs .agreeContent {
  display: none;
}
.dropdown .dropdown-menu .list-filters {
  max-height: 300px;
  overflow-y: scroll;
}