.blue-sommom {
    color:#1B4F95;
}

.sommom-center {
    margin:0px;
    text-align: center
}

@media only screen and (max-width: 1000px){
    .sommom-mobile-center {
        margin:0px;
        text-align: center
    }
}



/* *********** baner ************** */

.sommom-baner{
    font-family: montserrat;
    /*margin-top:-200px;*/
    background-color: #fff;
    font-size: 14px;
    z-index: 5;
    padding-top: 100px !important;
    padding-right: 0px;
}


/***** territoire and carousel *****/

.terr-container {
    border: 1px solid #ddd;
    box-sizing: border-box;
    position: relative;
    height: 120px;
    background: #fcfcfc;
    margin: 5px 10px;
    transition: 0.4s all;
}


@media only screen and (min-width: 1000px) {
    .terr-container {
        /*height: 100px;*/
        margin-top:20px;
        margin-bottom:20px;
        margin-left:auto;
        margin-right:auto;
    }
}

@media only screen and (max-width: 1000px){
    .terr-container {
        height: auto;
        padding: 0 30px;
    }
}

@media only screen and (min-width: 1000px){
    .terr-container {
        height: auto;
        min-height: 120px;
        padding: 0 30px;
    }
}

@media only screen and (max-width: 1200px){
    .terr-container .col-md-10 {
        padding: 0 50px;
    }
}

@media only screen and (min-width: 1200px){
    .terr-container .col-md-10 {
        padding: 0 30px;
    }
}

div.terr-card {
    position: relative;
    width: 350px;
    height: 400px;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    margin : 20px;
}


@media only screen and (max-width: 547px) {
    div.terr-card {
        position: relative;
        width: 300px;
        height: 350px;
        border-radius: 3px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        margin : 20px-;
    }
}


div.terr-card .thumb {
    width: auto;
    height: 260px;
    background: url('<?php echo Yii::app()->getModule('costum')->assetsUrl ?>/images/sommom/bandeau1.jpg'); no-repeat center;
    background-size : auto 260px;
    /*background-size: cover;*/
    border-radius: 3px;
}

div.terr-card .infos {
    width: auto;
    height: 350px;
    position: relative;
    padding: 14px 24px;
    background: #fff;
    text-align: center;
    transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
div.terr-card .infos .title {
    position: relative;
    margin: 10px 0;
    letter-spacing: 3px;
    color: #152536;
    text-transform: uppercase;
    text-shadow: 0 0 0px #32577f;
}

div.terr-card .infos .date, div.terr-card .infos .seats {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 12px;
    color: rgba(21, 37, 54, 0.7);
    font-family: "Grotesque", sans-serif;
}
div.terr-card .infos .seats {
    display: inline-block;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
div.terr-card .infos .txt {
    font-family: "Merriweather", sans-serif;
    line-height: 2;
    font-size: .95rem;
    color: rgba(21, 37, 54, 0.7);
    opacity: 0;
    transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
div.terr-card .infos .details {
    position: absolute;
    left: 10px;
    left: 0;
    margin: 1px 0;
    padding: 10px 24px;
    letter-spacing: 1px;
    color: #4e958b;
    font-family: "Grotesque Black", sans-serif;
    font-size: .9rem;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}

div.terr-card:hover .infos {
    -webkit-transform: translateY(-260px);
    transform: translateY(-260px);
}
div.terr-card:hover .infos .seats, div.terr-card:hover .infos .txt, div.terr-card:hover .infos .details {
    opacity: 1;
}


#btn-show-map {
    height: 0px;
    width: 85px;
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 1000;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#btn-show-map a {
    display: block;
    background:#00495d;
    height: 52px;
    padding-top: 10px;
    width: 155px;
    text-align: center;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
}
#btn-show-map a:hover {
    background:#00495d;
}

#aide {
    height: 0px;
    width: 85px;
    position: fixed;
    right: 2px;
    bottom:  10%;
    z-index: 1000;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#aide button  {
    display: block;
    background: transparent;
    height: 52px;
    padding-top: 10px;
    width: 55px;
    /*text-align: center;*/
    color: orange;
    font-family: Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
}

#aide button:hover {
    color :#00495d;
}

.pagination-section {
    /*margin: 5rem 0;*/
    display: grid;
    place-items: center;
}

.paginationm-ul {
    list-style-type: none;
    display: flex;
}

.paginationm-ul a {
    text-decoration: none;
    background: teal;
    color: #fff;
    padding: 0.75rem 1rem;
    border: 1px solid teal;
}

.paginationm-ul-style a {
    background: #fff;
    color: #1B4F95;
    border: 0px solid teal;
}

.paginationm-ul-style li:not(:last-of-type) a {
    border-right-color: #fff;
}

.paginationm-ul-style a:hover {
    color: teal;
    /*border-right-color: teal !important;*/
}

.terr-title {
    padding-top: 100px !important;
}

@media only screen and (max-width: 700px) {
    .terr-title {
        padding-top: 40px !important;
    }
}

.btn-add-terr{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 0px;
    border-width: 2px;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.owl-carousel {
    position: relative;
    margin-top: 30px;
}
.owl-nav {
    position: absolute;
    top: -25px;
    width : 100%;
    text-align: center;
}

.owl-nav button.owl-prev, .owl-nav button.owl-next {
    background-color: #d6d6d6 !important;
    border-radius: 20px !important;
    padding: 2px 5px 0px 5px !important;
    margin: 5px;
}

.owl-next {
    background: #3286f0;
}
.owl-theme .owl-nav [class*='owl-'] {
    background: #383838;
}
.owl-dots {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.owl-dots button span {
    background: #D6D6D6;
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 30px;
    margin: 5px 7px;
}

.owl-dots button.active span {
    background: #869791;
}



/*organisme*/
.addorganisme{
    margin: 5px;
    cursor: pointer !important;
}

.org-choice{
    display: inline-flex;
}

.org-choice input {
    margin: 5px;
}

.sppec .dropdown-menu {
    width: 300px !important;
}

.img-org {
    max-width: 150px;
    height: 98px;
}

.img-org {
    width: auto;
    height: 98px;
}

.btn-add-org:hover {
    background-color: #f7f6f3;
}

