.cute-card {
  min-height: 40vh;
  border-radius: 20px;
  background: #fcfcfc;
  padding: 5px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  text-decoration: none;
}

.cute-card:hover {
  transform: scale(1.05);
  text-decoration: none;
}
.cute-card:focus {
  text-decoration: none;
}

.cute-card .top-section {
  height: 160px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: inset 1px 1px 6px 1px rgb(29 28 28 / 20%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.cute-card .top-section .border {
  border-bottom-right-radius: 10px;
  height: 20px;
  width: 60%;
  background: white;
  background: #1b233d;
  position: relative;
  transform: skew(-40deg);
  box-shadow: -10px -10px 0 0 #1b233d;
}

.cute-card .top-section .border::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 15px;
  top: 0;
  right: -3px;
  background: rgba(255, 255, 255, 0);
  border-top-left-radius: 10px;
  box-shadow: -5px -5px 0 2px #1b233d;
}

.cute-card .top-section::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  background: rgba(255, 255, 255, 0);
  height: 18px;
  width: 20px;
  border-top-left-radius: 15px;
  box-shadow: -5px -5px 0 2px #1b233d;
}

.cute-card .top-section .icons {
  position: absolute;
  top: -8px;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.cute-card .top-section .icons .logo {
  height: 100%;
  width: 56%;
  aspect-ratio: 10;
  padding: 7px 0 7px 15px;
  color: white;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cute-card .top-section .icons .logo .top-section {
  height: 100%;
}

.cute-card .top-section .icons .social-media {
  height: 100%;
  padding: 8px 15px;
  display: flex;
  gap: 7px;
}

.cute-card .top-section .icons .social-media .svg {
  height: 100%;
  fill: #1b233d;
}

.cute-card .top-section .icons .social-media .svg:hover {
  fill: white;
}

.cute-card .bottom-section {
  margin-top: 15px;
  padding: 10px 5px;
  /* height: 210px; */
  position: relative;
}

.cute-card .bottom-section .title {
  display: block;
  font-size: 17px;
  font-weight: bolder;
  color: #696868;
  text-align: center;
  letter-spacing: 2px;
}

.cute-card .bottom-section .description {
  display: -webkit-box;
  line-height: 2rem;
  min-height: 7.2rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  text-align: justify;
  padding: 4px 4px;
  margin-top: 14px;
}

.cute-card .bottom-section .row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  /* bottom: -6%; */
  position: relative;
}

.cute-card .bottom-section .row .item {
  flex: 30%;
  text-align: center;
  padding: 5px;
  color: #696868d6;
}

.cute-card .bottom-section .row .item .big-text {
  font-size: 16px;
  display: block;
}

.cute-card .bottom-section .row .item .regular-text {
  font-size: 11px;
}

.cute-card .bottom-section .row .item:nth-child(2) {
  border-left: 1px solid rgb(84 82 82 / 13%);
  border-right: 1px solid rgb(84 82 82 / 13%);
}

/* AAC card design */

.commun-card .face,
.commun-card .behind {
  border-radius: 8px;
}

.commun-card .btn-rotate-card {
  position: absolute;
  right: 2%;
  top: 1%;
  background-color: transparent;
  border-color: transparent;
  padding: 2px;
  z-index: 10;
}

.rotating-card-container:not(.manual-flip):hover .card-child,
.rotating-card-container.hover.manual-flip .card-child{
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.rotating-card .rotating-card-container.static:hover .card-child,
.rotating-card .rotating-card-container.static.hover .card-child {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
}
/* flip speed goes here */
.rotating-card .card-child {
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  -o-transition: -o-transform .5s;
  transition: transform .5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.rotating-card .face, .rotating-card .behind {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FFF;
}

/* front pane, placed above back */
.rotating-card .face {
  z-index: 2;
}

/* back, initially hidden pane */
.rotating-card .behind {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
  z-index: 3;
}

/*       Fix bug for IE      */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .rotating-card .face, .behind{
    -ms-backface-visibility: visible;
    backface-visibility: visible;
  }

  .rotating-card .behind {
    visibility: hidden;
    -ms-transition: all 0.2s cubic-bezier(.92,.01,.83,.67);
    transition: all 0.2s cubic-bezier(.92,.01,.83,.67);
  }
  .rotating-card .face{
    z-index: 4;
  }
  .rotating-card .rotating-card-container:not(.manual-flip):hover .behind,
  .rotating-card .rotating-card-container.manual-flip.hover .behind{
    z-index: 5;
    visibility: visible;
  }
}

.commun-card .heading-secondary {
  font-size: 18px;
  font-weight: 700;
  margin-top: 15px;
  letter-spacing: 1px;
}

.results-summary-container__result {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  border-radius: 10px 10px 0 0;
  background-image: linear-gradient(to bottom, #aa076b, #61045f);
  .result-box {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: linear-gradient(-45deg, #ef629f, #42275a);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .result {
    margin-top: -12px;
    font-size: 14px;
    font-weight: 400;
    color: hsl(241, 100%, 89%);
  }
}

.results-summary-container__options {
  padding: 0 16px;
  max-height: 44rem;
  overflow-y: auto;
}

.summary-result-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.result-option {
  width: 100%;
  height: 40px;
  background-color: #707f94;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 3px;
}

.result-option-memory {
  background-color: #43525b;
}

.result-option-verbal {
  background-color: hsl(166, 100%, 97%);
}

.result-option-Visual {
  background-color: #52a643;
}

.icon-box {
  display: flex;
  font-size: 16px;
  align-items: center;
  gap: 2px;
}

.reaction-icon-text,
.memory-icon-text,
.visual-icon-text {
  color: white;
}

.result-box {
  font-size: 14px;
  color: hsl(241, 100%, 89%);
  font-weight: 700;
}

.result-box span {
  font-size: 14px;
  color: white;
}

.summary-result-options .financ-line-desc {
  display: block;
  position: relative;
  border: 1px #d9d9d9 solid;
  border-radius: 8px;
}

.summary-result-options .financ-line-desc .desc-title {
  cursor: pointer;
}

.summary-result-options .financ-line-desc .desc-title {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 1.6rem;
  padding: 10px;
}

.summary-result-options .fin-motif-desc-text {
  max-width: 55%;
  font-family: 'lunchType';
}

.summary-result-options .financ-line-desc .desc-title:not(.collapsed) {
  border-bottom: 1px #d9d9d9 solid;
}

.summary-result-options financ-line-desc .desc-motif.pending {
  color: #F78C6B;
}

.summary-result-options .financ-line-desc .desc-motif {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 0 0 5px;
}

.summary-result-options .financ-line-desc .desc-motif .motif-text {
  display: flex;
  align-items: center;
}

.summary-result-options .montant-financ {
  max-width: 40%;
  min-width: 10%;
  text-align: right;
  white-space: nowrap;
  font-family: 'lunchType';
}

.summary-result-options .financ-line-desc .desc-line {
  flex-grow: 1;
  border-bottom: 2px dashed #000;
  margin: 0 10px;
}

.summary-result-options .financ-line-desc .desc-motif.pending .desc-line {
  border-bottom: 2px dashed #F78C6B;
}

.aac-design.rotating-card .behind .commun-title>* {
  color: var(--costum-color1);
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.7;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  #filterContainerInside {
    display: none;
  }
  
}