.xdsoft_datetimepicker, .dropdown-menu{
    z-index:10000000 !important;
}


.pageContent{
    background-color:#F0F1F7;
    min-height: 100vh !important;
    position: absolute;
    width: 100%;
    /* float: left; */
}

#content-admin-panel{
    background-color: transparent !important;
}

.light-theme .current{
    background: none;
    border: none;
    box-shadow: none;
    color: #2b3b51;
   }
   
   .light-theme .active .current{
        background: #2b3b51 !important;
        color: white !important;
        padding: 2px 10px;
        font-weight: bold;
        font-size: 13px !important;
    }
   .searchObjCSS .searchBar-filters {
            width:80% !important;
        } 
    .searchBar-filters .search-bar,
    .searchBar-filters .main-search-bar-addon {
        border: unset;
        /* border-bottom: solid 1px #2C3E50; */
        /* border-radius: 6px; */
        background-color: white !important;
        padding-bottom: 0px;
        text-align: left;
    }
    .searchBar-filters .search-bar{
        border-radius: 6px 0px 0px 6px;
        box-shadow:7px 1px 2px -2px #2b3b51;
    }

    .searchBar-filters .main-search-bar-addon {
        border-radius: 0px 6px 6px 0px;
    }
    

    .searchBar-filters .search-bar::placeholder {
        font-size:16px;
        color:#bbbbbb;
    }

    .searchBar-filters {
        margin-right: 20px;
        margin-bottom: 10px;
    }

    .searchBar-filters .main-search-bar-addon > i::before, #main-search-bar-addon > i::before{
        content: '\f002' !important;
        
    }
    .main-search-bar + .main-search-bar-addon{
        color: #2b3b51 !important;
    }    

    /* xs style */
    .central-search-bar + #main-search-bar-addon{
        background-color:#2b3b51 !important;
        color:white !important;
    }

    #show-filters-xs{
        background-color:#2b3b51;
        color:white;
    }
    #show-filters-xs:hover{
        background-color:white;
        color:#2b3b51;
    }

    .table>tbody+tbody{
        border:unset;
    }

    #panelAdmin thead {
        color: white;
        /* background: #2b3b51; */
        /* position: relative; */
        font-size: 16px;
        /* border-radius: 8px;
        margin-bottom: 5px; */
    }

    #panelAdmin tbody {
        color: white;
        /* background: #2b3b51; */
        /* position: relative; */
        font-size: 16px;
        /* border-radius: 8px;
        margin-bottom: 5px; */
    }
    
    #panelAdmin thead::after, #panelAdmin tbody::after {
        
    height: 1em;
    display: table-row;
    content: '';
    /* background-color: #f0f1f7; */
    }
    #panelAdmin thead tr{
    border-radius: 8px;
    box-shadow: 0px 0px 0px 5px #2b3b51;
    background: #2b3b51;
    }

    #panelAdmin tbody tr{
    border-radius: 8px;
    box-shadow: 0px 0px 0px 5px white;
    background: white;
    color:#2b3b51;
    }

    /* .panel-body div{
        border:unset;
    } */

    /* #panelAdmin{
        table-layout: unset;
    } */

    #panelAdmin tr{
        border: unset;
    }

    /* handson table   */

    .handsontable thead::before{
        content:'';
        display: table-row;
        height:1em;

    }

    .handsontable thead tr{
       height:40px !important; 
       /* border-radius: 8px; */
       box-shadow: -1px -3px 0px 1px #ffe9c0;
       border-radius: 6px;
    }
   
    .handsontable thead th{    
        border:none !important;
    }

    .handsontable td{
        padding:5px !important;
        font-family: 'customFontfontrfflabsLexend-Light.ttf';
        color: #2C3E50;

    }

    .handsontable tbody tr:first-child td, .handsontable tbody tr td:first-child{
        border-top:none !important;
    }

    .handsontable tbody tr td:first-child{
        border-left:none !important;
        text-align:center;
    }
    .handsontable td, .handsontable th{
        vertical-align: middle;
    }    


    .handsontable td{
        height:40px !important;
    }

    .handsontable th{
        height:50px !important;
        border:none !important;
        background-color : #ffe9c0 !important;
        color: #2C3E50;
        font-family: 'customFontfontrfflabsLexend-Light.ttf';
    }

    
    .handsontable .htDimmed{
        color: #2C3E50;
        font-family: 'customFontfontrfflabsLexend-Light.ttf';

    }

    .handsontable .wtHider{
        height:auto !important;
    }


/* // dynform */
#dropdown-newElement_locality-found, #ajax-modal .select2-container-multi .select2-choices .select2-search-choice {
    background-color: #2b3b51 !important;
    color:white !important;
}    

#ajax-modal #divNewAddress #newAddress, #ajax-modal #sumery #btnValideAddress, #ajax-modal #imageUploader .qq-upload-button-selector {
    color: #fff;
    background-color: #2b3b51;
    border-radius: 10px;
    border-color: #2b3b51;
    border-bottom: 4px solid #2b3b51;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 40%);
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgb(0 0 0 / 20%);
}

.form-input-info-circle, .form-input-info, .form-input-info a, #ajax-modal .control-label i, #modalLogin label i {
    color: #2b3b51 !important;
}    