.btn-primary-ekitia{
    width: auto !important;
    height: auto !important;
    border: 1px solid var(--primary-color) !important;
    padding: 9px 15px;
    border-radius: 2px !important;
    color: var(--primary-color) !important;
    font-size: 18px;
    background-color: transparent !important;
    text-transform: uppercase;
}

.btn-primary-outline-ekitia , .btn-primary-ekitia:hover{
    background-color: var(--primary-color) !important;
    color: white !important;
    padding: 9px 15px;
    border: 1px solid var(--primary-color);
    font-size: 18px;
}

#dropdown_search:not(#communitySearchContent #dropdown_search, #newsstream #dropdown_search){
    min-height: 150px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: flex;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    height: max-content !important;
}

a.lbh-menu-app.active{
    color: var(--secondary-color) !important;
    text-decoration: none;
    border-bottom: 3px solid var(--secondary-color);
}
a.lbh-menu-app:hover{
    color: var(--secondary-color) !important;
    text-decoration: none;
}
.cosDyn-menuTop .cosDyn-right .cosDyn-userProfil{
    color:white;
}

/*#mainNav */.navbar-top {
    padding-bottom: 0px !important;
}

.openChatRC{
    padding-top: 0px !important;
}
/*
.openChatRC i{
    padding: 10px 10px;
    border: 2px solid #444;
    border-radius: 50%;
}*/

.cosDyn-menuTop .cosDyn-badge {
    background: var(--primary-color) !important;
    border: 1px solid #444!important;
    position: absolute;
    left: 65%;
    top: 0px;
}

.cosDyn-menuTop .cosDyn-left .cosDyn-app .cosDyn-buttonList{
    color:white;
}


.bg-yellow-circle::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    z-index: -1;
    margin-left: -1em;
    width: 2em;
    height: 2em;
    background-color: #F9B000;
    border-radius: 50%;
}
.marker-ekitia {
    width: 100%;
    height: 100%;
    border-radius: 50% 50% 50% 0;
    background: #c30b82;
    transform: rotate(-45deg);
}
.marker-ekitia::after {
    content: '';
    width: 65px;
    height: 65px;
    margin: 2px 1px 1px 3px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
}

.ekitia-div-marker img {
    position: absolute;
    width: 65px;
    height: 65px;
    top: 2px;
    left: 2px;
    text-align: center;
    border-radius: 50%;
    object-fit: contain;
}

/** Directory - Card style */

.item-type1 {
    padding: 27px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: flex;
}

.item-type1 .item-inner {
    width: 100%;
    -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
}

.item-type1.blog-item .image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: flex;
    -o-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.item-type1.blog-item .image img {
    height: 180px !important;
    object-fit: contain;
}

.item-type1 .item-inner .item-body {
    padding: 20px 20px 20px;
}

.item-type1 .top-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.item-type1 .desc {
    margin-bottom: 8px;
}

.item-type1 .link-bordered a {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.4rem;
}

@media screen and (min-width: 640px) {
    .link-bordered a {
        padding: 15px 30px;
        font-size: 1.5rem;
    }
}


a:hover{
    text-decoration: none ;
}

a{
    cursor: pointer;
}

.link-bordered a {
    padding: 13px 24px;
    font-family: "Poppins", sans-serif;
    color: var(--primary-color);
    background-color: transparent;
    text-decoration: none;
    border: 1px solid var(--primary-color);
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    letter-spacing: .5px;
    line-height: 1;
    display: inline-block;
    border-radius: 0;
    font-size: 1.5rem;
}

/** Filters - Tab style */
.tab-outer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
	border-bottom: 1px solid rgba(100, 100, 100, 0.1)
}

.tab-outer .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.tab-outer .tabs .term-item {
    padding: 15px;
	text-transform: uppercase;
    font-size: 20pt;
    font-weight: bolder;
}

.tab-outer .tabs .term-item.active a {
    border-bottom: 4px solid var(--primary-color);
}

.tab-outer .tabs .term-item.active a {
    color: var(--primary-color);
}

.tab-outer .tabs .term-item a {
    margin-bottom: -3px;
    border-bottom: 4px solid transparent;
}

.tab-outer .tabs .term-item a {
    font-size: 1.5rem;
}

.tab-outer .tabs .term-item a {
    color: #6E6B6B;
    text-transform: uppercase;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: flex;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
}

.tab-outer .tabs .term-item a::before {
    min-height: 70px;
}

.tab-outer .tabs .term-item a::before {
    content: "";
    min-height: 34px;
    margin-left: -1px;
    width: 1px;
}

.tab-outer .tabs .term-item.active a::after {
    opacity: 1;
}

@media screen and (max-width: 767px){
    .searchObjCSS .searchBar-filters{
        width: 100% !important;
        margin-bottom: 10px;
        margin-right: 10px
    }
    .tab-outer{
        width: 100%;
        justify-content: center !important;
    }
    a.ssmla.btn-menu-tooltips{
        height: auto !important;
        padding: 10px 22px !important;
        margin-bottom: 20px !important;
    }
    .tab-outer .tabs .term-item a::after{
        content: none !important;
    }
    .tab-outer .tabs .term-item{
        width: 100%;
    }
    .pageContent #search-content, .pageContent .live-container {
        padding: 0px 15px!important;
    }
}
.tab-outer .tabs .term-item a::after {
    content: "";
    width: 0;
    height: 0;
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: var(--primary-color) transparent;
    opacity: 0;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    position: absolute;
    bottom: -13px;
    left: 50%;
    margin-left: -10px;
}

.tab-outer .tabs .term-item a .ico-circle {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #ffffff;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.activityselectMultiple label{
    float:none !important
}

#ajax-modal .control-label, #modal-form-bootbox .control-label{
    float:none !important;
}

/*profile*/
.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50%!important;
    -moz-border-radius: 50%!important;
    border-radius: 50%!important
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 7px
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 13px;
    font-weight: 800;
    margin-bottom: 7px
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px
}

.profile-userbuttons .btn {
    margin-right: 5px
}

.profile-userbuttons .btn:last-child {
    margin-right: 0
}

#ajaxFormModal textarea {
    min-height: 150px;
}

#dropdown_search .swiper-slide:not(#communitySearchContent #dropdown_search .swiper-slide){
    width: 100% !important;
    height: 100% !important;
}


.cookie-notice-container {
    padding: 15px 30px;
    text-align: center;
    width: 100%;
    z-index: 2;
}
.cn-text-container {
    margin: 0 0 6px 0;
}
#cookie-notice .cn-button:not(.cn-button-custom) {
    font-family: -apple-system, BlinkMacSystemFont, Arial, Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: .25px;
    line-height: 20px;
    margin: 0 0 0 10px;
    text-align: center;
    text-transform: none;
    display: inline-block;
    cursor: pointer;
    touch-action: manipulation;
    white-space: nowrap;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    padding: 8.5px 10px;
    line-height: 1;
    color: inherit;
}
#cookie-notice .cn-button {
    margin: 0 0 0 10px;
    display: inline-block;
}
#cookie-notice {
    position: fixed;
    min-width: 100%;
    height: auto;
    z-index: 100000;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 20px;
    left: 0;
    bottom: 0;
    text-align: center;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, Arial, Roboto, "Helvetica Neue", sans-serif;
}


#menu-settings .link-docs-menu {
    padding-top: 12px
}

#menu-settings .link-docs-menu.active {
    background-color: var(--primary-color) !important;
    color: white;
}

.btn.active, .btn:active {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.div-btn-setting a.btn-setting-update:hover span, .div-btn-setting a.btn-setting-update:active span, .div-btn-setting a.btn-setting-update:hover focus {
    color: #3f4e58;
}

.div-btn-setting a.btn-primary, .div-btn-setting a.btn-setting-update {
    padding: 7px !important;
}

.div-btn-setting a.btn-primary {
    background-color: #3f4e58;
}

.div-btn-setting a.btn-setting-update:hover, .div-btn-setting a.btn-setting-update:active, .div-btn-setting a.btn-setting-update:focus {
    background-color: var(--primary-color) !important;
}

.btn-show-block {
    border: 2px solid var(--secondary-color) !important;
}

.btn-show-block:hover {
    background-color: var(--secondary-color) !important;
    color: #fff;
    border: 2px solid var(--secondary-color) !important;
}

.btn-n-icon {
    background: #3f4e58;
    margin-right: 4px;
    float: left;
    width: 48px;
    height: 37px;
    font-size: 25px;
    line-height: 36px;
    color: var(--secondary-color) !important;
    border-radius: 4px;
    text-align: center;
    margin-top: 4px;
    margin-left: -10px;
}

.modal-body .info .confidentialitySettings.active, .setting-container .confidentialitySettings.active {
    background-color: var(--secondary-color) !important;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
    border: 1px solid var(--secondary-color) !important;
}

.settings-header {
    text-align: center;
    color: #3f4e58;
    border-bottom: none !important;
}

.notificationsPod, #myAccount-settings {
    margin-top: 40px;
    border: 2px solid #ddd !important;
    box-shadow: none !important;
    border-radius: 5px;
}

.setting-cont-2 {
    box-shadow: none !important;
    border: 2px solid #ddd;
}

.btn-show-block span {
    padding-top: 6px;
}

.btn-show-block span:first-child, .btn-show-block i:first-child {
    margin-right: 16px;
}

#ajax-modal .form-group.projectsInProgresslists {
    width: 100%;
    margin-left: 5%;
}
#ajax-modal #listContainerprojectsInProgress .form-group {
    width: 100%;
    margin: 0;
}


.agreeMsg .bootbox-spp{
    text-decoration: underline !important;
}

.uppercase{
    text-transform: uppercase;
}

.lowercase{
    text-transform: lowercase !important;
}

#modal-preview-coop, .portfolio-modal{
    z-index: 300 !important;
}

#filters-nav{
    z-index:29 !important;
}

#profil_fileUpload img{
    background-color: white
}